[2022-03-12 19:05] hoffie commented on #2482
:(
Not sure if it's worth it then.

What we probably could do though is try to build those four architectures in parallel (different steps), upload them as intermediate artifacts and run the bundling (or whatever it is called) in another step afterwards. I have no idea if the qmake/Android build tooling is made for this (I suppose it's not) and I'm not convinced that it's worth the effort and the

[2022-03-12 19:40] ann0see commented on #2482
Agree.

[2022-03-12 20:22] bawbgale opened #2492 "Effect of MIDI fader audio changes lags behind UI changes"
**Describe the bug**
Attempting to use MIDI control for the first time. Launching the Mac client with this command:
`open -a "Jamulus.app" --args --mutestream --ctrlmidich "1;f70*8"`
The effect of my MIDI controller knobs on the corresponding Jamulus fader UI controls is immediate, but the effect on the actual audio level lags behind by ~10 seconds. If I do the same action by manipulating the UI f

[2022-03-12 20:32] ann0see commented on #2390
I hope this issue is now fixed. Closing since it doesn't seem to be Jamulus related. Please re-open if necessary.

[2022-03-12 20:32] #2390 closed

[2022-03-12 20:54] hoffie commented on #2492
Thanks for the report.
From a quick glance, MIDI input re-uses the same logic as the UI, so I'm a bit surprised.
I'm wondering if it the MIDI controller might generate lots of events for minimal increases which creates some kind of backlog for events or packets somewhere?
To prove this, we would either need to add some kind of debug output or -- if we suspect something on the network -- a packet d

[2022-03-12 21:41] pljones commented on #2467
Guess so - whilst the method shouldn't be called, calling it should therefore return an invalid result rather than the wrong value.  Any value that _won't_ get you AT_CUSTOM if you try to set it will do -- and as it's a string, you get AT_CUSTOM pretty much for any string, I think.  That may limit the options to nullptr.

[2022-03-12 21:55] softins commented on #2492
Bob first reported this on Facebook. This was one of my replies:

[2022-03-12 22:00] softins commented on #2492
Thinking about it a little more, a fader level change message is a connected-mode message, so needs to be acked. Does Jamulus wait for the ack for a message before sending the next queued message? If so, and a sudden big fader movement queues up say several tens of level change messages, there will be a full round-trip latency between each level change message gets sent, taking quite a while to wo

[2022-03-12 22:08] pljones commented on #2492
The client code should be able to limit the number of messages - 128 updates plus acks on one fader shouldn't be too bad but, if the client is sending a message regardless of whether the value _actually changed_, then it could be swamping the server (and itself).

[2022-03-12 22:10] softins commented on #2492
I have `tcpdump` on my Mac, but I can't remember how I got it on there. The executable is less than a year old, so it certainly didn't come with it.

[2022-03-12 22:24] softins commented on #2492
Any change, even an insignificant one should find its way to the server. What I would do is something like this:

1. Each fader channel will have an associated one-shot timer, of say 200-250ms.
2. When a fader level changes, if the timer is running, it just locally stores the new, unsent value. Otherwise, it queues a level change message for the new value, stores the sent value for later compariso

[2022-03-12 22:27] Rob-NY opened #2495 "JSON-RPC: Send a broadcast chat to all connected channels"
**What is the current behaviour and why should it be changed?**

Create the ability to send a broadcast chat message to all connected clients via the JSON-RPC api.  This would be a general capability that would allow rpc users to automatically send messages to all connected clients for a variety of use-cases.

**Describe possible approaches**

Presently this is not possible because all methods on

[2022-03-12 22:28] hoffie commented on #2492
Agreed.
However, if we confirm that the existing logic doesn't check for non-changes at all (as @pljones hinted), this might be a rather trivial fix, it might be sufficient (if we accept 128 (?) messages, worst-case) and it might save us from adding the timer-based approach.

[2022-03-12 22:35] hoffie commented on #2495
Without having looked at the actual approach, I just want to point out that @dtinth seems to have something like this here: https://github.com/dtinth/jamulus/commit/f37450b0ef86482cbc35f9bb06bff848a3c885ee

[2022-03-12 23:00] Rob-NY commented on #2495
You are correct.  Server-level chat (both send and broadcast-received) was in an early version of @dtinth code but it didn't make it into the merge as far as I can see.  I suspect it had to do with trying not to impact server.cpp with the initial RPC introduction.  What do you think is the best approach for trying to reintroduce some of these?  One by one as I'm doing here, or with a more broad fe

[2022-03-13 00:09] hoffie commented on #2481
Due to other changes, the difference between run_codeql true vs. false is no longer large. I'm therefore not planning to add this at the moment.

[code]

[2022-03-13 00:09] #2481 closed

[2022-03-13 08:17] hoffie opened #2500 "Autobuild: Fail if artifact1 can't be uploaded"
**Describe the bug**

The artifact1 job release upload is conditional. If the step output isn't filled, no upload happens.

**To Reproduce**

**Expected behavior**

Th artifact1 upload should not be conditional. All build jobs have at least one artifact. The job should fail if no file is uploaded.
- [x] Job upload
- [x] Release upload

[2022-03-13 08:39] pljones commented on #2492
@softins - we don't need MIDI to have a higher resolution than the client UI faders.  IIRC they have no more than 100 discrete values.  128 values for MIDI is about the same.  But generally people click on a position on the UI to change fader position, sending one new, distinct value, whereas with MIDI, the fader moves through all the values.  And because the hardware controller may be sending a "

[2022-03-13 08:52] #2434 closed

[2022-03-13 11:51] hoffie opened #2503 "Autobuild: Combine scripts into single script per-platform"
**What is the current behaviour and why should it be changed?**

- The autobuild scripts have grown a lot and are hard to reason about.
- Code is duplicated within the same platform (GITHUB_WORKSPACE handling), across platforms (e.g. mac & ios are very similar, yet they are copies).
- They rely on the discouraged, insecure Github feature `ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'` (which could be wo

[2022-03-13 13:29] ann0see commented on #2503
In a perfect setup I'd like the following:

.github/autobuild :

windows/linux/... scripts set up the environment

The autobuild script calls a build script - which could also be run locally, which

1. Builds and packages Jamulus
2. Moves the files to deploy/

[2022-03-13 13:50] #2500 closed

[2022-03-14 08:11] #2467 closed

[2022-03-14 08:53] dtinth commented on #2495
Yes, that is one of the reasons that it is not included.

Another reason being, some objection has been raised about having such powerful feature in the main Jamulus source code. Allowing JSON-RPC clients to interact with the system would make it easy for server operators to **eavesdrop messages** and **impersonate users** in the chat. It would [violate the Privacy Statement](https://jamulus.io/wi

[2022-03-14 12:36] Rob-NY commented on #2495
I agree with @dtinth as we have very similar use-cases.  Further, the privacy statement reads as if Jamulus is a service and makes claims that cannot be enforced.  Frankly, I would be more inclined to have Jamulus, as an open-source **application**, distance itself as far away from any statements of application-use privacy as possible since it cannot make any representation about how an operator w

[2022-03-14 20:11] ann0see commented on #2495
Please open a discussion on this topic. I think the exact wording needs to be discussed somewhere (what about privacy on the public directory servers,...)

[2022-03-14 20:12] ann0see commented on #2495
@dtinth Maybe we could give the text a prefix: [Server]:

[2022-03-15 21:26] ann0see commented on #2503
@hoffie I just added a iOS deploy script: https://github.com/ann0see/jamulus/tree/feature/iOSBuildScript with a few improvements. If possible, this script should be used in the refactored build process to have deploy scripts for each platform.

[2022-03-15 22:33] ann0see opened #2513 "Rename ChangeLog to ChangeLog.md to enable Markdown format (and change release scripts)"
**What is the current behaviour and why should it be changed?**
Curently the ChangeLog doesn't support styling but includes markdown format since the content gets copied to the release notes. It would be good to rename the file to ChangeLog.md to allow formatting. This implies a change in multiple files and probably different styling.

**Describe possible approaches**
Change the Headlines to `## <

[2022-03-15 22:44] hoffie commented on #2513
One thing to consider is that ChangeLog or CHANGELOG is a pseudo-standard name and people or tools might look for exactly that name.
The Changelog is also parsed as part of our Debian package build process.

[2022-03-16 10:06] gilgongo commented on #2417
BTW I've updated the requirements to make the logo not needed. For the installer and About screen it says in 3.b  'the Licensee shall display “ASIO” and Steinberg’s copyrights notice **or** the ASIO compatible Logo and Steinberg’s copyrights notice' and for the website, '“ASIO” and Steinberg’s copyrights notice **or** the ASIO compatible Logo and Steinberg’s copyrights notice on any product websit

[2022-03-16 11:10] hoffie opened #2515 "Docs: Remove windows/qt-installer-windows.qs / Update COMPILING.md?"
**What is the current behaviour and why should it be changed?**

[COMPILING.md](https://github.com/jamulussoftware/jamulus/blob/674c657b5fed4ba2ad7e8a3e7201fd3c1fe8ca8b/COMPILING.md#windows) seems outdated and non-optimal.

**Describe possible approaches**

- [ ] qt-installer-windows.qs does not seem to be used anywhere (besides the manual compilation instructions). Should we link to the autobuild

[2022-03-16 17:26] softins commented on #2492
I have done some tests with this, which confirm my initial suspicions.

I have a M-Audio Keystation mini 32, which has a single volume knob on CC #7. I connected it by USB to my Pi and in `qjackctl` selected the `raw` MIDI driver. I started Jamulus with `Jamulus --ctrlmidich '1;f7*1'`, and then in `qjackctl` I needed manually to connect System `midi_capture_1` to Jamulus `input midi`. This allowed

[2022-03-16 19:36] bawbgale commented on #2492
@softins Great investigation! As I recall, the servers I was connecting to during my test were fairly distant, like ~150-200ms. I was doing this early AM Seattle time, and just looking for any public server with a live jam underway that I could eavesdrop upon, so those were primarily in Europe at that time of day.

[2022-03-16 20:38] ann0see commented on #2515
It was introduced here: https://github.com/jamulussoftware/jamulus/commit/ec999f0265c0bbb0643bb5fb949784bae13a627f

I think @braindef should know more about this file. I think it's no longer needed since we're not using Travis anymore.

[2022-03-16 21:23] ann0see commented on #2515
Ok. No problem. I think we can safely remove it then.

[2022-03-17 04:03] dubnemo commented on #116
@npostavs  On my Raspberry Pi4 8G, Pi OS 64bit - clean install....

[code]

Project MESSAGE: building version "3.8.0dev-nogit" (intermediate without git repository)
Project MESSAGE: Jack Audio Interface Enabled.
Project ERROR: jack development package not found

**It this because the portaudio libraries are not found?  i.e., dependency not installed?
Or are you really requiring libjack-jackd2-dev

[2022-03-18 02:49] npostavs commented on #116
You need `qmake CONFIG+=portaudio` to enable it. I'm not entirely sure if it would build without jack dev files though (because portaudio has the option to use jack also). If it fails, you can try instead `qmake 'CONFIG+=portaudio portaudio_shared_lib'` which uses existing portaudio dev files instead of compiling from the git submodule.

[2022-03-18 06:31] #2515 closed

[2022-03-18 13:21] dubnemo commented on #116
Thanks, Noam @npostavs.  I will try that later today.  I am trying to avoid
spinning up the jackd daemon, as you know.  Based on the prior screen
shots, only Jack showed in the droplist, not direct devices from
portaudio.  Hence why I started from scratch with the new Pi OS and
re-configured the HiFi Berry.
Scott

On Thu, Mar 17, 2022 at 9:49 PM Noam Postavsky ***@***.***>
wrote:

[2022-03-18 18:28] pgScorpio opened #2519 "Connection status client and gui can get out of sync."
**Describe the bug**

There are several occasions where Client connection and GUI can get out of sync.
If this is the case the gui will show connected state (and disconnect button) while still connected or the gui will show disconnected state (and connect button) while not connected.
Also there are cases where GUI shows the "Disconnect" button, but opens the "Connect" dialog when pressed.

**To Re

[2022-03-18 23:26] th3Kan0b opened #2522 "Not Responding when Interface is selected in Audio/Network Settings"
**Describe the bug**
<Every time I select USB Focusrite ASIO from the drop down menu, Jamulus freezes and shows not responding.  Everything else works as normal until the interface is selected -->

**To Reproduce**

**Expected behavior**

**Screenshots**

**Operating system**

**Version of Jamulus**

**Additional context**

[2022-03-19 16:54] hoffie commented on #2475
Looks like a `-D FIXED_POINT` might suffice based on [opus' configure.ac](https://github.com/jamulussoftware/jamulus/blob/9d32a72ad67740c82901498b49d16f995a4f56ba/libs/opus/configure.ac#L126). We could add that define in Jamulus.pro when building for armhf.

@ann0see We should probably investigate whether this might make sense for Android/iPhone as well. Might want an extra issue.

[2022-03-19 19:38] hoffie opened #2528 "Qt6: Android compatibility"
**What is the current behaviour and why should it be changed?**

Jamulus will fail to build with Qt6 even when #2299 is merged as it uses androidextras for permission handling, which is no longer available.

**Describe possible approaches**

1. Stay on unsupported Qt 5.15.2
2. Use the private implementation when building against Qt6 as described in the relevant [Qt ticket](https://bugreports.qt.io

[2022-03-19 21:06] ann0see commented on #1737
Comment by @hoffie in #2527 related to my suggestion of adding hash verification:

Well, but where do I get the hash from in the first place? I would have to download from the very same source, so the only protection benefit would be a benefit over time, i.e. if Google became malicious or a malicious actor could replace the file there.
We aren't handling that attack vector anywhere else either (Qt

[2022-03-19 21:13] hoffie commented on #1737
Ah, now I understand what you're after. :)

This issue was mainly created for the referenced Github actions. The idea is to use hashes here in order to do version pinning on immutable versions (v1.2.3 are tags which are mutable, IIRC).

I think we have to distinguish several scenarios:
- Is the publisher equal to the author? In case of Github actions, that's not the case. Github is the publisher (

[2022-03-19 22:32] pljones commented on #2528
I've no desire to move off 5.15.2.

[2022-03-20 12:13] pljones opened #2531 "Jamulus ARM build ignores "headless""
**Describe the bug**
(Raised from a discussion with @dcorson-ticino-com about ARM 32bit build dependencies.)

When running `qmake`, one of the options is `headless`, which is intended to remove dependency upon Qt UI components and produce a lighter runtime that only has a command line interface.

On Linux amd64 / x84_64, this behaves as expected.

On ARM64, however, it appears the Qt UI components

[2022-03-20 15:25] hoffie commented on #2531
Can someone confirm that this happens on a `make clean` build? Based on the chat, I'm not sure (but haven't try myself yet). I just notice that the newly provided armhf headless .deb does not show this behavior (but it's a cross-build, so it might be different).

[2022-03-20 16:50] hoffie commented on #2531
I cannot reproduce this on `armhf` (Arch Linux arm, 32bit).
[code]
(No libQt5Gui dependencies)

So either this is aarch64-specific or there are other factors (I'm suspecting a non-clean build).

[2022-03-20 19:38] pljones commented on #2531
OK, looks like it was a missing `make distclean`.

[2022-03-20 19:38] #2531 closed

[2022-03-20 20:59] ann0see commented on #2528
There's probably mostly a need for other OS which have potential (security) issues.

[2022-03-21 18:01] dcorson-ticino-com commented on #2459
Why limit this to just Android ?

[2022-03-21 21:54] dubnemo commented on #116
@npostavs
First approach didn't work, and second approach is missing the header file.
[code]

[2022-03-21 22:35] elliotclee commented on #116
What's the path to portaudio.h on your system?

If you can find the file then it probably needs to be added to the gcc command line as a -I option.

If you can't find the file you may need to install a portaudio-devel package (or another package name) that has the headers in it.

Elliot
________________________________
From: Scott T Nieman ***@***.***>
Sent: Monday, March 21, 2022 5:54:15 PM
To: j

[2022-03-21 22:55] dubnemo commented on #116
@elliotclee that is exactly what I am looking for now on my Raspberry Pi OS 64.  This was a clean install, bypassing libjack-jackd2-dev (if you caught that above).

[2022-03-21 23:26] elliotclee commented on #116
The development package is called
portaudio19-dev

At least in Ubuntu. If that's already installed, then list the files in it and grep for portaudio.h

Elliot
________________________________
From: Scott T Nieman ***@***.***>
Sent: Monday, March 21, 2022 6:55:14 PM
To: jamulussoftware/jamulus ***@***.***>
Cc: elliotclee ***@***.***>; Mention ***@***.***>
Subject: Re: [jamulussoftware/jamulus] Add

[2022-03-21 23:47] dubnemo commented on #116
Am I reading this correctly, that portaudio depends on Jack?

[code]

[2022-03-22 00:37] elliotclee commented on #116
Yes, because portaudio can act as an abstraction layer on top of Jack. If you don't want Jack installed then you'd need to build your own custom portaudio19 packages.

Elliot
________________________________
From: Scott T Nieman ***@***.***>
Sent: Monday, March 21, 2022 7:47:33 PM
To: jamulussoftware/jamulus ***@***.***>
Cc: elliotclee ***@***.***>; Mention ***@***.***>
Subject: Re: [jamulussoftwa

[2022-03-22 01:15] npostavs commented on #116
I'll try to add an option to the Jamulus project file to compile portaudio without jack.

[2022-03-22 07:40] pljones commented on #2459
Because it would be at platform level, not common across platforms.

[2022-03-22 10:48] elliotclee commented on #116
Noam, it might be a bit more involved than that. I remember seeing somewhere that Jamulus only compiles portaudio on win32, and Scott is running Raspberry Pi (aka Debian/Ubuntu-ish Linux).

Elliot

________________________________
From: Noam Postavsky ***@***.***>
Sent: Monday, March 21, 2022, 9:15 PM
To: jamulussoftware/jamulus ***@***.***>
Cc: elliotclee ***@***.***>; Mention ***@***.***>
Subjec

[2022-03-22 12:26] npostavs commented on #116
I wrote Jamulus' portaudio code so I have an idea about how involved it is ;)

Initially I only did it for win32, but later extended it to unix & macOS platforms (although I don't recall if anyone ever tested on macOS so it may not actually work).

[2022-03-22 20:05] pgScorpio opened #2537 "Add Local- and Server- buffererror detection in CChannel"
**What is the current behaviour and why should it be changed?**

Adding JitterBuffer error detection for both client and server side errors in CChannel.
(Preparation for issue #2524. As discussed in issue #2524)
At this moment there is only a jitterbuffer error detection for the client side, implemented in CClient.
A better way of detection can be implemented in CChannel and also the protocol will

[2022-03-22 20:28] pgScorpio opened #2538 "Adding global messagebox and commandline parameter parsing classes."
**What is the current behaviour and why should it be changed?**

Currently messageboxes for errors, warnings and info are created all over the code. Disadvantage is that they don't have a parent dialog and are inconsistent in message title.

Also commandline parameters are now parsed by several functions in main and passed via-via through several constructor parameters. A class accessible anywhere

[2022-03-22 21:06] ann0see commented on #2538
Great! Thanks for opening an issue. I think it is possible to have a PR with only the class and some mi or code changes?

[2022-03-22 21:22] pgScorpio commented on #2538
@ann0see

As a matter of fact this can be implemented with only changes in global.h and main.cpp.
It does not have to be actually used anywhere else in the code yet...
Though the message boxes can already be used on several places, that could be another PR. Even someone else could pick up changing all message boxes to the new implementation.)

The no longer needed (nor wanted) commandine parameter

[2022-03-22 21:30] ann0see commented on #2538
I think everything in the scope of this issue can be put into one PR.
Other people should comment, but I‘d be fine with not splitting the error messages out.
I‘d not be OK with big visible UI changes or sound related changes in one big PR if not absolutely necessary.

[2022-03-22 23:28] dubnemo commented on #116
@elliotclee  @npostavs
I noticed the latest PortAudio will not compile on Raspberry Pi4 without edits, hopefully resolved on the next V19.8 milestone.
https://github.com/PortAudio/portaudio/issues/683

[2022-03-22 23:53] jujudusud commented on #116
On portaudio's website, they say :

If you compile portaudio yourself without JACK installed, then it doesn't use JACK?
Take a look at this page : [Compilation guide for Linux](http://www.portaudio.com/docs/v19-doxydocs/compile_linux.html)

[2022-03-22 23:53] dubnemo commented on #116
Is it fair to state the minimal viable product for a PortAudio build for RPi4 would only need these files?
portaudio.h
pa_devs.c
pa_linux_alsa.h
=============
Ref:
http://files.portaudio.com/docs/v19-doxydocs/files.html

[2022-03-22 23:54] bawbgale commented on #2492
@softins I just tried that build with a server 160ms away and it works much better! MIDI controller changes take effect very quickly. Thank you!

[2022-03-23 08:25] pljones commented on #2538
I'm working on that.

[2022-03-23 08:39] hoffie commented on #2537
Sounds useful to me.

That's not an issue, IMO. :)

I'm not entirely convinced whether it's better to re-use and overload this existing protocol message (it's related, but the original meaning is different) or whether to add a new protocol message for this (this is not a problem for backwards-compatibility; changing existing messages would be). I'd tend towards the latter.

It would allow server-s

[2022-03-23 10:33] dtinth commented on #2495
Updated commit link on top of `r3_8_2nightly1`: https://github.com/dtinth/jamulus/commit/d8469480b0f9408b5b46ad3f668ae1b95fc73955

[2022-03-23 16:17] pgScorpio commented on #2538
@pljones

I already have it in my own jamulus repo and I would like to push it but, again, I don't know how to open a PR for this issue and push it to jamulus master.

@ann0see (Hate to say it, but I'm getting really tired of all those github related issues.)

[2022-03-23 17:15] ann0see commented on #2538
@pgScorpio let‘s have a Video call this evening. When would you be available?

[2022-03-23 17:50] ann0see commented on #2538
Ah ok. Would tomorrow evening be ok? Probably we should limit it to ~ 1h. I‘d prefer to not start before 20:00

[2022-03-23 19:25] hoffie commented on #2503
I think that's already the case, isn't it?

Do you mean without a `set-output` line?
That should be possible via two ways:
- We can use wildcards. This would be the simplest solution.
- We can pre-specify the final artifact name via the build matrix.

If we do the latter, we could even turn around: Stop moving files around in the build scripts at all and just let them output the path to their resu

[2022-03-23 19:32] hoffie commented on #2503
BTW, a surprising side effect of the cleanups is that despite dropping tons of workarounds and extra logic, the scripts actually have way less Github-specific code and *can* actually be run independent of the workflow. Only a single variable has to be set manually. It's still not advisable to run them (especially the `setup` stage) on a regular machine as it performs system-wide changes, but it ca

[2022-03-23 19:34] ann0see commented on #2503
Exactly that. I think the only build script which doesn't do that is the debian one. It moves a bunch of files needed for repo generation one folder up.
I'd personally like to avoid the mv step if possible.

***

Good to know about your explanation. for the commit you mentioned.

[2022-03-23 19:38] ann0see commented on #2503
Basically an improvement would look like that:
Build script produces binary (preferably already with correct name)
--> The GitHub workflow gets all files matching a specific regex from deploy/ renames them and uploads them to the job.

[2022-03-23 20:41] hoffie commented on #2503
I think that's doable.

This has both advantages and disadvantages. Not sure how many people are using the $platform/deploy* scripts locally, but "correctly" named output names might be a bit annoying to work with in <edit> <commit> <build> <run> cycles as one couldn't reuse the existing command to start Jamulus (at least when not thinking to add wildcards). But that might be hypothetical...

Not

[2022-03-23 20:49] ann0see commented on #2503
I think currently every build script uses a different naming pattern. I think the first step would to make all of them producing roughly the same:

jamulus_<platform>_<arch>.<ext>

What's the advantage/disadvantage of 1.a and 1.b? I think we're probably just shifting complexity around. I think b sounds cleaner, but I'm not sure if that's really the case I'd still want a standard naming.

[2022-03-23 22:41] ann0see opened #2545 "Upgrade Oboe to latest commit to fix CodeQL errors"
**What is the current behaviour and why should it be changed?**
Currently CodeQL fails due to Oboe issues. Since https://github.com/google/oboe/pull/1507 got merged they should be fixed

**Describe possible approaches**
* Wait for official release and live with warnings

*  backport changes

* pin the current master commit

**Has this feature been discussed and generally agreed?**
No

[2022-03-23 22:45] hoffie commented on #2545
Hrm, this would be very good to have.

Current master has a large amount of changes compared to the last released version (which we currently use):

[code]

Backporting would imply including the source instead of using a submodule, I guess? Not nice either :(

[2022-03-23 22:46] pljones commented on #2545
Can you list the merges, rather than the diff?  That might be a quick start.

[2022-03-23 22:52] hoffie commented on #2545
No merges there, therefore, a one-line log:
<details>
<summary>~/Projects/jamulus/libs/oboe$ git log --format=one HEAD..origin/main</summary>

[code]
</details>

[2022-03-23 22:56] #2492 closed

[2022-03-23 23:08] hoffie opened #2546 "CI: Run Python syntax check"
**What is the current behaviour and why should it be changed?**

We've got some Python scripts, but we don't have static code checkers active.

**Describe possible approaches**

We should have checks for
- coding style
- errors which can be detected statically

pyflakes?

**Has this feature been discussed and generally agreed?**

Roughly via Chat.

[2022-03-24 08:27] pljones commented on #2546
What do the python scripts do?  I mean are the part of workflows or what?  How do they impact the project?

[2022-03-24 20:19] ann0see commented on #2545
According to this comment https://github.com/google/oboe/issues/1506#issuecomment-1078165010

the master branch of oboe is clean

[2022-03-26 07:09] ann0see opened #2552 "Investigate differences in clang format in CI and Windows"
**Describe the bug**
@pljones and @pgScorpio experienced unexpected clang format failures: see #2550 and #2551
**To Reproduce**
?

**Expected behavior**
Clang format on Windows should format the same as on the CI. I expect some unknown incompatibility.

**Screenshots**

**Operating system**
Windows and Linux

**Version of Jamulus**
N/A
**Additional context**
@hoffie

[2022-03-26 08:32] pljones commented on #2552
I'm running it on Linux, not Windows.

[2022-03-26 08:56] ann0see commented on #2552
Ok. Thought you were developing on Windows too.

https://github.com/jamulussoftware/jamulus/blob/56092960981a979ec0b73244f13c90b5d55d9695/.github/workflows/coding-style-check.yml#L20

It’s clang format 10 probably?

[2022-03-26 09:36] pljones commented on #2552
I just tried running the clang-format check workflow on my repo:
https://github.com/pljones/jamulus/runs/5702476683?check_suite_focus=true
run against
https://github.com/pljones/jamulus/commit/b995489be5c48f1d0ee2c89faba7f052efbb5535

So it's weird...

[2022-03-26 12:21] pgScorpio commented on #2552
I'm using clang-format Version 13.0.1 on Windows and macOS and Version 10.0.0-4ubuntu1 on Linux.
Both give the same result locally, but often auto-build does not have the same result.

1. auto-build clang-format breaks long lines too soon (config says ColomnLimit 150, but auto-build clang-format breaks sooner (just try a line of 149 chars long.).
2. auto-build clang-format does sometimes not align

[2022-03-26 13:14] ann0see commented on #2552
Thanks for your comment. If I find time for it I’ll check what my clang-format does (but it should also be clang-format 10)

@passing knows clang format well, so he might know what goes wrong.

[2022-03-26 13:55] dcorson-ticino-com commented on #2552
I had the same problem on my Qt6 work.
clang-format all OK locally on Win10, had errors when run on github.

[2022-03-26 15:18] hoffie commented on #2552
I didn't have time to investigate all hints yet, but I mainly suspect discrepancies in clang-format versions to be the cause.

I've checked https://github.com/jamulussoftware/jamulus/runs/5704004785?check_suite_focus=true (e36d3d675cf720881a638c548eefdfd1ef0960d9):
- This fails in CI
- clang-format 13.0.1 feels that it is clean and should not be changed.

I don't have a good idea what to do about

[2022-03-26 17:30] npostavs commented on #116
Okay, I actually had forgotten that the non-win32 support was only for the shared lib config, so it was slightly more involved than I realized. But I think the following patch (or [git commit here](https://github.com/npostavs/jamulus/commit/7c7ab672a01cae400b689c60201868b8d9ab921b)) against the feature branch should work (I tested on my Linux box, though I don't have rPi so I can't guarantee it wi

[2022-03-26 20:23] pljones commented on #2552
What is the output of `clang-format --version` for the CI clang-format?

[2022-03-26 20:42] pgScorpio commented on #2552
@hoffie

Indeed. As said I use Version 13.0.1 on Windows and macOS and Version 10.0.0-4ubuntu1 on Linux.

And locally they all agree.
I cross-checked all of them by running `make clang_format` on the exact same repo on a USB drive on all three OS'es.
Both macOS and Linux give no change at all on the Windows clang-formated repo, so they all give the same result.
I even wondered if clang-format was

[2022-03-26 22:51] pgScorpio opened #2553 "COMPILING.md, CONTRIBUTING.md and other docs's need a major update"
**Describe the bug**

COMPILING.md, CONTRIBUTING.md and other documentation is incomplete and unclear for new contributors.
**To Reproduce**

Just one simple example:
There are several `make` commands suggested in the documentation, but nowhere is stated that you have to run **`qmake Jamulus.pro`** before you can use any` make` command like `make clang_format`.

Also there are many prerequisites m

[2022-03-27 11:55] pljones opened #2555 "SIGINT handler for Linux headless server does not unregister"
**Describe the bug**
Stopping the headless Server should unregister from any Directory with which it is registered.  If this is not done, a "ghost entry" remains in the directory list (visible when a client runs with `--showallservers` or in Jamulus Explorer).

Current behaviour is that the headless Server does _not_ unregister.

**To Reproduce**
[code]
![image](https://user-images.githubuserconte

[2022-03-27 15:48] mugnaio opened #2557 "Crash with latest MOTU drivers"
I installed latest MOTU M2 drivers for windows (4.09.0087) and jamulus won't work anymore. When i chose "MOTU M Series" from divers list the software stop responding. IT work fine with ASIO4ALL but obviously this is not an option for me.
All other software work fine with those drivers.

[2022-03-27 16:00] mugnaio commented on #2557
I rolled back drivers to 4.09.0045 and with those it works, so problem seems related to latest drivers.

[2022-03-27 16:11] dubnemo commented on #116
@npostavs

used qmake CONFIG+=portaudio

it was going so well until this...

[code]

[2022-03-27 16:13] dubnemo commented on #116
trying qmake 'CONFIG+=portaudio portaudio_shared_lib'

[2022-03-27 16:18] npostavs commented on #116
Hmm, looks like it's failing to link portaudio sources, I don't understand why.

[2022-03-27 16:30] dubnemo commented on #116
qmake 'CONFIG+=portaudio portaudio_shared_lib'
make
that did not return any errors BUT on RPi4 Jamulus was not added to the menu.  I am trying again..
Compiling.md definitely requires this on RPi4
sudo apt install portaudio19-dev
Once PortAudio 19.8 is available, I will try to build a slim MVP package.

[2022-03-27 16:47] dubnemo commented on #116
I suspect this is due to the PortAudio 19.7 package I installed:

![2022-03-27-114320_1920x1080_scrot](https://user-images.githubusercontent.com/32434235/160291804-d386c7d9-7a8b-4c22-b21d-70faf5d65c41.png)

[2022-03-27 16:48] npostavs commented on #116
Oh, I forgot to mention you have to run with `Jamulus --api ALSA`.

[2022-03-27 17:03] ann0see commented on #2557
I think there already was an issue reported about that and I thought the  company fixed a bug after a support request was made.

[2022-03-27 19:08] npostavs commented on #2557
Yes #2390 looks the same. I don't see any indication of a fix though? (just that they're working on it)

[2022-03-27 20:13] ann0see commented on #2553
Thanks!

I think https://github.com/jamulussoftware/jamulus/issues/2289 is related.

So what's the actual todo list?
- [ ] Add Comment to run qmake before being able to run clang_format
- [ ] Drop link to contributing page on Website
- [ ] Document earliest supported macOS version
- [ ] Re-Write the compilation guides to look more like a guide, not like a "you need that" and then compile as you wi

[2022-03-27 21:15] hoffie commented on #2552
@pljones:

clang-format version 10.0.0 (https://github.com/muttleyxd/clang-format-static-binaries 5b56bb49b977b80cd18f44df4444db93e2d30f46)
Ubuntu 20.04's clang-format package (`clang-format version 10.0.0-4ubuntu1`) is consistent with CI's clang-format for me.

@pgScorpio:

Getting the same output from 13.0.1 on both Windows and macOS sounds reasonable to me. Getting the same output with 10.0.0-4

[2022-03-27 21:23] hoffie commented on #2555
I don't see this issue on 3.8.2. I do see this issue on `master`. Therefore, sounds like a regression.

[2022-03-28 06:04] ann0see opened #2558 "Document git rebase tutorial"
**What is the current behaviour and why should it be changed?**
Git is confusing - especially for new contributors.
Contributors might be confused how to update their PRs and merge instead of rebase. We should explain the process of interactive rebase with conflicts.

**Describe possible approaches**

Link https://teamairship.com/update-outdated-branch-without-creating-merge-commit/ or similar som

[2022-03-28 07:23] mugnaio commented on #2557
Opps sorry for the duplicate.
Anyway I'm not sure what do you mean with "the company fixed a bug", as far as I know 4.09.0087 are the latest MOTU, but I hope the are aware of the problem and they will fix in a future release. Though all other software works fine with that driver version so I'm not sure that was a priority for them.

[2022-03-28 08:56] hoffie commented on #2546
[code]
-> They affect the autobuild/releases, the release process and JSON-RPC doc updates.

[2022-03-28 09:32] #2545 closed

[2022-03-28 13:43] softins opened #2560 "Can't Load or Save Mixer Channels Setup on Mac"
**Describe the bug**

Load and Save Mixer Channels Setup does not work on Mac release 3.8.2. Nothing happens when the menu items are selected.

**To Reproduce**

Click on File menu, then on either Load Mixer Channels Setup... or Save Mixer Channels Setup...

**Expected behavior**

A finder dialog should appear for selecting the file to load or save.

**Screenshots**

**Operating system**

Reported

[2022-03-28 14:58] emlynmac commented on #2560
Where are the setting stored? Are they hard coded to a path somewhere?
My understanding of the sandboxing of the app will change all paths relative to the sandbox. This should mean that functionality is not affected,  but the one time move to a signed version will not have the settings from a version prior to the signing.

[2022-03-28 15:56] softins commented on #2560
No, it is supposed to open a finder dialog so the user can navigate to the desired directory and specify the filename. Maybe by default it starts in a directory it is not permitted to?

The action functions for those two menu entries are here:
https://github.com/jamulussoftware/jamulus/blob/178de745d6cdf5218df7f12bbb1e3c9d8c2c39c6/src/clientdlg.cpp#L772-L795

The third argument to `getOpenFileName

[2022-03-28 15:59] softins commented on #2560
Just found an [example here](http://www.codebind.com/cpp-tutorial/qt-tutorial/qt-tutorials-beginners-qfiledialog-getopenfilename-example/) which suggests passing `QDir::currentPath()` instead of `""`.

[2022-03-28 16:15] emlynmac commented on #2560
Ok, so the app expects to be able to load/save to anywhere.
There is an entitlement that would allow that, but it’s obviously less restrictive from a security perspective. Sandboxing is required for the Mac App Store so we probably need to find a middle ground where storing values can be done without sacrificing security

[2022-03-28 16:22] pljones commented on #2552
Have you tried it on my code?  It's consistent except sometimes it isn't.  One specific place it differs.

[2022-03-28 16:33] pljones commented on #2555
Hm.  I don't see anything obvious.  I added a lock to the OnAboutToQuit but there wasn't anything there for unregistering.

[2022-03-28 16:37] softins commented on #2560
Ah, in fact using `QDir::currentPath()` resets the navigation to the app's current directory on each invocation of the dialog box. So if the user navigated to a different directory when saving, the app doesn't remember where they were when they go to load again.

So in that resepect it is actually more user-friendly to actually pass `""` as the dir parameter. The question is, why does the sandboxe

[2022-03-28 16:42] softins commented on #2560
This is related to the unresolved #2131 too.

[2022-03-28 16:47] softins commented on #2555
See my comment at https://github.com/jamulussoftware/jamulus/pull/2556#issuecomment-1080801514

[2022-03-28 17:33] emlynmac commented on #2560
So then from reading here: https://developer.apple.com/documentation/security/app_sandbox
We probably need to add:

[com.apple.security.files.user-selected.read-write]

(https://developer.apple.com/documentation/bundleresources/entitlements/com_apple_security_files_user-selected_read-write)

A Boolean value that indicates whether the app may have read-write access to files the user has selected us

[2022-03-28 17:36] softins commented on #2560
Thanks, I'll give it a try tomorrow.

[2022-03-28 19:57] pljones commented on #2552
Suddenly it's consistent.  Nothing in that area of the code changed.  But suddenly my local `make clang_format` complained, too.  Just weird, which was my first reaction.

[2022-03-28 20:59] dubnemo commented on #116
I will have time to fully test this Wednesday evening Central (us), after editing jamulus.desktop; have this running and connected to my local server in my studio basement.  The previous performance with the Hi-Fi Berry ADC-DAC was ~80ms total roundtrip, and this is about 1/2.

I am not sure about the Pulse device, but again, I will test this out.

[code]
![2022-03-28-155255_1920x1080_scrot](https

[2022-03-28 22:03] pgScorpio commented on #2552
@hoffie

Strange indeed!

On all tree systems I just used:
`clang-format --version` to see which clang-format version was used.
and then I did
[code]
To do the clang-format, but no files seemed to change when clang-formatting the same folder on different OS'es.

Just as strange is that if I do the same on a fresh clone of the jamulus master repo on Windows also nothing seems to change, though the

[2022-03-28 22:15] emlynmac commented on #2560
I have a branch with this change and a build here - benefits of being PDT :)
https://github.com/emlynmac/jamulus/actions/runs/2055138522

[2022-03-28 22:18] dcorson-ticino-com commented on #2552
Are there other tools that do something similar to clang-format that might work more reliably?
This doesn't look like there is a solution coming soon.

[2022-03-28 22:33] jujudusud commented on #116
Nice !
@npostavs: do you need X86_64 Linux and windows 10 64 bits testers ?

[2022-03-28 23:40] pgScorpio commented on #2552
@dcorson-ticino-com

Just a quick google says there are:

- Uncrustify
- Artistic Style
- indent-js
- Code Beautifier
- NArrange

And probably there are more, but I doubt they would be any better...

[2022-03-29 18:07] DavidSavinkoff commented on #2126
- [ ]

[2022-03-29 20:24] dubnemo commented on #116
I woke up in the middle of the night thinking the Hi-Fi Berry device should work, as there isn't much to configure.  I only edited the /boot/config.txt
[code]

I have not created ~/.asoundrc (my user only) or /etc/asound.conf (all users) files.

[2022-03-30 02:59] npostavs commented on #116
You can give it a shot, although I found the results disappointing on my hardware (run Jamulus with `--api WASAPI` to activate). Note that you can also try [KoordASIO](https://github.com/jamulussoftware/jamulus/discussions/1936) instead of asio4all; it uses WASAPI via PortAudio too (and likewise doesn't seem to work well with my hardware).

Hmm, I'm not sure what's triggerring that error.

[2022-03-30 09:37] #2560 closed

[2022-03-30 15:12] hoffie commented on #2552
Can you provide some kind of reproducer? I can then have a look at this again. Until now, I haven't encountered any non-determinism (and I'd still be surprised to find any, but I'm happy to be proven wrong ;)).

I think `clang-format` is *the* solution to this. I don't see a reliability issue ither. The issues we are seeing are related to different behavior of different clang-format versions. Othe

[2022-03-30 16:17] pgScorpio commented on #2552
Well this seems to be hard but [this one](https://github.com/jamulussoftware/jamulus/runs/5704004785?check_suite_focus=true) seems to give different results.
For me it gives the same result on 10.0.0 (linux) and on 13.0.0 (Windows and mac) but CI fails. (The alignment of braces with 'if' differs, and on CI it is not according rules.).
Also I encountered CI breaking long lines to soon (not accordin

[2022-03-30 19:00] hoffie commented on #2552
According to the action, the commit was e36d3d675cf720881a638c548eefdfd1ef0960d9. I think I had already checked this in detail, but I've just done it again:
- clang-format 13.0.1 (Arch) does not show any changes
- clang-format 10.0.0 from the GIthub action (https://github.com/muttleyxd/clang-format-static-binaries 5b56bb49b977b80cd18f44df4444db93e2d30f46) does show changes (which look wrong to me)

[2022-03-30 23:01] pgScorpio commented on #2552
@hoffie

No this doesnt' seem to be the same commit to me, though they both include the same problem in settings.cpp. But my link is a later commit, trying to fix all the clang-format errors. And on that one I DID check on both 10.0.0 and 13.0.1 where both gave the same OK result, but on CI only this, single, specific problem with alignment persisted.

Again strange that this NOT according my test

[2022-03-31 04:19] dubnemo commented on #116
@npostavs I thought you'd like to know that I am getting the same error with the channel interface.

Just to be clear the configuration
[code]
Works in Audacity:
![2022-03-30-230745_1920x1080_scrot](https://user-images.githubusercontent.com/32434235/160975225-b773fb6e-41c1-46c6-bb2b-989cf0c43cbd.png)

But I get the error when selecting the device:

![2022-03-30-230851_1920x1080_scrot](https://user

[2022-03-31 13:02] dubnemo commented on #116
PortAudio seems to use PulseAudio sound server.  I went into Audacity again, then killed pid 632, and the RPi4 screen went blank and restarted with the login screen.

[2022-03-31 13:24] elliotclee commented on #116
Pulseaudio is one of the daemons that get started with the login session, so it's not surprising that the session ended when you killed it.

Now that you've removed the pulseaudio package and killed the process, can you login again and get Jamulus to run?

Elliot
________________________________
From: Scott T Nieman ***@***.***>
Sent: Thursday, March 31, 2022 9:02:15 AM
To: jamulussoftware/jamulus

[2022-03-31 21:12] ann0see opened #2570 "Investigate Android sound code issues reported by Codacy"
**Describe the bug**

Codacy complains that the following variable is not used (and I don't see that this is false):

https://github.com/jamulussoftware/jamulus/blob/a9deb2259161b6cb86c12259f3e6f398189029ef/android/sound.cpp#L150

Also this warning:
![image](https://user-images.githubusercontent.com/20726856/161150084-72b0f33c-caeb-4a8b-a2b3-067e8888a37a.png)

I assume this is a false positive?
**

[2022-04-01 12:28] dubnemo commented on #116
@elliotclee yes, you are correct.  It is not spawned by PortAudio.  Jamulus client saw PulseAudio and that was able to communicate to the HiFi Berry card in my earlier screenshots, hence why it was able to start.  Now after restart of the RPi4,  I now see this on startup of Jamulus client.

@npostavs do you think there a PortAudio callback that is not set properly?    Audacity still works after un

[2022-04-01 13:25] npostavs commented on #116
I haven't added a logging option; I'm not really what there is to log.

You could try fiddling with the setting of `paInputParams.suggestedLatency` in `src/portaudiosound.cpp`, I did find that I got some confusing errors on Windows when it was set to the wrong value (and it's still unclear to me how to know the right value).

Might also be worth investigating whether any the functions in http://fi

[2022-04-01 15:42] pgScorpio opened #2573 "improve maintainability Jamulus.pro"
**Describe the bug**

In the past month there where a lot of changes to Jamulus.pro, leading to a lot of rebase actions with a high chance on mistakes.
Especially for me since I have a sound-redesign branch with added files for Sound in the OS folders.
(PS: there are also several headers missing in the definitions for ASIO)

The headers and sources for sound (especially linux) are used in multiple

[2022-04-01 16:13] pgScorpio commented on #2558
I totally agree we need some clear tutorial, and the suggested link is a great starting point

Another good one is [this one](https://www.maxwellantonucci.com/posts/2017/09/24/the-git-rebase-introduction-i-wish-i'd-had/) (Though it's very lengthy and I doubt most people will actually read it all, though this is really essential. And still then not all will be clear right away.)

The point is that

[2022-04-01 18:16] dubnemo commented on #116
@npostavs my guess its in lines 86-114.
Curious what is in devInfo for the Hi Fi Berry, as it has a 35mm stereo input and two RCA outputs available out of the box, but it appears there are balanced inputs and outputs available on the board with soldering.
From above:
[code]

One of the above errors showed 'invalid number of channels'.

[2022-04-01 19:20] pgScorpio commented on #2573
See my [implementation](https://github.com/pgScorpio/jamulus/blob/autobuild/soundRedesignDev/Jamulus.pro) in my sound-redesign branch.
(which has several added files, so not valid for current master.)

[2022-04-01 19:26] hoffie commented on #2573
1) I like the idea of having the includes grouped together (although I don't have a strong opinion here)
2) I totally agree regarding the backend-specific directory structure. I don't know why those directories should be at the root of the repo either. `src/sound/{jack,asio,oboe,coreaudio,...}` would seem logical to me. I would certainly support this change.

[2022-04-01 19:48] hoffie opened #2574 "main.cpp: unused-but-set-variable warnings for command line options with CONFIG+=serveronly"
**Describe the bug**

When building with `CONFIG+=serveronly`, gcc 10.2.1 emits the following warnings:
[code]

**To Reproduce**

`qmake CONFIG+=serveronly && make`

**Expected behavior**

No warnings.

1. Those variables should either be used in the sense that we output an error/warning to the user if they are enabled despite not having an effect.
2. Alternatively, support for those flags and var

[2022-04-01 20:05] ann0see commented on #2558
Yep. Not sure which one of them is better. See #2561

[2022-04-02 18:19] mugnaio commented on #2557
I wrote to MOTU support and they sent me beta drivers 90961 that work now.
I think they will release them soon.

[2022-04-02 19:17] ann0see commented on #2573
@hoffie #2575 is ready for review now. I'm not 100% sure about the src/sound/{...} names, but feel free to suggest alternatives

[2022-04-02 21:10] ann0see opened #2579 "Routing Jack on Windows Guide Fix for ASIO4ALL"
### Discussed in https://github.com/jamulussoftware/jamulus/discussions/2554

<div type='discussions-op-text'>

<sup>Originally posted by **chairbender** March 27, 2022</sup>
EDIT: Sigh, nevermind...it looks like I am still having issues again even after doing this. I swear it fixed my problems on one day, but I guess it isn't consistent...

Hi, I found this page (How to play audio from your PC to

[2022-04-04 06:24] reinhardwh opened #2580 "List of servers not complete"
**Describe the bug**

List of servers not complete due to blocked fragmented packages

From Facebook:

A little tip I discovered today which might help new users:

had an empty list under genre 1 and 2, no servers showing up.

But the jamulus explorer website
showed hundreds of servers.
So I did some googling and apparently the problem
was my modem's firewall blocking fragmented packages.

Turned

[2022-04-04 15:32] jujudusud commented on #2580
That's good to know but how can Jamulus replace a network manager?
Jamulus users are masters of their firewall and this can't be considered as a software bug.
It can eventually be included in the documentation but we need to discuss it beforehand to decide the best place.

[2022-04-04 16:15] reinhardwh commented on #2580
Just wondering why some user encounter "fragmented packages" from Jamulus explorer page.

[2022-04-04 17:24] softins commented on #2580
*Everybody* receives the server list for Any Genre 1 and Any Genre 2 in fragmented packets. And if any other genre became popular enough to have a large list, it would apply there too.

The list of servers is sent as a single UDP datagram, and this is a fundamental legacy of the original design of the Jamulus protocol.

A UDP datagram is first encapsulated by the network stack into an IP packet. T

[2022-04-04 18:08] reinhardwh commented on #2580
Would it be possible to write a list of all servers into XML based file and generate one standard web page out of this?

[2022-04-04 19:11] softins commented on #2580
You could do something like that by processing the output from the Jamulus Explorer back-end (see the Github link for jamulus-php on the Explorer page), but it would just give you something similar to Explorer itself. It isn't something that a Jamulus client could use.

[2022-04-04 20:39] reinhardwh commented on #2580
Thats a good point & thanks for sharing the insights :)

[2022-04-04 21:13] hoffie commented on #2557
Thanks for the report and the update from the vendor.
As there's nothing which we can do from the Jamulus side, I'd like to close this issue. You should still be able to comment on it, e.g. when the new drivers are officially released.

[2022-04-04 21:13] #2557 closed

[2022-04-04 21:47] hoffie commented on #2552
Can you help me pin-point the commit you mean?
You had linked to this action run:
https://github.com/jamulussoftware/jamulus/runs/5704004785?check_suite_focus=true
The checkout action shows a log of what it has done:
https://github.com/jamulussoftware/jamulus/runs/5704004785?check_suite_focus=true#step:3:474

That says e36d3d675cf720881a638c548eefdfd1ef0960d9, so that's what this Action run was ab

[2022-04-04 23:13] pgScorpio commented on #2552
Yes correct, and this run still had a difference with the "alignment" problem. Which seems to have to do with the placing if the "clang-format off/on". (I have a later commit changing these clang-format off/on positions, and that one solved the problem.)

Yet but a manual `clang-format -i <file>` **must** be executed from root too! and this is not guaranteed, nor stated anywhere in the documentati

[2022-04-06 07:00] hoffie commented on #2552
So... I'm a bit lost -- is there still some unexplainable thing to investigate in this context? If so, which?

I agree. Can you add a suggestion or comment to @ann0see's #2561?

I don't think we should advise against using tool-integrated formatting. It has to match what clang-format does, but the recent two PRs have been the only instances where we had actual confusions/problems around this area

[2022-04-06 16:27] pgScorpio commented on #2552
And, most important gitconfig !
If text is set to `text=auto` "Git will handle the files in whatever way it thinks is best", which seems to be "OS default format", so on Windows all files will have CR/LF and so clang-format results can differ.
Same occurs when `text eol` is left at default. So I think it is wise to set sourcefiles to `text eol=lf`

[2022-04-06 19:23] hoffie commented on #2417
@henkdegroot I think you said you wanted to tackle parts of the open TODOs. Is this accurate? If so, which?

[2022-04-06 19:44] henkdegroot commented on #2417
@hoffie, that is correct. Offered to update the windows installer etc. to cover the requirements. But then I noticed a comment that it might not be needed after all.

[2022-04-06 20:28] gilgongo commented on #2417
I think all we need in the installer is the rights notice, not the logo. So I think the words "ASIO compatible. ASIO is a trademark and software of Steinberg Media Technologies GmbH”

[2022-04-08 19:16] ann0see commented on #2573
Missing here:
Change the files to variables

[2022-04-08 20:38] hoffie opened #2591 "Coding style: Drop un-indented code in favor of // TODO: comments"
**What is the current behaviour and why should it be changed?**

The current code selectively disables `clang-format` and deliberately un-indents code which is only kept for compatibility reasons.
The idea is obviously that this should make the code stand out.

This has downsides:
- readability
- specific instances confuse clang-format despite the disabling (see #2587)

**Describe possible approac

[2022-04-08 21:03] ann0see commented on #2591
Why wouldn't a regular "// TODO: " comment be enough? Some errors (at least eclipse for Java) highlight it.

[2022-04-08 21:07] ann0see commented on #2591
See https://medium.com/imdoneio/the-imdone-pitch-feedback-welcome-386430accf01

[2022-04-09 12:59] henkdegroot commented on #2417
So reaching the next question, in which screen (installer) should we show this information?
First screen is a Welcome message.
![image](https://user-images.githubusercontent.com/13550012/162574665-bbf150a4-9b5d-41fd-a032-14b57841f2df.png)

Second screen, is ASIO (or JACK) specific and only displayed when there is no driver installed. This can be updated to always show for ASIO and have the corresp

[2022-04-09 19:51] ann0see commented on #2591
@jamulussoftware/maindevelopers any objections to use // TODO: style or special comments like // ### TODO BEGIN

// ### TODO end

[2022-04-09 21:02] pgScorpio commented on #2417
I would say use the second ASIO specific screen and maybe include a  "(!) No ASIO drivers found!" or "(v) n ASIO driver(s) found." message.

(!) == Red exclamation mark icon,
(v) == Green checkmark icon.

[2022-04-09 21:52] gilgongo commented on #2417
@henkdegroot

I'd be inclined to just put it on the first screen. Can we put it in the blue area at the bottom so as to get it out of the way of the instructions? There is no "I agree" required by Steinberg, BTW.

The "About dialog" refers to what you get in the app, not the installer.

The command line is not mentioned in the Steinberg terms I don't think, but I guess if we wanted to be nice we'd

[2022-04-09 23:07] pgScorpio commented on #2417
@gilgongo

What is a separate issue ?

I suggest to use the ASIO specific screen that normally is only showed when no ASIO driver is installed. So when we always show this screen to show the ASIO disclaimer we should, maybe, have an indication whether an ASIO driver is installed or not.

[2022-04-10 06:46] gilgongo commented on #2417
@pgScorpio Sorry, I meant that if we are changing the way the messaging works or adding wording/layout changes then that's a separate thing we need to look at I think unless Henk wants to also do that.

The reason why I say put it on the first screen is that would having it on the second ASIO screen confuse things for users of the JACK version?

[2022-04-10 08:46] ginjo opened #2592 "Jamulus 3.8.2 MacOS --inifile option is not working"
**Describe the bug**

On MacOS, when launching Jamulus with the CLI, specifying the ```--inifile``` option, the .ini file is neither read, created, nor saved at the path specified with the ```--inifile``` command line option.

```/Applications/Jamulus.app/Contents/MacOS/Jamulus -i /Users/Bill/Jamulus/Guitar.ini```

**To Reproduce**

* Install Jamulus 3.8.2 on MacOS.
* In Terminal run ```/Applicati

[2022-04-10 09:59] henkdegroot commented on #2417
The ASIO screen does not apply to the JACK version. You get a JACK screen, when JACK is not found.

I like the suggestion of adding it to the ASIO screen with the extra icon to indicate error/green mark and might be easier in case  we decide to move to a different audio integration.

@gilgongo, if added to the help/version output...then it should only be for the Windows build with ASIO. So no upda

[2022-04-10 10:47] gilgongo commented on #2417
OK. Be that as it may, while the Steinberg agreement doesn't talk explicitly about installers, it does talk a lot about "Startup-/Splash-screens", which is why I think we may be safest putting on the first screen in the installer, since that's effectively a "startup" screen, even though you only see it once. And yes, I guess the rights statements need only appear in the ASIO version of the install

[2022-04-10 11:00] gilgongo commented on #2580
Thanks @reinhardwh - Since this isn't a specification for a change, I'm moving to Discussions.

[2022-04-10 11:02] gilgongo commented on #2592
Is this due or related to https://github.com/jamulussoftware/jamulus/issues/2131 ?

[2022-04-10 11:08] henkdegroot commented on #2417
@gilgongo, well if we add it to the first page, then the ASIO page does not require changes (at least for now).

Following text is taken from the Steinberg agreement:

if an About Box or a Startup-/Splash-screen exists that includes any reference to any third party or third party’s right, “ASIO” and Steinberg’s copyrights notice or the ASIO compatible Logo and Steinberg’s copyrights notice in ever

[2022-04-10 11:33] gilgongo commented on #2417
Yes, we could interpret what they say as, "You need to add our rights statement in any startup screen, but that doesn't include your installer." But I feel that's not in the spirit of their agreement 🙂

[2022-04-10 12:01] ann0see commented on #2592
Yes, I think that's a duplicate. Can you check the nightly we published: https://github.com/jamulussoftware/jamulus/releases/tag/r3_8_2nightly1

[2022-04-10 19:34] henkdegroot commented on #2417
In the spirit of their agreements it is :) Will do a PR later this week (probable next weekend) with this added to the first screen and About dialog.

[2022-04-11 04:00] ginjo commented on #2592
Good news, The r3_8_2nightly1 creates, reads, and writes the ini files in the location of my choosing, just as it worked in 3.8.0.

Thanks!

[2022-04-11 04:23] ginjo commented on #2131
I can confirm that the r3_8_2nightly1 build creates, reads, and writes the ini files in the location of my choosing, just as it worked in 3.8.0. Not sure if that solves all of the above poster's issues, but it seems to solve the OP's issue, and it has me back on track again.

One use case that I don't think I've seen mentioned is this: I have several folders of ini files, with each folder containi

[2022-04-11 05:40] ann0see commented on #2592
Just realised that the nightly isn’t signed – shame on me. Can you check https://github.com/emlynmac/jamulus/suites/6058234035/artifacts/209062626 from Emlyn‘s repo (and report if a "this developer cannot be verified" warning popps up and if your issue is fixed if it doesn’t pop up?

[2022-04-11 07:59] ginjo commented on #2592
Yes, that newer version works perfectly in regards to the ini files, and there's no developer verification warning. Thanks!

[2022-04-11 11:58] ann0see commented on #2592
Thanks. Good to hear.

[2022-04-11 13:19] pgScorpio commented on #2417
Why not simply just add an About "ASIO" to help for the ASIO builds, like we also have an "About Qt". Wouldn't that be much simpler ?
Even adding a splash screen (first thing started from main) would be simpler than adding conditional code al over the place... (And a splash screen also would make Jamulus seem more responsive at startup.)

[2022-04-11 13:43] gilgongo commented on #2417
It's debatable of course, but I don't think that would comply with Steinberg's wish that we put their rights statement on _our_ about screen. Maybe I'm just being over-cautious.

I can't comment on code complexity, but if we had a splash screen for the app, we'd still need an About screen with the Steinberg right statement on it.

[2022-04-11 15:20] henkdegroot commented on #2417
I don't think it will matter. A conditionally inculded menu item or conditionally included text.

[2022-04-11 17:07] pgScorpio commented on #2417
AFAIK the Steinberg documents says "About Box **or** every Startup-/Splash-screen." so not **and**

[2022-04-11 19:06] ann0see commented on #2417
We don't have a Startup/Splash screen, so I'd just go with a conditional logo in About. That makes the difference between JACK and ASIO enabled builds also easier.

[2022-04-11 20:28] ann0see opened #2594 "Investigate usage of SVG images instead of PNG"
**What is the current behaviour and why should it be changed?**

Currently we mainly use png images (even in places where vector based images would be beneficial) . We should discuss if we want to move to SVG instead. This has the advantage of a potentially smaller app, easier size modification. However it's more complex to render them.

**Describe possible approaches**

Convert new images to SVG.

[2022-04-11 20:34] ann0see commented on #2468
@Rob-NY @dtinth any updates here?

[2022-04-11 20:34] ann0see commented on #2466
@softins @hoffie any updates here?

[2022-04-11 20:36] henkdegroot commented on #2417
I was thinking about the following for the About and version text:
![about-libraries](https://user-images.githubusercontent.com/13550012/162827209-bf05bfc8-93dd-420c-a709-ee7cea22c119.png)

![command-line-version](https://user-images.githubusercontent.com/13550012/162827226-93bd651f-53c8-4d9c-820a-14b9789c3cd2.png)

Not sure how "easy" the installer Welcome page can be modified. The blue section (

[2022-04-11 20:38] ann0see commented on #1283
Any updates here? I think `--version` is ok for now? Please close this issue if no longer needed.

[2022-04-11 20:43] ann0see commented on #1114
Ok: See https://github.com/jamulussoftware/jamulus/pull/2561 which added a style note related to this issue.

[2022-04-11 20:44] ann0see commented on #2417
Yes. But wouldn't we need a logo there?

... I still don't get why we need to add anything to the installer. The app would be enough, I hope...

[2022-04-11 20:59] gilgongo commented on #2417
@ann0see it's somewhere in the discussion above, but the logo appears optional (if you look at their guidelines). As to the installer:  https://github.com/jamulussoftware/jamulus/issues/2417#issuecomment-1094251324 (basically, they are extremely vague about what they want, but I'd rather we do our best and not be unnecessarily picky)

[2022-04-11 21:02] gilgongo commented on #2417
@henkdegroot if using the logo is easier, we can I think use that (they supply a jpg) instead of the text since the image has both the logo and the text:

[Steinberg ASIO Logo Artwork.zip](https://github.com/jamulussoftware/jamulus/files/8467704/Steinberg.ASIO.Logo.Artwork.zip)

[2022-04-11 21:15] gilgongo commented on #2417
BTW I may as well add the rights statement to README.md while we're at it.

[2022-04-12 22:14] hoffie commented on #2417
@henkdegroot

I like that very much. We should give credit where credit is due (and even more so when required by a license... ;)). It's also appropriate to list ASIO SDK as third item after Qt and opus, in my opinion. We must comply with the license demands, but we should not make ASIO stand out too much. Also, it would obviously be best if all of this would be restricted to Windows ASIO builds.

[2022-04-12 22:32] hoffie commented on #2591
I'd be fine with that as well.

[2022-04-13 08:58] hoffie commented on #1430
I spent some more time debugging this and was able to reproduce this issue on Ubuntu 21.10.
Using GammaRay I was able to pin-point the exact circumstances:
- It happens when using the Ubuntu font (which is obviously the default on Ubuntu), even on non-Ubuntu systems.
- It happens on any QGroupBox label which uses at least 7 digits. It becomes more visible as more digits are used.
- Applying a cust

[2022-04-13 15:18] henkdegroot commented on #2417
You are correct, the license text is loading the COPYING file from the root folder. I do not see an easy option to combine two files and if that would be possible, it would add the ASIO text at the end of the file. Would it be okay to have a COPYING_ASIO which contains the same text as the existing COPYING file and also include the required ASIO text just after the OPUS details.

The installer can

[2022-04-13 16:51] ann0see commented on #2417
Better copy the COPYING_ASIO file to the installer via deploy_windows.ps1 (that's what I'd do

[2022-04-13 17:37] henkdegroot commented on #2417
Not sure if that is a good idea, think it would be best to keep "installer" related logic in the installer nsis and that is already capable of handling the jack/asio condition.

My concern is more about have two almost the same "COPYING" files in the root.

[2022-04-13 17:49] ann0see commented on #2417
I mean you could also just echo (append) the ASIO text to the COPYING file programatically?

[2022-04-15 19:23] henkdegroot commented on #2417
I did not realize that the logo also includes the rights statement and therefore believe we do not have to add the steinberg text to it after all.
Here is a sample of the start and finish page of the installer, they both use the same bitmap image:
![installer-welcome](https://user-images.githubusercontent.com/13550012/163623323-c7f5aca0-6a0e-4176-ad7f-e607c45b39c8.png)
![installer-finish](https://

[2022-04-15 21:17] ann0see commented on #2417
Maybe – however the contrast looks a bit strange.

@mulyaj is the graphical expert, so he should judge

[2022-04-16 05:36] henkdegroot commented on #2417
I have used the eps format logo, which does not include a background for the text below the logo while the other logo formats do have a white background. Perhaps we need to use a white background for the text below the logo as well?

[2022-04-16 06:08] ann0see commented on #2417
Yes. Maybe try this

[2022-04-16 08:49] henkdegroot commented on #2417
Image with white background for the text:

![installer-welcome-white](https://user-images.githubusercontent.com/13550012/163668103-9eaada57-3e57-4ed8-9aff-2e4831993181.png)

I cannot get the text readable...due to the very limited image size in the installer dialog (164 pixels width).

Unless you want/accept the logo to be bigger like this:

![installer-welcome-white-big](https://user-images.githu

[2022-04-16 08:54] ann0see commented on #2417
The second image looks a bit bloated, so I'd go with the first :-)

[2022-04-16 09:38] gilgongo commented on #2417
Or cut off the bottom of the image and use plain text if that makes it look less bloated?

[2022-04-16 14:36] henkdegroot commented on #2417
Using plain text is even worse as it is very small text. I'll check if I can get it any better.

Op 16 apr. 2022 11:38, om 11:38, Jonathan ***@***.***> schreef:

[2022-04-16 15:10] hoffie commented on #2417
As it seems hard to find a good way to show the logo, maybe let's step back once again: Do we actually need to show the logo? Based on the comments above, it seems like this path was chosen because it seemed simpler, not because it was a strict requirement.
I still find it strange to show ASIO notices more prominently than attributions for other, more foundational libs such as Qt and Opus.

[2022-04-16 17:06] pgScorpio commented on #2417
I totally agree on that.

And it also amazes me there is so much discussion here on the ASIO disclaimers. I know Steinberg's licensing documentation is not very clear, but is that a reason to overdo it?
Looking at other ASIO software and products, like ASIO4ALL, ASIO Link Pro, Behringer and Focusrite drivers and interfaces I don't see any Steinberg Logo's or disclaimers in the software or on the p

[2022-04-16 17:36] gilgongo commented on #2417
The problem is that the wording of the Steinberg licence terms is pretty hard to work out in the detail of where they want you to show their rights statement. But **the use of the logo appears to be optional** (as I've staged _several_ times but after a while nobody reads these threads...). I didn't put the logo on the website, although it could be said they say we need it there. Whatver.

As to t

[2022-04-16 17:40] gilgongo commented on #2417
No. It was only if we thought it might look better.

We don't have a T&Cs document to comply with in those cases though, do we?

[2022-04-16 18:11] hoffie commented on #2417
Well, the licenses of Opus (BSD) and Qt (LGPL) itself demand proper attribution and documentation, of course:
- Opus: [*Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution*](https://opus-codec.org/license/)
- Qt: Among others, [*For a Combined Work t

[2022-04-16 18:22] gilgongo commented on #2417
We could add those along with the ASIO logo in @henkdegroot installer screen work. Might make it look a bit less random.

[2022-04-17 08:42] henkdegroot commented on #2417
@hoffie, the reason for using the logo is because the Welcome page (in the installer) allows changing the bitmap image being displayed. The text in the welcome page dialog isn't really easy to modify in nsis (the text displayed comes from NSIS).

I am also not a big fan of the larger ASIO logo on this and would prefer to use the smaller version. Even with the text not being fully readable, it at l

[2022-04-17 08:45] henkdegroot commented on #2417
Interesting to see this....Steinberg explicitly mentions the logo with green and red arrow is not allowed to be used. Also noticed that Cakewalk by BandLab is using the same incorrect log and text as in SONAR and as mentioned because others a non-complaint, that does not mean we should not be.

[2022-04-17 09:29] ann0see commented on #2591
Ok. Since nobody responded, I think the next action here would be to convert all unintended places into the style I suggested:
[code]

[2022-04-17 10:57] pgScorpio commented on #2591
Yes I can do this if you want.
@hoffie can you change the title of this issue accordingly?

[2022-04-17 11:13] ann0see commented on #2591
Done.

[2022-04-17 11:24] pgScorpio commented on #2591
question:

Only change clang-format off/on where it is used for TODO ?? There are quite some cases where it is used for TEST too.

[2022-04-17 11:25] henkdegroot commented on #2417
Actually, I think I found a method to add text. Will do some testing tomorrow.

[2022-04-17 11:27] ann0see commented on #2591
Hmm. Tests could have a // Test BEGIN
/* test description */
... Code ...
// Test END

Syntax

[2022-04-17 11:43] pgScorpio commented on #2591
Shouldn't we keep the format more consistent with TODO ?
[code]

[2022-04-17 12:01] pgScorpio commented on #2591
Another one is (i.e. multiple times in windows/sound.cpp):
[code]
But I think it's OK to leave this as is?

[2022-04-17 12:20] ann0see commented on #2591
Yes. Probably better to remain consistent 😀.

[2022-04-17 12:20] ann0see commented on #2591
Not sure. Maybe append a Todo: Not yet tested

[2022-04-17 12:49] pgScorpio commented on #2591
Did you have a look at that code?
It is used 31 times, clang-format off/on does no harm here, and I don't think using TODO comments would do any good on the readability of the code here, on the contrary...

Of course I could just change "NOT YET TESTED" to "TODO: NOT YET TESTED", but does that have any added value? and would that be in the scope of this issue/PR?

[2022-04-17 13:05] ann0see commented on #2591
I remember this code. The //Todo: prefix might – in some IDEs – Highlight the code. So it's good to follow the syntax everywhere where something might need to be done (now or in future).
Maybe that could be part of another PR, yes

[2022-04-18 12:44] henkdegroot commented on #2417
Here a sample with the ASIO text added to the dialog:

![installer-welcome-text](https://user-images.githubusercontent.com/13550012/163810172-694ec7e0-5644-4c0c-b49d-fc763605eb2e.png)

Would that be okay?

[2022-04-18 12:57] pgScorpio commented on #2417
Well I looks good to me, but inexperienced users might be confused. "What is ASIO, and what has this to do with Jamulus?"

So we could add something like:
[code]

[2022-04-18 14:46] gilgongo commented on #2417
The terms say "the Licensee shall display 'ASIO' and Steinberg’s copyrights notice or the ASIO compatible Logo and Steinberg’s copyrights notice". What they mean by "shall display ASIO" is hard to say if it's not the logo, but I guess @pgScorpio interpretation may well be fine.

(For the website, I just had "ASIO®  - ASIO is a trademark and software of Steinberg Media Technologies GmbH")

[2022-04-18 15:12] henkdegroot commented on #2417
And what will they do? Guess they just click Next :)

Also note that the ASIO text will not be a translatable text, as Steinberg states that is what their statement should be.

Getting back to a "logo", what about adding the ASIO Compatible logo (just the top part, without the text) in the bottom right corner of the bitmap? (So that is positioned just left to the ASIO text)

[2022-04-21 03:16] dubnemo commented on #116
It seems more on the device initialization, versus streams.
=======
http://files.portaudio.com/docs/v19-doxydocs/api_overview.html
Although each Device conceptually belongs to a specific Host API, most PortAudio functions and data structures refer to Devices using a global, Host API-independent index of type PaDeviceIndex an integer of that ranges between zero and **Pa_GetDeviceCount() - 1**. The

[2022-04-21 18:45] ann0see opened #2603 "Prepare Release 3.9.0"
**Target timeline**

| Phase | Target date | Original | Actual |
| :--- | ---: | ---: | ---: |
| Scheduled feature freeze / Start of translation process | **2022-07-08** | 2022-07-01 | 2022-07-03 |
| Targeted translation completion date | **2022-07-22** | 2022-07-08 | 2022-07-08[^*] |
| Approximate release date | **2022-07-29** | 2022-07-21 | **2022-07-29** |

[^*]: Some web site translations are

[2022-04-21 18:46] ann0see commented on #2603
Opened as requested by @hoffie

[2022-04-22 18:16] ann0see commented on #177
Hi, Sorry for the maintenance noise here. I’m just into triaging issues.
This issue is a feature request nobody is working on right now (or anymore). Usually these kind of issues either need some more discussion (open a discussion on GitHub discussions) or haven’t been clarified enough. If there’s still a strong need to implement this feature, please open a new issue.
Therefore and to keep the iss

[2022-04-22 18:16] #177 closed

[2022-04-22 18:17] ann0see commented on #177
Actually, maybe @pgScorpio or @dcorson-ticino-com worked on it, however, I think it would be worth opening another issue to continue.

[2022-04-22 18:21] ann0see commented on #490
Hi, Sorry for the maintenance noise here. I’m just into triaging issues. I've just updated the issue description to fit into the template. Hopefully some day this issue will be fixed.

[2022-04-22 18:23] ann0see commented on #494
Hi, Sorry for the maintenance noise here. I’m just into triaging issues.

Does anyone want to take this issue up? I think it should be quite doable in terms of implementation but needs some research.

This issue needs some more discussion and is not actionable yet. I’ve therefore moved it to a GitHub discussion to maintain more visibility. Please note that GitHub Discussions – different to GitHub

[2022-04-22 18:27] ann0see commented on #517
Hi, Sorry for the maintenance noise here. I’m just into triaging issues.

@chigkim could you please summarize what's missing in order to move the accessibility problem forward in your issue description and apply the issue template?

I'm afraid that it would need almost a full redesign of the chat functionality. If that's what you think is needed, feel free to open an issue/GitHub discussion to dis

[2022-04-22 18:29] ann0see commented on #533
Just triaging issues. I think this issue is something which @pgScorpio should be aware of in his sound redesign ;-). Maybe it's worth thinking about JACK disconnectivity too. But that should then be linked in the respective discussion: https://github.com/jamulussoftware/jamulus/discussions/2400

[2022-04-22 18:34] ann0see commented on #599
Hi, Sorry for the maintenance noise here. I’m just into triaging issues.

Since this issue is locked, and another discussion is linked by gilgongo it doesn't make sense to leave this issue open. Therefore, I'll close it.

Please continue any related discussion in the other discussion.

Note to the topic: See the feature branch: https://github.com/cwerling/jamulus-mastermix/tree/feature_singlemix_r

[2022-04-22 18:34] #599 closed

[2022-04-22 18:36] ann0see commented on #609
@pgScorpio, I think this is somehow also related to the settings redesign?

Note: I will unsubscribe from this issue and won’t receive responses from any new comments. If you have any questions concerning maintenance, feel free to ping me.

[2022-04-22 18:38] ann0see commented on #671
@chrisrimple is this issue still appearing with the latest version of Jamulus? Maybe the upcoming Qt 6 support solves this issue. At least I hope so.

Please close this issue if you can't reproduce the bug anymore.

Note: I will unsubscribe from this issue and won’t receive responses from any new comments. If you have any questions concerning maintenance, feel free to ping me.

[2022-04-22 18:41] ann0see commented on #713
Hi, Sorry for the maintenance noise here. I’m just into triaging issues.

I think this issue can be resolved by some code wise re-structuring, since other apps also do that. Probably something is not implemented correctly in Jamulus?

I'm not an expert for macOS apps, but maybe some macOS dev can jump in here?

@ngocdh @emlynmac

Note: I will unsubscribe from this issue and won’t receive responses

[2022-04-22 18:45] ann0see commented on #838
Sorry for the maintenance noise here.

Indeed, this issue is strange. @DominikSchaller I hope Qt 6 support (just merged) resolves this issue. Can you compile with Qt6? If that doesn't help, please update the issue description to the bug report template. Hopefully someone takes this issue up then.

Note: I will unsubscribe from this issue and won’t receive responses from any new comments. If you ha

[2022-04-22 18:47] ann0see commented on #899
Can you show your work in the linked GitHub discussion?

I'll close this issue in favor of the discussion.

[2022-04-22 18:47] #899 closed

[2022-04-22 18:48] ann0see commented on #961
@hoffie already worked on this and JSON-RPC gives some benefit. @DominikSchaller maybe you two can agree on an implementation together?

[2022-04-22 18:51] ann0see commented on #981
@chrisrimple Is this fixed now by https://github.com/jamulussoftware/jamulus/pull/1873 ? Could you please re-test and close this issue if it's fixed?

Note: I will unsubscribe from this issue and won’t receive responses from any new comments. If you have any questions concerning maintenance, feel free to ping me.

[2022-04-22 18:57] ann0see commented on #1172
@Andrew999999 @lebaston100: @ngocdh worked on some improvements. Does this still occur on Jamulus 3.8.2? If not, please close this issue.

Note: I will unsubscribe from this issue and won’t receive responses from any new comments. If you have any questions concerning maintenance, feel free to ping me.

[2022-04-22 19:01] ann0see commented on #1281
Hi, Sorry for the maintenance noise here. I’m just into triaging issues.

I think this issue is still present, even on the latest Windows release? @drummer1154 @npostavs ? If this is NOT the case, please close this issue.

Note: I will unsubscribe from this issue and won’t receive responses from any new comments. If you have any questions concerning maintenance, feel free to ping me.

[2022-04-22 19:05] pgScorpio commented on #177
@ann0see
Yes in my sound redesign mixing of ch1 and/or ch2 with any one of the channels 3 or higher will be supported for any interface with more than 2 channels.

[2022-04-22 19:06] ann0see commented on #1283
Closing since I didn't get any comment for over a week, so it seems to be stale. Please re-open this issue or open a PR with reference to this issue if we decide to implement it later on.

[2022-04-22 19:06] #1283 closed

[2022-04-22 19:08] ann0see commented on #1409
Any news here? @DominikSchaller @henkdegroot do you want to rename the function?

[2022-04-22 19:14] ann0see commented on #1421
Any updates here? I think the solution is to implement it similar to how the directories can be deleted?

[2022-04-22 19:17] ann0see commented on #1464
@hoffie I don't think this is a good first issue since it needs discussion first.
Therefore I've removed the good first issue label.

If we stay to the current style "options" would have a `-` in front.

I think @pgScorpio (sorry for another ping here...) did a first step towards simplification and unification here: https://github.com/jamulussoftware/jamulus/pull/2598

[2022-04-22 19:19] ann0see commented on #1579
I think not having a scroll bar would make Android and iOS clients unusable since the display is just too small. This is a broader issue I think and needs a bigger UI redesign?

[2022-04-22 19:22] ann0see commented on #1745
@hoffie @passing any updates here?

https://github.com/jamulussoftware/jamulus/issues/1745#issuecomment-847394132 looks quite interesting and if it's really that easy, this issue should be easily resolvable

[2022-04-22 19:24] ann0see commented on #1812
Since a sound redesign by @pgScorpio is in process, I'll now close this issue. Please continue discussion on https://github.com/jamulussoftware/jamulus/discussions/2400

[2022-04-22 19:24] #1812 closed

[2022-04-22 19:27] ann0see commented on #2094
@pljones @gilgongo this is tagged for the upcoming release, I think it's a quick fix. Any volunteers for a PR - since it's basically already fixed?

[2022-04-22 19:30] ann0see commented on #2126
Any news here? @henkdegroot @DavidSavinkoff would you provide a PR for this probably UI only related feature? I think in the past there was an option to disable LEDs already, but it was removed by corrados since he thought nobody is using it. I wouldn't certainly and I don't stand behind it since it adds little to no benefit. But if there is a strong request, feel free to implement it. If not, ple

[2022-04-22 19:32] ann0see commented on #2131
@ToolTech does  the following version also work for you: https://github.com/jamulussoftware/jamulus/discussions/2400

If yes, this issue and #2592 should be closed since they are duplicates.

[2022-04-22 19:33] ann0see commented on #2592
Since your issue was resolved, I'll close this then. As soon as the new version is out, you can upgrade to a stable version ;-).

[2022-04-22 19:33] #2592 closed

[2022-04-22 19:35] ann0see commented on #2183
I'd personally see this as debug output that should be removed...

[2022-04-22 19:36] ann0see commented on #2271
Since I closed my PR and don't plan to work further on it, I'll hand this issue over to anyone who wants to take it over. Therefore unsubscribing.

[2022-04-22 19:38] ann0see commented on #177
Thanks for your clarification. ;-)

[2022-04-22 19:40] ann0see commented on #2332
Now the only thing which is missing is a PR ;-). As soon as we get into the "release is upcoming, fix every tagged issue" phase, someone (maybe me) might fix it.

[2022-04-22 19:42] ann0see commented on #2462
@hoffie sorry to tag you here again, but this issue is still outstanding? Feel free to tag it for the next release.

[2022-04-22 19:43] ann0see commented on #2429
So the only thing left is the rename?

[2022-04-22 19:44] ann0see commented on #2428
Related to https://github.com/jamulussoftware/jamulus/issues/1413. Closing https://github.com/jamulussoftware/jamulus/issues/1413 as duplicate

[2022-04-22 19:45] ann0see commented on #1413
@atsampson thanks for the comment. Could you please quickly also comment on #2428 maybe we can somehow use it with JSON-RPC?

Nevertheless, closing as
Duplicate of: https://github.com/jamulussoftware/jamulus/issues/1413

[2022-04-22 19:45] #1413 closed

[2022-04-22 19:48] DavidSavinkoff commented on #2126
Jamulus did not have a zillion indicators for each fader until this was added. In my opinion these indicators are a regression. I hate flashing lights and a real sound engineer doesn't need this many idiot lights. If you can tell me what needs to be changed, I may try to help in fixing this regression. The job looks daunting because it is not my code.

[2022-04-22 19:55] ann0see commented on #2126
Related issue: https://github.com/jamulussoftware/jamulus/issues/638 and the related commit - hopefully: https://github.com/jamulussoftware/jamulus/commit/079f97511efa29026ccb724e5f341770f3a0cf85

[2022-04-22 20:10] #1172 closed

[2022-04-22 20:11] Andrew999999 commented on #1172
Fixed in 3.8.2

[2022-04-22 20:13] gilgongo commented on #2094
What's the fix? I'm not clear.

[2022-04-22 20:14] pgScorpio commented on #533
In the sound redesign it is not neccesary to close jamulus. Just disconnect from the server change Jack settings, reselect Jack device and connect to the server again.

[2022-04-22 20:35] ann0see commented on #2094
Peters' suggestion one comment above?

[2022-04-22 20:37] #533 closed

[2022-04-22 20:37] ann0see commented on #533
Ok. Closed then

[2022-04-22 21:22] chrisrimple commented on #671
I no longer have a monitor in a vertical orientation, so I'm unable to test this.  Closing, and someone can reopen if it's still an issue.

[2022-04-22 21:22] #671 closed

[2022-04-22 22:51] pgScorpio commented on #609
Yes ! It works, but is far from ideal!

I'm working on settings too (See my [branch](https://github.com/pgScorpio/jamulus/tree/first-big-thing-for-settings)) with the initial idea already implemented.... (But still far from complete)
And after the sound-redesign there could be even more improvements...

[2022-04-22 22:55] pgScorpio commented on #609
@pljones

I'm still thinking "This HAS to happen" (Too much problems now)
Please let's work on this together.

[2022-04-22 22:59] pgScorpio commented on #609
@pljones

Well I started working on this also (while waiting to get all my other PR's going.) and I think I'm already quite far in the right direction with settings. So let's work on this together.

[2022-04-22 23:01] pgScorpio commented on #609
@ann0see

Yes, for 100%

[2022-04-22 23:07] pgScorpio commented on #1409
@ann0see

No, just wait for the sound redesign.... It's already changed there.

[2022-04-22 23:14] pgScorpio commented on #1421
@ann0see

Yes, that would be a solution, but still I think that's a strange, unusual way, and as CONTRIBUTING says "Features should be usable in the sense that they act as expected to somebody who does not have a technical background."

And, in my opinion the current way is far from "as expected" since I have to explain this way to everyone "who does not have a technical background" again and agai

[2022-04-22 23:21] pgScorpio commented on #1464
@ann0see

No problem ;=)

Yes that is probably a first step, but I agree that maybe the message texts could be somewhat more consistent too.

[2022-04-23 06:11] gilgongo commented on #1421
Out of interest, why are the people who ask you having to delete the values in the list in the first place?

[2022-04-23 06:44] ann0see commented on #1421
If someone hosts a server at home and gives out the IP each time, there would be a long list of unusable IPs in the connect window.

[2022-04-23 06:46] ann0see commented on #1421
So would you prefer a "ₓ" delete button?

[2022-04-23 09:07] gilgongo commented on #1421
So that hitting "x" (preferably inside the field) would do the same thing as select/delete, then that would be clear, yes. The problem is that there isn't really a convention to have dropdowns that allow add/remove: https://ux.stackexchange.com/questions/64036/deleting-items-from-a-dropdown-menu. I just don't think a separate "management UI" is really warranted.

[2022-04-23 10:21] dcorson-ticino-com commented on #1421
Why would we want to add a completely non-standard delete?
I had implemented delete using the right click menu a long time ago, but although a very standard way to do things, it was not OK because it is not used as such elsewhere in Jamulus.
Where is the logic?

[2022-04-23 10:33] gilgongo commented on #1421
@dcorson-ticino-com  Having a context menu on a drop-down menu in order to delete items in that menu is not a standard way of doing things. A least, I know of no application that does it, or if it did I was not aware of it. An "x" visible in the UI makes you aware of the function and is (albeit uncommonly) sometimes a feature seen in other apps.

[2022-04-23 11:26] ann0see commented on #1421
Just a quick note:

Mozilla does similar to us in the custom directories field
https://support.mozilla.org/en-US/questions/1220341

I've seen x buttons on macOS

Right click doesn't work well on mobile/touchscreens.

[2022-04-23 12:16] dcorson-ticino-com commented on #1421
I guess that when they have good Ethernet connectivity that will be an issue, but I don't see it coming.

[2022-04-23 13:06] pgScorpio commented on #1421
AFAIK almost **any app** uses right-click menus for things like delete, rename, etc.

No but long-press does exactly the same (At least on android).

[2022-04-23 13:25] pgScorpio commented on #1421
@gilgongo

I already explained this in a earlier post... ;=)

In most cases because they entered a wrong address, or they want to delete "one time event" servers.

[2022-04-23 13:44] gilgongo commented on #1421
Not for drop-down menus. But even if that WAS the case, the wider point is that having a context menu for this would mean we'd need to have context menus for everything, if the user isn't going to be playing a game of right click hide and seek in the app ("Does the context menu work here? No. OK, maybe here? No. Here? Yes!").

Context menus are useful in some apps like DAWS or design tools that ha

[2022-04-23 18:41] ann0see commented on #2603
Todo:
- [ ] Announce the iOS and arm .deb files too.
- [ ] Document ARM release in Checklist

[2022-04-23 19:41] ann0see commented on #2335
@gilgongo can you work on rephrasing these options according to Peter's suggestions: https://github.com/jamulussoftware/jamulus/issues/2335#issuecomment-1028431267 ?

[2022-04-23 19:45] ann0see commented on #2347
Sorry for the maintenance noise here.

To me it seems a bit difficult to proceed here. @gilgongo @jose1711 @mulyaj do you have any other suggestion on how to move this forward? I think

Could be reworded to

**Note: ** I 've unsubscribed from this issue to keep notifications down. If you need me, please ping me.

[2022-04-23 19:48] ann0see commented on #2365
@henkdegroot do you plan to fix this?

[2022-04-23 19:52] hoffie commented on #838
https://bugreports.qt.io/browse/QTBUG-11616 might be relevant (in other words: it seems to be expected behavior and there might be workarounds via the Windows-specific API, `OleFlushClipboard`)

[2022-04-23 19:54] ann0see commented on #1973
Un-Tagged since I don't think the redesign is finished for the upcoming release.

[2022-04-23 20:00] ann0see commented on #2041
De-Tagged since PR was closed and we're waiting on a refactoring of the settings.

[2022-04-23 20:01] ann0see commented on #2475
@hoffie do you think this should go into 3.9.0 or rather in the next release?

[2022-04-23 20:02] ann0see commented on #2438
@Rob-NY @dtinth does anyone want to open a PR on this issue?

[2022-04-23 20:09] ann0see commented on #2482
Moving to discussion as no solution is available at the moment.

[2022-04-23 20:11] ann0see opened #2613 "Evaluate further multithreading improvements"
Was https://github.com/jamulussoftware/jamulus/issues/2446

<div type='discussions-op-text'>

<sup>Originally posted by **hoffie** March  2, 2022</sup>

**Has this feature been discussed and generally agreed?**

No.

**Describe the solution you'd like**

I think there are multiple places where there is a chance of further improving the multithreading behavior. These are things to investigate and b

[2022-04-23 20:13] #2613 closed

[2022-04-23 20:13] ann0see commented on #2446
Ok. Re-Opened

[2022-04-24 05:58] ann0see commented on #2131
Ah sorry. @ToolTech I linked something wrong. Could you please test https://github.com/emlynmac/jamulus/suites/6225519742/artifacts/220637083

[2022-04-24 19:22] henkdegroot commented on #2365
I notice a few issues related to meterstyle, so perhaps include all in one PR?

[2022-04-24 19:39] henkdegroot commented on #2126
I notice a few issues related to meter style, so perhaps include all in one PR?

I am thinking about adding a "second" meter style option so that the "own" level and the "mixer board" can be set indepent from each other and only do the "no meters" for the mixer board. This question came up in a reply when the meter style was introduced, to allow different styles to be used for the own meter vs the

[2022-04-24 19:39] ann0see commented on #2365
Yes you can but please split commits

[2022-04-24 19:44] ann0see commented on #2126
Eh... Please keep it simple. I don't know how much benefit that would have. It's a hack to "solve" the issue that one can't find their own fader quickly IMHO. But we have the own fader first option now.

[2022-04-24 19:45] ann0see commented on #2126
Ah. Sorry now I understand: own signal = local signal.
Still not sure if that makes much sense

[2022-04-24 21:45] pgScorpio opened #2614 "Memory leak when using Rpc server"
**Describe the bug**
CServerRpc and CClientRpc/CServerRpc  are created with "new" in main.cpp, but are never deleted.

**To Reproduce**
Run Jamulus with and without valid --jsonrpcport and --jsonrpcsecretfile parameters.
Use Visual studio's memory usage diagnostic tool to check the difference in memory usage at exit.

**Expected behavior**
Cleanup on exit.

**Screenshots**

**Operating system**
n.

[2022-04-25 08:03] hoffie commented on #2614
Thanks for the report.
Without having looked at the code, these seem to be the handler instances, so they are only instantiated once on startup, right?

I vaguely remember that other init-once stuff was not properly cleaned up on exit in the past, but I'm not totally sure and don't remember if it might have been fixed meanwhile.

I think it makes sense to fix it in order to have a clean output whe

[2022-04-25 09:42] jose1711 commented on #2347
I think this is good.

[2022-04-25 16:42] henkdegroot commented on #2126
Well currently there is logic that your own/local signal meter style looks different when you select the "small/narrow" options as these are intended for the mixer board "compact" mode. For instance, when you select small, you still get the "big" round LEDs.
Allow a independent selection of style for your "own/local" signal, this can keep being shown while the rest of the mixer board may be withou

[2022-04-25 18:53] henkdegroot commented on #2126
So  no meter style option would also remove the input meter? Or would that still show, and if so which type should it show?

[2022-04-25 19:51] DavidSavinkoff commented on #2126
The input meter was not part of the change so it should remain the same as before. Thanks.

[2022-04-25 21:28] dtinth commented on #2614
@pgScorpio Hello, thanks for the report on memory leaking issue. I'm the original author of the JSON-RPC code.

IMO this issue may not be a high impact one because the RPC server is initialized once and used throughout the lifetime of the process. Still I agree that it is a memory leak nonetheless and it is better to have a cleaner output from memory profiler. Most of my programming background is

[2022-04-25 21:57] hoffie commented on #1745
I've just enabled ping/reachability metrics for the official directory servers on my Prometheus infrastructure based on the below script.

<details>
<summary>script</summary>

[code]
</details>

[2022-04-26 05:41] ann0see commented on #1745
Yes, I'd do that

What's the alternative?
* GitHub actions via scheduled runs?
* Monitoring Provider

[2022-04-26 10:29] hoffie commented on #1745
@jamulussoftware/maindevelopers I've just adjusted my directory and jamulus.io link checker monitoring to target team@. I'll close this issue for now. If someone thinks that resolving the single-person-runs-Jamulus-infra topic is a priority, please open a separate issue for that.

[2022-04-26 10:48] #1745 closed

[2022-04-26 20:02] pgScorpio commented on #2614
@hoffie

Yes, there is still a lot more. i.e. ASIOSDK also has a big memory leak, and we can't change that, but that should be solved with the new Sound implementation (not using those ASIOSDK classes/functions.)

Yes, I just did a pull request, See #2618

[2022-04-26 21:33] hoffie commented on #2363
@ann0see Did I understand https://github.com/jamulussoftware/jamulus/pull/2300#issuecomment-1110251173 correctly that those glitches are no longer there on Windows since building with 6.3.0?

[2022-04-26 21:36] ann0see commented on #2363
Yes – at least with the self compiled version.

[2022-04-26 21:38] hoffie commented on #2363
Ok, maybe you can verify with the autobuild versions at some point and we could close this issue.

[2022-04-27 05:07] henkdegroot commented on #2126
But the input meter style is part of the change. As the appearance changes depending on the selected style. So the "no meter style" option cannot be implemented without having effect on that. At the very least we need to define the style to be used.

[2022-04-27 06:58] henkdegroot commented on #2365
As you can see from the PR, I did a separate one for this.

[2022-04-27 09:08] ann0see commented on #2363
Yes. Windows 11 with the latest Qt version doesn't show these issues anymore. Still not sure about the iOS crash.

[2022-04-27 16:55] DavidSavinkoff commented on #2126
I am not insistent on small details, that is why I mentioned this. I also don't want endless suggestions to be a blocking issue.
The indicators are a good feature, especially when they can be turned off after you are satisfied with the setting.
I am hoping the no meter option is easy to do with minimal code changes. :-)

[2022-04-27 17:24] henkdegroot commented on #2126
Thing is that the no meter option will have to introduce new code/logic to cover the Input Meter.
![image](https://user-images.githubusercontent.com/13550012/165583434-cd291e8c-a3b6-48d4-870f-678d18c7fd06.png)

Imagine to look of Jamulus when the high lighted red area is not showing anything.....this would mean the "no meter" option has to remove the additional text strings etc. and therefore adds

[2022-04-27 18:18] DavidSavinkoff commented on #2126
_Maybe apply the "no meter" option to the mixer board first, then to the input meter later if necessary.
_Maybe overwrite the input meter area with the "red muted banner" when mute myself is activated. And right-click to toggle (meters // unmuted banner) left-click toggle (mute on // mute off)
_Maybe leave a realistic hole showing the inside of Jamulus! :-))

[2022-04-27 18:34] henkdegroot commented on #2126
Guess we are not aligned, as the meter style selection option controls both....so I don't see how this can be applied to the mixer board first and then to the input meter.

The other suggestions require adding a lot more logic to the code.

[2022-04-27 19:19] gilgongo commented on #2335
Probably best not to use the same words in the commands and also in the definitions, particularly if "mute" is usually associated with not hearing the thing you're muting. So would the following be slightly clearer?

[code]

[code]

[2022-04-27 19:55] ann0see commented on #2335
Maybe slightly better – however I doubt we can do much against this confusion

[2022-04-27 21:01] DavidSavinkoff commented on #2126
Please do what you know can be done.

Then I don't like them either.

[2022-05-02 06:52] #2289 closed

[2022-05-02 06:52] #2553 closed

[2022-05-02 06:52] #2558 closed

[2022-05-02 07:41] ann0see commented on #2553
@pgScorpio I think the last thing missing here is an update of the circular dependency on the website? Can you open an issue on the website repo for that?

[2022-05-02 15:18] gilgongo commented on #2553
Does it? I can't see where.

In any case, https://jamulus.io/wiki/Contribution is for people who don't look at Github because they're not interested in coding.

[2022-05-02 17:34] pgScorpio commented on #2553
Well I don't know if that's just a website problem, since it's github md files pointing to the wiki and the wiki pointing to the github md files....
It seems logical to refer to the md files from the wiki  (And I think they should ONLY do that.).
But, though it seems logical that CONTRIBUTING.md, points to the wiki,  the wiki does not provide much more information than already in CONTRIBUTING.md,

[2022-05-02 17:50] gilgongo commented on #2553
I can't see where that's happening - can you explain?

BTW the content on https://jamulus.io/wiki/Contribution was written for people who don't know or care about coding, so links to Github for those people are potentially off putting perhaps. Mind you, you can't contribute to Jamulus without using Github so maybe that's moot.

[2022-05-02 18:01] pgScorpio commented on #2553
OK, so the link to the wiki is no longer there in CONTRIBUTING.md ??

Wiki says:
Want to contribute code?
See our [guidelines for getting involved in development](https://github.com/jamulussoftware/jamulus/blob/master/CONTRIBUTING.md).

[2022-05-02 18:59] #2332 closed

[2022-05-06 07:30] gilgongo commented on #2603
We seem to be a bit far from a release at the moment, unless we de-tag a lot of stuff? There are 24 things in the backlog apparently not even being worked on, for example: https://github.com/orgs/jamulussoftware/projects/2?card_filter_query=milestone%3A%22release+3.9.0%22

Of course, if some of those are being worked on, please will those responsible update the project status, since without that w

[2022-05-06 14:38] pgScorpio commented on #1973
@ann0see

I have some rework on commandline options and settings handling in progress that would allow you to store most commandline parameters in the ini file. I think that that would also solve this problem.

In this case the general idea would be to run Jamulus with a `--store` parameter once. i.e.:
`Jamulus --inifile <pathtomyini> --port 50001 --enableipv6 --clientname Guitar --store`

In whic

[2022-05-06 14:47] ann0see commented on #1973
Yeah, there has been a lot of discussion about the uni file writing feature. Volker disliked headless servers having a config file while I think pljones was supporting them. I think it's a step in the right direction.

[2022-05-06 17:15] pgScorpio commented on #555
Thanks @ann0see, I didn't notice this issue until now. (Since this subject is discussed in multiple places we maybe better start a real **discussion** on Settings and ini file handling?)

As I mentioned before in other issues/PR's I'm also working on a new implementation for settings and commandline parameter handling. And, as I see It, there would be no propper reason why a headless build should

[2022-05-07 10:19] pljones commented on #555
https://github.com/pljones/jamulus/tree/feature/next-big-thing-for-settings/src
https://github.com/pljones/jamulus/blob/feature/next-big-thing-for-settings/src/options.h
https://github.com/pljones/jamulus/blob/feature/next-big-thing-for-settings/src/options.cpp

[2022-05-07 17:14] pgScorpio commented on #555
@pljones

I'm aware of your work on settings and commandline options, and I already asked you multiple times to work on this together (until now, unfortunately without any reply).
I'm afraid you're still going in the wrong direction... Did you already have a look at my solution ?
[cmdlnoptions.h](https://github.com/pgScorpio/jamulus/blob/first-big-thing-for-settings/src/cmdlnoptions.h)
[cmdlnoptio

[2022-05-07 20:01] ann0see commented on #2603
Probably it's worth doing a radical de-tag for stuff we don't think are ready.

[2022-05-07 20:05] ann0see commented on #1114
Since I think we have it documented, can we close this? I think

Could be run by someone.

[2022-05-07 20:06] ann0see commented on #2131
Closing due to no response. @ginjo seems to be able to verify this issue is fixed in the next release.

[2022-05-07 20:09] ann0see commented on #2363
Closing this issue since the iOS crash is not related. Probably worth discussing in the linked PR.

[2022-05-07 20:09] #2363 closed

[2022-05-15 06:30] ann0see opened #2628 "linux/sound.h should not depend on src/server.h"
One thing I noticed when I was doing my various changes... linux/sound.h depends on src/server.h.  It shouldn't - not sure if you want to go fixing this here, though.  (It means moving the high resolution timer from src/server.* to src/util.* - was a simple cut-n-paste.)

__Originally posted by @pljones in https://github.com/jamulussoftware/jamulus/pull/2575#issuecomment-1100919070__

[2022-05-15 19:25] #2354 closed

[2022-05-17 11:48] pgScorpio commented on #2628
I think we better create a new file i.e. timers.h.
util.h is already becomming a receptacle (or trash can) with a lot of code that is not really "utility".
Better to keep specific code in specific files.

Is there already someone working on this one?

[2022-05-17 13:02] ann0see commented on #2628
Probably @pljones

https://github.com/pljones/jamulus/compare/patch/move-high-precision-timer...pljones:patch/rethink-int-ext-serverlist-entry?expand=1

[2022-05-17 20:53] pljones commented on #2628
I'm not sure it's "big" enough to warrant that -- too many files with tiny amounts of code in is a nightmare to manage.

Agreed on that point.  Something needs doing.

Yep.

[2022-05-19 06:31] #2319 closed

[2022-05-19 20:36] hoffie opened #2634 "Add `.gitattributes`"
As suggested by @pgScorpio in #2585

TODO: Work out the details

[2022-05-20 22:10] #2365 closed

[2022-05-21 11:04] #2591 closed

[2022-05-21 20:38] ann0see commented on #2603
@jamulussoftware/maindevelopers I'd like to move the release forward. Can we decide to de-tag some of the things in the milestone?

[2022-05-22 09:14] pljones commented on #2555
Closing with #2633

[2022-05-22 09:14] #2555 closed

[2022-05-22 09:21] pljones commented on #2466
I'm going to be trying to split out all the "moving to client (and server) what should be in client (and server) rather than UI" code from my settings stuff at some point (but after patch/server-listfilter-logging as it will part of refactoring feature/next-big-thing-for-settings into consumable chunks).

I also think @pgScorpio has some changes that may require exposing these "client" operations.

[2022-05-22 16:55] pljones commented on #2417
#2605 is done now, so can someone update here on what's left?  Thanks.

[2022-05-22 17:10] pljones commented on #2357
@hoffie is this likely to make 3.9.0?

[2022-05-22 17:12] pljones commented on #2403
Anyone know how to get this resolved?  Is there a related fix raised?  It _sounds_ pretty simple if someone knows how to change the installer to check first.

[2022-05-22 17:16] pljones commented on #2429
a) If the "ubuntu" is staying, can the issue title be changed, please?
b) @softins, if this went ahead, would you be able to update Simon's Script after the release?
c) Who maintains the "ubuntu" build script?

[2022-05-22 17:21] pljones commented on #2438
I'll get there eventually - CClient and CServer will take a tighter grip on a lot of things, with the GUI becoming thinner as a result.  But I'm quite a way off that.

Basically, _anything_ that causes a protocol message to be sent or handles the update from a protocol message being received should be in CClient or CServer, in my view.  These two should then use connect/sockets and emit/signals to

[2022-05-22 17:43] softins commented on #2429
Yes, I could do that, but would need a ping or mention to alert me, as I still don't have time to follow what's going on with Jamulus.

[2022-05-22 17:49] gilgongo commented on #2417
I think think the checklist is up to date (assuming we're OK with [the installer screen](https://github.com/jamulussoftware/jamulus/issues/2417#issuecomment-1104092437)

[2022-05-22 17:55] ann0see commented on #2357
@pljones I think this would need macOS builds with Qt 6

[2022-05-22 18:25] jujudusud commented on #2350
Is there another place where "software" has to be changed ?

[2022-05-22 18:41] hoffie commented on #2417
Just approved and merged that. That also covers the About screen in my opinion, so I've marked that task as done as well.

So, the only mandatory task before signing/sending the agreement would be this, I think?
*Document that users who self-compile and distribute the result should check this for themselves ([README.md](https://github.com/jamulussoftware/jamulus#acknowledgements) as well?)*

[2022-05-22 18:43] ann0see commented on #2350
I didn't find any other places, but you can grep the files probably?

[2022-05-28 16:20] #2628 closed

[2022-05-28 18:12] gilgongo commented on #2417
On the "self-compile and distribute" thing, we need to say something like "If you intend to distribute Jamulus for Windows yourself, you will need to get a licence to do so from Steinberg and comply with its terms on displaying their copyright notice" - is that right?

[2022-05-28 19:59] hoffie commented on #2417
Yes, I'd say so. We could try to outsource any interpretation what this means even more like this:
*"If you intend to distribute Jamulus for Windows (ASIO) yourself, you will need to ensure that you are in compliance with Steinberg's licence terms as described in the PDF in their ASIO SDK zip file."*

[2022-05-29 06:04] henkdegroot commented on #2417
Not sure if it should be mentioned like this, as we don't distribute this zip file with the release.

[2022-05-29 11:57] pljones commented on #2417
It should be the title of the document and something like "available in the ASIO SDK from Steinberg".

[2022-06-01 18:28] ann0see commented on #2290
I agree that the text is not perfect. Why don't we sync what the website says – as suggested above?

[2022-06-01 19:33] henkdegroot commented on #2290
Maybe we should just remove the "tooltip" for the Delay LED?

The jitter LED does not have a tooltip. Which seems to be a mistake in the code, in the section for the bufferLED, the almost the same text is set for the Tooltip however it is assigning it to the ledDelay again.

For both LED's, the What's This? text is "sort of" in sync with the web-site as the text is combined for connection stats an

[2022-06-03 05:53] henkdegroot commented on #2290
The PR current add's a tooltip for the Jitter LED. Left the existing tooltip for Delay LED in place.

[2022-06-03 10:04] gilgongo commented on #2634
Is this for 3.9.0 or shall we postpone?

[2022-06-03 10:11] #2290 closed

[2022-06-03 10:13] hoffie commented on #2634
Not strictly release-related. If it is ready, it can get in, if it isn't, it'll be done afterwards.

[2022-06-03 10:34] gilgongo commented on #2417
Might be it better to direct people to their developer page? That way we don't need to worry about updates to document names and stuff (and maybe one day they might even change to be GNU friendly). So:

"If you intend to distribute Jamulus for Windows (ASIO) yourself, please ensure that you are in compliance with Steinberg's licence terms: https://www.steinberg.net/developers"

[2022-06-03 10:59] gilgongo commented on #2417
We are now in compliance with what Steinberg want, so all that remains is to sign their agreement. We can presumably produce the `nosound` non-ASIO Windows server later as that's more about us than them.

I'll ping the relevant people for their signatures offline.

[2022-06-05 12:12] ann0see commented on #2474
@hoffie please close this since the PR was merged if this is finished.

[2022-06-05 12:24] ann0see commented on #1114
Files to be checked:
- [ ] Audiomixerboard.cpp: Personal Mix at:
- [ ] clientsettingsdlg: L - x (investigate)
- [ ] util.cpp Version:
- [ ] sound/asio/sound.cpp No ASIO audio device driver found (investigate)

[2022-06-14 10:27] ann0see commented on #2546
De-Tagged from 3.9.0. I think we should focus on getting the most important stuff in.

[2022-06-14 10:28] ann0see commented on #2603
@dtinth @Rob-NY There are still some JSON-RPC related open issues. Can you take care of them?

[2022-06-14 18:28] #1114 closed

[2022-06-14 20:54] ann0see commented on #2634
Da-tagged

[2022-06-14 20:59] ann0see commented on #1945
De-Tagged. I think it’s a thing for the backloh

[2022-06-14 21:02] ann0see commented on #2335
@gilgongo I think the `mutestream` option would be ok.
`mutemyown` could be

Cut my own sound in my personal mix (headless only). Others will still hear me.

[2022-06-14 21:03] ann0see commented on #2403
Tagging for 3.9.1

[2022-06-14 21:06] ann0see commented on #2417
Ok. The nosound build could also just be the JACK build, so I‘d say for now that’s the way to go without ASIO.

[2022-06-14 21:08] ann0see commented on #2429
Do we want to use the jamulus-headless name now? This needs changes on the website

[2022-06-14 21:09] ann0see commented on #2474
Closing as I think this is resolved. @hoffie please re-open if anything is missing.

[2022-06-14 21:09] #2474 closed

[2022-06-18 10:28] pljones commented on #2094
This looks like it's done.  Please re-open if there's a problem.

[2022-06-18 10:28] #2094 closed

[2022-06-18 10:37] pljones commented on #2417
@gilgongo Any update on the admin side?

[2022-06-18 10:45] pljones commented on #2614
Moved to 3.9.1

[2022-06-18 10:56] pljones commented on #2475
Moved to 3.9.1

[2022-06-18 10:59] pljones commented on #2603
Linked jamulussoftware/jamuluswebsite#711 and removed 3.9.0 from that issue.

[2022-06-18 11:04] pljones commented on #2335
We don't use "cut" in describing the mixer anywhere else, though.

[2022-06-18 11:15] pljones commented on #2347
_Hopefully_, #2645 will close this.

[2022-06-18 11:17] pljones commented on #2357
Moved to 3.9.1.

[2022-06-18 11:18] pljones commented on #2429
As there's no pressing reason for this being included, I've moved it to 3.9.1.

[2022-06-18 11:20] pljones commented on #2404
This appears to have gone stale for 3.9.0.  Moving to 3.9.1.

[2022-06-18 11:22] pljones commented on #2528
Moving to 3.9.1 along with the other Android ticket.

[2022-06-18 11:22] pljones commented on #2466
Moving to 3.9.1.  Hopefully more JSON-RPC progress can be made.

[2022-06-18 11:24] pljones commented on #2480
@jamulussoftware/maindevelopers Did this happen, does anyone know?

[2022-06-18 11:27] pljones commented on #2503
@jamulussoftware/maindevelopers this looks complete apart from one step -- but I don't know whether it's okay to close.  Can anyone confirm?

[2022-06-18 11:52] hoffie commented on #2503
Will raise a [PR](https://github.com/jamulussoftware/jamulus/compare/master...hoffie:autobuild/deb-fullname?expand=1) for the remaining part in some minutes. Can be closed afterwards.

[2022-06-18 12:18] ann0see commented on #2335
I think cut was to avoid the ambiguity between both mute options

[2022-06-18 14:24] pljones commented on #2335
In that case I think we've a bigger issue.  This should go back to looking at how to describe these options wherever they appear, in my opinion.

[2022-06-18 15:18] hoffie commented on #2480
Meh, this was supposed to be fixed in #2584 already. Somehow it's missing most of the mentioned commits. I will try to re-submit a fixed up #2584 instead.

[2022-06-18 20:19] hoffie opened #2657 "Changelog generation: Avoid false positives"
The changelog generator added #1873 for the latest nightly, although it was already part of a previous release.

It was probably due to 0764536fab6b84c69fafb0b4a7e865cd088de346.
The generator looks as both Github milestones and git history. Maybe the latter should always be cross-checked to remove PRs which are properly assigned to a previous milestone.

[2022-06-18 20:21] ann0see commented on #2417
Ah yes, and please do not hide the comments on this issue to make them visible without the need of being logged in.

[2022-06-18 20:24] ann0see commented on #2335
Yes. However, the re-phrasing should do exactly that?
Changes would need to be applied to the website too ofc.

[2022-06-18 20:47] pljones commented on #2335
I'm thinking of GUI _labels_, the What's This text, the hover text, things like that.

[2022-06-18 20:49] ann0see commented on #2335
Ok. Yes. But the problem is even larger - as @gilgongo mentioned somewhere: It's mostly related to the Mute Myself vs. mute own channel in own mix confusion.

[2022-06-18 21:06] pljones commented on #2335
I'm saying I think that should be tackled with priority over changing the help text.

[2022-06-19 10:26] hoffie opened #2662 "Build: Version comes from git tag, ChangeLog, Jamulus.pro"
_Originally posted by @pljones in https://github.com/jamulussoftware/jamulus/pull/2656#discussion_r901061485_

[2022-06-19 13:26] gilgongo commented on #2335
OK, but what we're looking at here is the description of the command line options for `--mutestream` and `--mutemyown`.  If we can work out the wording here, we can widen it out to the GUI and elsewhere later.

On the wording as it stands, if somebody is used to the standard meaning of the term "mute", they will expect the sound they hear to stop. Yet in the case of `--mutestream` they will hear t

[2022-06-19 16:06] #2259 closed

[2022-06-19 16:12] ann0see commented on #2662
Just a note, we shouldn't extract the version from ChangeLog.
We could automatically extract the version from the tag and put it into Jamulus.pro

[2022-06-19 18:03] #2657 closed

[2022-06-19 18:04] #2480 closed

[2022-06-19 20:54] pljones commented on #2662
I think the problem is that there might not be a useful tag when someone triggers the autobuild -- and it still has to work.  So it has to get a version from somewhere.  To me, `Jamulus.pro` should actually be the overruling version (regardless of tag).  That _must_ exist for a run to work.  ChangeLog doesn't have to exist for `qmake && make` to work but Jamulus.pro must.

(So yes, I said let the

[2022-06-19 21:05] pljones commented on #2335
"Prevent others hearing what I play" - that might suggest why it's called mute?  The sending to server stuff is a bit more technical that needed.  That would give
[code]
In both cases, of course, the participant will lose mental latency compensation with others on the server as they're not hearing the mix as others hear it.  I don't think adding any more to the text, though, as it starts to get co

[2022-06-19 21:28] ann0see commented on #2335
Yes, these descriptions should also work. I'm slightly supporting these suggestions more.

There are valid use cases for both (listen only client, Streaming,...)

[2022-06-22 05:47] ann0see opened #2663 "create-dmg: investigate new compression options"
Create-DMG has received an update. We should update the scripts and investigate later on if we should also switch to a new compression format.
https://github.com/create-dmg/create-dmg/issues/128

I don’t think we can switch the format without breaking backwards compatibility for the legacy build.

[2022-06-22 07:26] pljones commented on #2503
Marking complete, as that last step has been done.

[2022-06-22 07:26] #2503 closed

[2022-06-23 06:19] #2574 closed

[2022-06-24 11:02] ignotus666 opened #2674 "Use Weblate for translations"
@jamulussoftware/translators @ann0see @gilgongo

Though the po4a setup made things a bit simpler, I think there are still big barriers when it comes to translating the documentation. A big one is having to navigate all the GitHub stuff (forking, branches, PRs, conflicts, etc.). Further problems arise with local translating due to different OS's, editors/versions, incorrect settings, etc. A case in

[2022-06-25 12:52] pljones commented on #2603
I've added target dates now.  Hopefully the state of the code should be pretty stable by the end of the week and we won't hit too many bumps getting the translations in.

[2022-06-25 13:26] pljones commented on #2417
Just to add:

This is now called "serveronly" to make it clearer what it's for.  The "no-ASIO" Windows _client_ is the JACK one, as @ann0see says.  I think this action can be marked done.

[2022-06-25 13:55] pljones commented on #2417
@hoffie

From what I saw, I'd done my bit -- is there anything left from our side to do here?

[2022-06-27 20:54] ann0see opened #2677 "Installer CI script check did not start on #2667"
**Describe the bug**

Changes or additions to the installer files did not execute the CI job for testing the installer.

**To Reproduce**

Open a PR adding a new language to the installer.

**Expected behavior**

CI script runs and checks for issues

**Screenshots**
/

**Operating system**
/

**Version of Jamulus**
/

**Additional context**
Maybe due to my file moving around the .yaml file got a t

[2022-06-27 21:06] ann0see commented on #2677
Maybe this fixes it https://github.com/ann0see/jamulus/commit/6eb8b24fc994e32dfb45b6a6b73aa48d002f75b8

[2022-06-27 21:10] hoffie commented on #2677
Yep, sounds good.

[2022-06-27 22:02] hoffie commented on #2663
#2664 has been merged. Are there any plans to change further options, such as compression formats? If so, what benefits would we expect?

[2022-06-28 05:28] ann0see commented on #2663
Benefits would be smaller .dmg files for modern versions of macOS. I don't plan to do anything for the upcoming release

[2022-06-28 11:30] #2335 closed

[2022-06-28 18:41] pcar75 opened #2680 "Option ctrlmidich writes fader tags in .ini file as Channel':'Name"
**Describe the bug**
When using the `--ctrmidich` option, the jamulus.ini file is rewritten with fader tags identified by `ChannelNumber:Name` which defeats the purpose of conserving fader info since the same user only has a 1/250 (I think) chance of being assigned the same channel number in a future session.

**To Reproduce**

1. Provided a previous Jamulus usage was without this option, the jamu

[2022-06-28 21:48] pcar75 commented on #2680
A friend confirmed that he gets the same behavior in Linux ;  Ubuntu 18,04 LTS I believe.

[2022-06-28 22:14] rdica commented on #2680
Yes, confirmed
[code]

[2022-06-29 09:43] hoffie opened #2681 "Build: Compiler warnings on Xcode 13.4 (definition of implicit copy assignment operator)"
**Describe the bug**

**To Reproduce**

Current Mac builds show compiler warnings. I suspect that those are newly introduced by newer compiler versions in Xcode (#2672).

**Expected behavior**
No warnings.

**Screenshots**
https://github.com/jamulussoftware/jamulus/runs/7109253970?check_suite_focus=true#step:9:1299
[code]

**Operating system**
macOS 12, Xcode 13.4

**Version of Jamulus**

~master

[2022-06-30 17:05] pljones commented on #2417
Looks like we're stuck on this until we here from @gilgongo again.

[2022-07-01 05:52] ann0see commented on #2680
Probably we get the name from the UI or do something "naive" to display the names (not looked at the respective code yet). @ignotus666 or @dakhubgit know the Midi Code.

[2022-07-01 18:19] #2347 closed

[2022-07-01 21:17] hoffie opened #2686 "Audio alerts: Consider JSON-RPC use case"
_Originally posted by @pljones in https://github.com/jamulussoftware/jamulus/issues/2640#issuecomment-1172632352_

[2022-07-02 09:17] gilgongo commented on #2417
Oops sorry - I was just thinking that we can only sign and send when we've released the changes.

[2022-07-02 09:22] hoffie commented on #2417
Ah, good point. If they check carefully (or at all), it might make sense to do it that way.
Maybe close this one as done as part of 3.9.0 and open a new issue for sending the agreement post-3.9.0?

[2022-07-02 09:27] gilgongo commented on #2417
OK let's do that then - closing this as done and I'll prep an issue.

[2022-07-02 09:27] #2417 closed

[2022-07-02 09:30] gilgongo opened #2687 "Sign Steinberg agreement"
Now that we've [done what Steinberg require](https://github.com/jamulussoftware/jamulus/issues/2417) for ASIO, we can sign and send the agreement to them once 3.9.0 is out.

[2022-07-02 09:34] hoffie commented on #2687
Tagging for 3.9.1 as an additional reminder, but we should really do that once 3.9.0 is out as stated above.

[2022-07-02 12:43] pljones opened #2688 "Improve Windows "headless" operation"
I just happened upon a StackOverflow thread I don't think I'd read before about handling the command line on Windows with Qt.

The basic problem we have now is that if you just go ahead and use the default approach, your app goes into the background and the console issues the next command prompt.  Which is a bit odd and probably not wanted.  Why it's like that is because _most_ Qt apps _aren't_ he

[2022-07-02 16:29] pljones commented on #2688
As this is tiny - and done - I've added it to 3.9.0.

[2022-07-03 07:46] pljones commented on #2603
OK, I'm declaring the code freeze _now_ for any changes requiring translation.

[2022-07-03 07:51] pljones commented on #2603
Could someone (@gilgongo? if you're not available for this, please shout) check the "needs documentation" state on the marked tickets, please: [milestone:"Release 3.9.0" label:"needs documentation"](https://github.com/orgs/jamulussoftware/projects/2?card_filter_query=milestone%3A%22release+3.9.0%22+label%3A%22needs+documentation%22)https://github.com/orgs/jamulussoftware/projects/2?card_filter_que

[2022-07-03 08:30] pljones opened #2692 "Update de_DE app translation for 3.9.0"
Hi @rolamos,
We are getting ready for the 3.9.0 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **de_DE** by **2022-07-22**.

Please note the new location of the translation files (.ts): They are now in src/translation. (Refactoring: move src/res/translation to src/translation #2576)

[2022-07-03 08:30] pljones opened #2693 "Update es_ES app translation for 3.9.0"
Hi @ignotus666,
We are getting ready for the 3.9.0 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **es_ES** by **2022-07-22**.

Please note the new location of the translation files (.ts): They are now in src/translation. (Refactoring: move src/res/translation to src/translation #25

[2022-07-03 08:30] pljones opened #2694 "Update fr_FR app translation for 3.9.0"
Hi @jujudusud,
We are getting ready for the 3.9.0 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **fr_FR** by **2022-07-22**.

Please note the new location of the translation files (.ts): They are now in src/translation. (Refactoring: move src/res/translation to src/translation #257

[2022-07-03 08:30] pljones opened #2695 "Update it_IT app translation for 3.9.0"
Hi @dzpex,
We are getting ready for the 3.9.0 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **it_IT** by **2022-07-22**.

Please note the new location of the translation files (.ts): They are now in src/translation. (Refactoring: move src/res/translation to src/translation #2576)

[2022-07-03 08:31] pljones opened #2696 "Update nl_NL app translation for 3.9.0"
Hi @henkdegroot, @jerogee,
We are getting ready for the 3.9.0 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **nl_NL** by **2022-07-22**.

Please
- Update your fork from `jamulussoftware/jamulus` `master` and create a working branch
- Update translations using Qt Linguist in your fo

[2022-07-03 08:31] pljones opened #2697 "Update pl_PL app translation for 3.9.0"
Hi @SeeLook,
We are getting ready for the 3.9.0 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **pl_PL** by **2022-07-22**.

Please note the new location of the translation files (.ts): They are now in src/translation. (Refactoring: move src/res/translation to src/translation #2576)

[2022-07-03 08:31] pljones opened #2698 "Update pt_BR app translation for 3.9.0"
Hi @melcon,
We are getting ready for the 3.9.0 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **pt_BR** by **2022-07-22**.

Please note the new location of the translation files (.ts): They are now in src/translation. (Refactoring: move src/res/translation to src/translation #2576)

[2022-07-03 08:31] pljones opened #2699 "Update pt_PT app translation for 3.9.0"
Hi @Snayler,
We are getting ready for the 3.9.0 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **pt_PT** by **2022-07-22**.

Please note the new location of the translation files (.ts): They are now in src/translation. (Refactoring: move src/res/translation to src/translation #2576)

[2022-07-03 08:31] pljones opened #2700 "Update sk_SK app translation for 3.9.0"
Hi @jose1711,
We are getting ready for the 3.9.0 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **sk_SK** by **2022-07-22**.

Please note the new location of the translation files (.ts): They are now in src/translation. (Refactoring: move src/res/translation to src/translation #2576

[2022-07-03 08:31] pljones opened #2701 "Update sv_SE app translation for 3.9.0"
Hi @genesisproject2020,
We are getting ready for the 3.9.0 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **sv_SE** by **2022-07-22**.

Please note the new location of the translation files (.ts): They are now in src/translation. (Refactoring: move src/res/translation to src/transla

[2022-07-03 08:31] pljones opened #2702 "Update zh_CN app translation for 3.9.0"
Hi @BLumia,
We are getting ready for the 3.9.0 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **zh_CN** by **2022-07-22**.

Please
- Update your fork from `jamulussoftware/jamulus` `master` and create a working branch
- Update translations using Qt Linguist in your fork,
- Commit an

[2022-07-03 09:13] jerogee commented on #2696
@henkdegroot : happy to review and for you to take the lead.

[2022-07-03 10:59] BLumia commented on #2702
While translating, I found I don't understand what does this mean:

https://github.com/jamulussoftware/jamulus/blob/dbd34cd948ff07f35bf04517d4081b63ccc0a663/src/serverdlg.cpp#L737

Could you explain what does it mean here? Thanks!

[2022-07-03 11:30] pljones commented on #2702
It should _really_ say "Now a directory" but that's not been changed (or has it?).  A Directory is what you see in the Connect dialog:
![image](https://user-images.githubusercontent.com/1549463/177037353-6ba33702-7adf-4ede-affe-f0d3a7bab695.png)

"private.jamulus.io" is the name of the Directory.  It's a Server, like other Servers but - rather than registering with another Directory it "registers

[2022-07-03 12:34] jujudusud commented on #2694
Thanks a lot @pljones for all your work here.
I will do the translation as soon as possible. Thanks for the assignment.
Is @trebmuh wanted to review? or something else ?

[2022-07-03 13:46] trebmuh commented on #2694
It'll depend if my daily job leave me some time.

[2022-07-04 17:44] ann0see commented on #2603
We need to tell macOS users about the possibility they need to use the legacy build from now on on Mojave or earlier.

[2022-07-04 18:07] pljones commented on #2603
Oops, I missed that.  Do we have somewhere to check against?

[2022-07-04 18:19] hoffie commented on #2603
Maybe cross-check with the Github org. In some way, that list is the authoritative one I guess. This is mainly a reminder to think about adding anyone who has joined recently (Korean?).

[2022-07-04 18:24] pljones commented on #2603
Which opens the question of whether this can be automated by the script itself :).

[2022-07-04 20:46] pljones opened #2709 "Remaining instance of "directory server""
In the translations, I've spotted the following:
[code]
The "Now a directory server" may be the last remaining instance of "directory server" usage - there should be none left.

**To Reproduce**

Look at `serverdlg.cpp` line 737.

**Expected behavior**

Should say `Now a directory`.

**Version of Jamulus**

master HEAD

**Additional context**

I'll try to fix this now...

[2022-07-05 20:35] #2709 closed

[2022-07-05 21:03] pljones commented on #2692
Hi @rolamos,

Sorry to have to say, we've merged a patch, #2710, which affects translations.  If you could pull from upstream again -- you will get conflicts if you've started updating, I'm afraid.  There are two changes:

At line 3637 `<location filename="../serverdlg.cpp" line="737"/>` "Now a directory"
replaces `<location filename="../serverdlg.cpp" line="737"/>` "Now a directory server" at lin

[2022-07-05 21:06] hoffie opened #2711 "iOS: Investigate Qt6 crash & update afterwards"
_Originally posted by @ann0see in https://github.com/jamulussoftware/jamulus/issues/2300#issuecomment-1172693513_

(Also see further investigation by @pljones in that ticket)

Original commit (including a relevant workaround) for reference: de632f4a9f84200f72ace34a101770c5b7a48fcf

[2022-07-05 21:06] pljones commented on #2693
Hi @ignotus666 (and I'm doing these in bulk...),

Sorry to have to say, we've merged a patch, #2710, which affects translations.  If you could pull from upstream again -- you will get conflicts if you've started updating, I'm afraid.  There are two changes:

`<location filename="../serverdlg.cpp" line="737"/>` "Now a directory"
replaces `<location filename="../serverdlg.cpp" line="737"/>` "Now a d

[2022-07-05 21:06] pljones commented on #2694
Hi @jujudusud (and I'm doing these in bulk...),

Sorry to have to say, we've merged a patch, #2710, which affects translations.  If you could pull from upstream again -- you will get conflicts if you've started updating, I'm afraid.  There are two changes:

`<location filename="../serverdlg.cpp" line="737"/>` "Now a directory"
replaces `<location filename="../serverdlg.cpp" line="737"/>` "Now a di

[2022-07-05 21:07] pljones commented on #2695
Hi @dzpex,

Sorry to have to say, we've merged a patch, #2710, which affects translations.  If you could pull from upstream again -- you will get conflicts if you've started updating, I'm afraid.  There are two changes:

`<location filename="../serverdlg.cpp" line="737"/>` "Now a directory"
replaces `<location filename="../serverdlg.cpp" line="737"/>` "Now a directory server".
The important change

[2022-07-05 21:08] pljones commented on #2697
Hi @SeeLook,

Sorry to have to say, we've merged a patch, #2710, which affects translations.  If you could pull from upstream again -- you will get conflicts if you've started updating, I'm afraid.  There are two changes:

`<location filename="../serverdlg.cpp" line="737"/>` "Now a directory"
replaces `<location filename="../serverdlg.cpp" line="737"/>` "Now a directory server".
The important chan

[2022-07-05 21:08] pljones commented on #2698
Hi @melcon,

Sorry to have to say, we've merged a patch, #2710, which affects translations.  If you could pull from upstream again -- you will get conflicts if you've started updating, I'm afraid.  There are two changes:

`<location filename="../serverdlg.cpp" line="737"/>` "Now a directory"
replaces `<location filename="../serverdlg.cpp" line="737"/>` "Now a directory server".
The important chang

[2022-07-05 21:09] pljones commented on #2700
Hi @jose1711,

Sorry to have to say, we've merged a patch, #2710, which affects translations.  If you could pull from upstream again -- you will get conflicts if you've started updating, I'm afraid.  There are two changes:

`<location filename="../serverdlg.cpp" line="737"/>` "Now a directory"
replaces `<location filename="../serverdlg.cpp" line="737"/>` "Now a directory server".
The important cha

[2022-07-05 21:09] pljones commented on #2699
Hi @Snayler,

Sorry to have to say, we've merged a patch, #2710, which affects translations.  If you could pull from upstream again -- you will get conflicts if you've started updating, I'm afraid.  There are two changes:

`<location filename="../serverdlg.cpp" line="737"/>` "Now a directory"
replaces `<location filename="../serverdlg.cpp" line="737"/>` "Now a directory server".
The important chan

[2022-07-05 21:09] pljones commented on #2701
Hi @genesisproject2020,

Sorry to have to say, we've merged a patch, #2710, which affects translations.  If you could pull from upstream again -- you will get conflicts if you've started updating, I'm afraid.  There are two changes:

`<location filename="../serverdlg.cpp" line="737"/>` "Now a directory"
replaces `<location filename="../serverdlg.cpp" line="737"/>` "Now a directory server".
The imp

[2022-07-05 21:10] pljones commented on #2702
Hi @BLumia,

Sorry to have to say, we've merged a patch, #2710, which affects translations.  If you could pull from upstream again -- you will get conflicts if you've started updating, I'm afraid.  There are two changes:

`<location filename="../serverdlg.cpp" line="737"/>` "Now a directory"
replaces `<location filename="../serverdlg.cpp" line="737"/>` "Now a directory server".
The important chang

[2022-07-06 06:18] henkdegroot commented on #2696
Thank you for the details. I have rebased the translation PR and forced the push.

[2022-07-06 16:23] jujudusud commented on #2694
Ok nice @pljones. I will do the translation ASAP. :-)

[2022-07-06 17:54] ann0see commented on #2357
Re-Opening as the universal build is something for the next version.

[2022-07-06 21:44] ann0see opened #2714 "Finalise Korean translation"
- [x] Add translator to Organisation
- [x] Update translation issues script
What else?

[2022-07-08 14:35] ann0see commented on #2714
@bagjunggyu I've now added you to the translators group on GitHub to allow us ping all translators at once if there's a new release.

[2022-07-08 14:37] bagjunggyu commented on #2714
@ann0see Thanks :) I did it now.

[2022-07-08 15:51] ann0see commented on #2603
@pljones asked to open an issue for all the things we want/need to highlight for the next release. I think we usually drafted a release announcement as Pull Request?

[2022-07-09 13:10] gilgongo opened #2720 "apt install doesn't pull in libQt5Multimedia.so.5"
[code]

**Expected behavior**

Dependencies to be install automatically?

**Operating system**

Ubuntu 22.04 - had to install libqt5multimedia5 manually

[2022-07-09 14:06] ann0see commented on #2720
Thanks. How is the package you installed to fix this called?

[2022-07-09 20:47] pljones commented on #2720
[code]

[2022-07-09 21:03] pljones commented on #2720
PR raised.

[2022-07-10 13:17] gilgongo opened #2723 "Checkbox controls should be "self-labelling""
I think it's more accessible (and better UX) to use "self-labelling form elements".

So for example, it should be:

`[ ] Audio Alerts`

not split between a label and the control:

Audio Alerts          ` [ ] Enable`

The reason is mainly so that the control doesn't get separated from its label by a screen reader, but also in some contexts words like "enable", "on", "set" etc. might have unintended

[2022-07-10 18:31] pljones opened #2726 "UX: Client Settings Profile Instrument List"
**Describe the bug**

The "Instrument" drop down is harder to use than it needs to be.

**To Reproduce**

**NOTE** This behaviour occurs on a "home brew" build of Jamulus with a different Qt version from the "official" version.  I've not checked whether it's the same.  If someone could confirm, I'd appreciate it.  If it's good with the .deb, we can close this.

Run Jamulus Client with the GUI.

Op

[2022-07-10 21:37] dcorson-ticino-com commented on #2726
Under Win10 this is working correctly for 3.9 beta1 and all the older versions I still find on my compi.

[2022-07-12 19:03] #2694 closed

[2022-07-12 19:17] ann0see commented on #2692
@rolamos could you please give us a short update if you plan to work on the German translation?

[2022-07-12 19:17] ann0see commented on #2697
@SeeLook could you please give us a short update if you plan to work on the Pl translation?

[2022-07-12 19:18] ann0see commented on #2699
@Snayler could you please give us a short update if you plan to work on the pt_PT translation?

[2022-07-12 19:18] ann0see commented on #2701
@genesisproject2020 could you please give us a short update if you plan to work on the sv_SE translation?

[2022-07-12 19:19] ann0see commented on #2700
@jose1711 could you please give us a short update if you plan to work on the sk_SK translation?

[2022-07-12 21:08] hoffie opened #2730 "Regression: Gain changes not applied in all cases (e.g. new client level = 0)"
I repeated above procedures using 1% and got the reduced volumes expected, which were quite lower in volume than what I heard when new client level was at 0%.

_Originally posted by @rdica in https://github.com/jamulussoftware/jamulus/discussions/2725_

I can confirm this behavior.

To be checked:
- [x] Is the actual value relevant (i.e. is 0 or 1 problematic or is this just the most extreme effec

[2022-07-12 21:24] jose1711 commented on #2700
@ann0see on vacation but I should be able to find some time this week to take a look.

[2022-07-13 06:25] ann0see commented on #2700
Great. Thanks for your confirmation

[2022-07-13 06:26] ann0see commented on #2714
Fixed by @gilgongo

[2022-07-13 06:26] #2714 closed

[2022-07-13 17:28] SeeLook commented on #2697
@ann0see  I was going to do this during incoming weekend - until 17.07.
But if there is someone eager to do this sooner I may pass the honors :-)

[2022-07-13 21:07] ann0see commented on #2697
No problem. I just want to check the state of the translations.

[2022-07-13 21:43] gilgongo commented on #425
Seems like this has been addressed by https://github.com/jamulussoftware/jamulus/pull/2640 so I'll close.

[2022-07-14 06:14] pljones commented on #425
#2640 uses audio notifications.  This issue is for OS popups.  The two aren't particularly related.

[2022-07-14 15:17] rolamos commented on #2692
Hi, I'm afraid I'll have to skip this release due to time constraints. Sorry

[2022-07-14 16:48] pljones commented on #2699
@melcon, if @Snayler isn't available, would you have time to look at this?  I'm not sure how far apart the two are.

[2022-07-14 18:34] #2693 closed

[2022-07-15 06:12] #2720 closed

[2022-07-16 07:03] gilgongo commented on #2350
I didn't find any either. Closing in the interests of keeping the number of issues down.

[2022-07-16 07:03] #2350 closed

[2022-07-16 07:13] gilgongo commented on #2433
I think in practice as @mirabilos says we can assume non-text resources are inheriting the licence we have in the repo, and that they had the necessary status for inclusion when they were merged. I suppose if we know of any particular sources for icons and things we can always list in the attribution section in README.txt. Authors might be in the commit messages?

[2022-07-16 16:32] pljones commented on #2730
Having looked at the code... it's a nightmare.

The big, big problem is this is implemented in the mixer panel, which is a GUI component.  It should be in the client, either directly in CClient or in a non-GUI class handling the mixer.

The latter seems the better approach -- currently CClient doesn't know very much about what appears in the main client GUI.  Effectively splitting mixer into behav

[2022-07-16 17:52] mirabilos commented on #2433
Jonathan dixit:

That’s good, but if they have different licences they need to be listed
as well (even if compatible); most licences require reproduction of the
licence text.

Authors generally MUST be listed in the text files (either the files
themselves or the project-wide licence file), as they are part of the
copyright statement (explicit or implicit) and therefore must be kept
with the work.

[2022-07-16 20:57] ann0see commented on #2603
@pljones since your PR was merged, I think we should soon push out another beta?

[2022-07-16 21:03] pljones commented on #2603
I was thinking to see if I could get the New Client Level fixed but that looks like something someone who'd changed that part of the client would need to look at, to get it done fast.  The code simply looks "wrong" to me...

So yeah, I'll do another beta.

[2022-07-17 11:04] hoffie commented on #2730
Reproducing instructions:
- Start a server
- Connect a client with permanent audio
- Start a 3.9.0beta client with a fresh config, set new client level to 0, connect to the server.
- Watch new client level work properly.
- Disconnect
- Connect again
- Observe fader at 0%, but audio being at 100%
- This is repeatable.

Reverting #2535 (more specifically: 2db5156a191bf25a3dbd47e8f02b887516f0127a and

[2022-07-17 11:25] hoffie commented on #2730
I'm suspecting two problems here:
https://github.com/jamulussoftware/jamulus/blob/fa204ad4f3025b7b2a1a8c1130ad998784faeb4a/src/client.cpp#L404

1. It seems like this array isn't reset on reconnect. Not sure if this is the relevant part here.
2. It looks like it defaults to 0. This is a mismatch compared to the server, which sets all channels to 1. Therefore, the don't-repeat-same-client-level-prot

[2022-07-17 11:39] pljones commented on #2730
If I remember correctly, that method also checks for a _new_ (i.e. previously unseen) channel.  There might be some point where `oldGain[iId]` can be set to `1` to start with...

Thanks for digging into this.

[2022-07-17 12:04] dcorson-ticino-com opened #2736 "3.9.0 Beta2 Chat window size on clean start"
**Describe the bug**
After a clean installation the chat window opens at Connect very small at the top left corner of the screen.
After closing Jamulus and restarting, the chat window opens the same at the top left corner of the screen.
After changing the window size and closing Jamulus the behaviour is as normal.

If I remember correctly the default size of the popup windows is always usable.  Co

[2022-07-17 12:53] hoffie commented on #2730
a791cffea709a98c40da41478445654e3f3fa30c fixes it for me, but I have to do some more thinking, if this is correct or sufficient. I suspect we might still miss the case where a client disconnects and another client takes the existing channel id.

[2022-07-17 13:00] hoffie commented on #2730
Do you mean this?
https://github.com/jamulussoftware/jamulus/blob/fa204ad4f3025b7b2a1a8c1130ad998784faeb4a/src/client.cpp#L380

I think it only optimizes the list of channels to check, doesn't it?

[2022-07-17 13:37] ann0see commented on #2736
Hopefully not the Qt6 support...

[2022-07-17 13:39] ann0see commented on #2730
Pinging @softins here for more insight.

[2022-07-17 13:44] hoffie commented on #2736
Thanks.
@dcorson-ticino-com Can you confirm that this issue does not occur with previous versions (if so, which)?

What part are you suspecting?

[2022-07-17 13:48] softins commented on #2730
I can cast my rusty eye over the code later, but I'm away on holiday till 30 July with no access to hardware.

[2022-07-17 13:57] hoffie commented on #2730
It's hard to trigger on the case. The protocol doesn't have a concept for "new channel", as far as I can see. The UI handles it by triggering on the client list updated here:

https://github.com/jamulussoftware/jamulus/blob/fa204ad4f3025b7b2a1a8c1130ad998784faeb4a/src/audiomixerboard.cpp#L1225
via
https://github.com/jamulussoftware/jamulus/blob/fa204ad4f3025b7b2a1a8c1130ad998784faeb4a/src/clientdl

[2022-07-17 14:08] ann0see commented on #2736
Nothing specific. It's just interesting that it showed up in this beta. However: maybe it's also related to some ini file reading logic which changed? But that's just guessing

[2022-07-17 14:47] dcorson-ticino-com commented on #2736
A clean install of 3.8.0 puts the chat window with a usable size in the middle of the Jamulus window.
This is how I remember it.

[2022-07-17 16:45] rdica commented on #2736
`3.9.0beta1` fresh start (no existing ini) had the chat window open middle of the screen on my Ubuntu 18.04 desktop. I noticed in testing `3.9.0beta2` with a fresh start (no existing ini) that window popped up top left corner of screen. The size of the window in both versions remained unchanged for me.

[2022-07-17 18:53] pljones commented on #2730
Yeah, this is all the horrid "do it in the UI layer" stuff that the client should be handling...  It stinks trying to keep track of state using UI widgets...

[2022-07-17 18:56] pljones commented on #2730
Yeah, I was wondering if just sticking the " = 1" in there was possible but I couldn't seem to work out how to get it right.

[2022-07-17 19:01] pljones commented on #2736
Didn't happen for me - I installed on Win10 today and it was fine.  I have non-default window positions but the chat window size is default and it positioned correctly and used the right size.

[2022-07-17 19:51] dcorson-ticino-com commented on #2736
OK something's weird 'though.
I just did another clean install, uninstalled Jamulus and removed AppData>Jamulus.
This time I have the right size, but the position is still not right, upper left corner.

[2022-07-17 21:07] hoffie commented on #2736
I don't think this can be explained by the version change. I don't see any code changes which could be related. So something else must be going on?
[code]

[2022-07-18 19:37] #2730 closed

[2022-07-19 11:57] melcon commented on #2699
Working on it

[2022-07-19 13:07] 38github opened #2743 "Evaluate opusenc --no-phase-inv for Jamulus for improved mono quality"
**What is the current behaviour and why should it be changed?**
I believe it is not used since downmixing does not sound good when using low latencies.

This options makes a big difference in audio when stereo material is downmixed to mono. Stereo material only lose very small position quality where I have noticed that some things like cymbals are a little more to the center of the stereo image. I

[2022-07-19 17:06] pljones commented on #2743
This needs further discussion.

Is this a client feature?

Is this a server feature?

Can it be configured dynamically at run time rather than on program launch?

What _is_ the current behaviour?  There _is_ current behaviour and it's not described.

[2022-07-19 21:35] hoffie commented on #2743
Context:
https://twitter.com/marcan42/status/1264844343237435393
https://gitlab.freedesktop.org/gstreamer/gst-plugins-base/-/issues/409
https://gitlab.xiph.org/xiph/opus-tools/-/blob/master/src/opusenc.c#L1000
https://opus-codec.org/docs/opus_api-1.2/group__opus__genericctls.html#ga10fa1f6eab136baf83c232afa989b6a8
https://github.com/mumble-voip/mumble/issues/4210
https://github.com/xiph/opus/blob/

[2022-07-19 23:58] 38github commented on #2743
@hoffie
Thank you for responding and having an interest in this feature. Yes, I have encoded quite some music with 2.5ms frame sizes to see what effect it had on transients and when I listened to my music in mono it had severe washy artifacts during high frequency content such as cymbals. Kind of like really low bitrate MP3. When I tried the --no-phase-inv a week ago I was astound what a differenc

[2022-07-20 00:34] 38github commented on #2743
[opus_2_5ms_no-phase-inv_vs_standard.zip](https://github.com/jamulussoftware/jamulus/files/9145485/opus_2_5ms_no-phase-inv_vs_standard.zip)

This zip-file has four files. Read the filenames to know which is which. I have encoded the mono downmixes to FLAC so that no further loss would occur.

Bitrate: 224 VBR
Complexity: 10

[2022-07-20 22:02] DavidSavinkoff commented on #2743
I think --no-phase-inv can be made into an option for advanced users and experimenters (as a quick hack to fix the odd problem). Down-mixing stereo to mono is non-trivial when it comes to the phase of a sound source being captured with two spatially separated microphones (or mono chorused to stereo and back to mono). It may be best to pick one channel or the other instead of blindly mixing the two

[2022-07-21 09:24] 38github commented on #2743
An option would be a good start. The stereo image is barely touched and I think almost no one will hear any difference at all. Would it be a GUI option or something to place in a conf file?

[2022-07-21 19:08] MattMerz-Violin commented on #1791
Hi, under Jamulus 3.9 beta 2 and MacOS 11.6.8 this bug is no longer exiting. I had a session today with Jamulus running in the background a lot and it remained responsive and there was no hang at all :-)

Great improvement!

[2022-07-22 16:07] pljones commented on #1791
Can you confirm which MacOS build you used?
![image](https://user-images.githubusercontent.com/1549463/180479537-ef4a33e2-fda3-4997-84bf-ca0f12836369.png)
Thanks!

[2022-07-22 16:09] #2700 closed

[2022-07-22 16:17] #2698 closed

[2022-07-22 16:23] MattMerz-Violin commented on #1791
Hi, I used the jamulus_3.9.0beta_mac.dmg build.

Best regards, Matt

[2022-07-22 17:16] pljones commented on #1791
@MattMerz-Violin

Cheers

@RonCohen1 @Rob-NY @chrisrimple,

Can you comment at all on the 3.9.0beta2 release?

Thanks

[2022-07-22 18:11] DavidSavinkoff commented on #2743
Is it /not possible to use the pan knob to mix stereo down to mono?
Using the pan knob will give some control over phase cancellation.

--no-phase-inv is not explained very well with opus.
I believe opus should remove the --no-phase-inv algorithm and
educate themselves on mixing stereo down to mono.

Furthermore, if all you want is a quick-n-dirty mono mix, then
suffer the dirty part instead of ru

[2022-07-22 19:13] ann0see commented on #2603
@jamulussoftware/translators First of all thank you for all your translation work in the last few weeks and sorry for the various changes after the translation freeze. Today is the translation deadline, so if you still have an open Pull Request, please add the last changes as soon as possible. We'll merge open pull requests in a few hours.

[2022-07-22 19:19] 38github commented on #2743
It is not about how you mix stereo material but how opus does tricks what do not sound good when downmixed to mono

The chances that you will notice the extremely small loss in stereo image is slim to none.

[2022-07-22 20:58] #2695 closed

[2022-07-22 21:29] pljones commented on #2743
So, where does this happen?  My current understanding of the flow is:

For a client that is configured with mono input, the OPUS codec encodes a single mono stream and the server decodes a single mono stream.  It duplicates that to two (equal phase) stereo channels when mixing to stereo for another stereo client (or for a client configured as mono in/stereo out).

For a client that is configured w

[2022-07-22 23:13] 38github commented on #2743
All the other client's stereo audio streams get down mixed and sent to you as mono which causes artifacts from phase trickery opus did to their audio.

[2022-07-23 07:23] pljones commented on #2743
You're saying the encode stereo at the client -> decode stereo at the server process is made better - but _only_ when the server is then mixing the stereo to mono?  Wouldn't it be better, then, to look at that mix down process, rather than the codec cycle, if that's what's causing the issue?

[2022-07-23 11:03] pljones opened #2749 "r3.9.0 App Duplicate hot keys"
I'd really like the duplicate hot key checking automated.

- When running the workflow for a push,
  - If the push _is not_ just for a translation file, the checker should run only for English
  - If the push _is_ just for a translation file, the checker should run only for that language
  - Multiple languages in one push should be handled correctly
- If the duplicate check fails, the build should

[2022-07-23 11:14] henkdegroot commented on #2749
I believe the current hot key checker isn't really suitable for automation as it is perfectly fine to use the same accelerator keys when they are in different menu items. This makes the result also hard to validatie, though it is better compared to not checking at all. Perhaps the script van include the menu reference as well to make it easier to check?

[2022-07-23 11:26] pljones commented on #2749
It does appear to know which menu the hot key pertains to, as the output is ordered by menu/sub-menu/item.

[2022-07-23 11:28] pljones commented on #2749
Yes - having duplicates from `CClientDlg+CHelpMenu` doesn't really help -- the only "duplicate" is when two or more Menu Item on a single Menu share an accelerator.

Actual _hotkeys_ (like Ctrl+C for opening the connect window) are different from _accelerators_ (which are highly contextual).

[2022-07-23 11:32] pljones commented on #2749
OK, so this isn't a "bug" then.  I'll close this and raise a discussion at some point.

[2022-07-23 12:32] #2692 closed

[2022-07-23 12:34] #2697 closed

[2022-07-23 12:34] #2699 closed

[2022-07-23 12:35] pljones commented on #2701
There will be no Swedish update for 3.9.0.  This will mean Swedish has a mixed English/Swedish UI.

[2022-07-23 12:35] #2701 closed

[2022-07-23 19:34] 38github commented on #2743
The opus codec during stereo encoding on the user's computer is responsible for the poor down mix result on the server. I think best would be to enable --no-phase-inverse on both ends so that people never have to worry about the artifacts at any time.

[2022-07-23 20:30] pljones commented on #2743
If people are using [client stereo] -> [server] -> [client stereo], they will only experience _up_ mix from mono to stereo at the server, from mono clients.  As far as you've said, there's no benefit in this case.

If people are using [client mono] -> [server] -> [client mono], you're saying that _other_ stereo clients' signal will suffer in their mix when down mixed to mono?

What if they choose

[2022-07-23 21:16] DavidSavinkoff commented on #2743
By cross examining the two sentences above, one can see potential falsehoods in logic.
So:
- can you prove that these statements are not hearsay.
- what exactly is happening?
- why does opus do phase tricks to stereo when it appears that mono needs the tricks to sound good?
- why do the individual stereo channels sound good on their own?
- why do you want to do a mono mixdown when you can use one

[2022-07-24 06:50] ann0see commented on #2723
Feedback Protection should also be changes

[2022-07-24 08:40] 38github commented on #2743
This really took a profoundly turn and for no reason. It is saddening that you behave this way while also appearing to be not read up on the matter.

[2022-07-24 13:01] ann0see opened #2754 "Newly connected empty clients don't show up on old clients"
*Communication started on 24 Jul 2022*

*This is an excerpt of an E-Mail conversation*
 
﻿Since it might be a privacy issue, I'm reporting it per Mail. 
 
Filler for: https://github.com/jamulussoftware/jamulus/issues/2754
 
*Description of bug:*
 
If two users with an empty name join a server, the first user does not
see the join of the second user on the mixer board. This might be a
privacy issue

[2022-07-24 17:22] DavidSavinkoff commented on #2743
I guess I wasn't clear.
My position is that itis good to have a --no-phase-inv option for those that need it. However this should not be the default.

It looks like --no-phase-inv imposes intensity-stereo or joint-stereo or MS-stereo or whatever-you-want-to-call-it on more than just the lowest quality stereo encoding. I can't tell what type of encoding happens with Jamulus because it is convoluted

[2022-07-24 19:05] hoffie commented on #2743
Given that there seem to be different judgements regarding if and by how much this change could improve sound, I'd suggest someone (@38github?) to try out these changes within Jamulus. I've already [pointed](https://github.com/jamulussoftware/jamulus/issues/2743#issuecomment-1189573851) to the seemingly relevant code parts, so I guess this could be tried with a <10 line change.

[2022-07-24 20:11] 38github commented on #2743
It was a long time ago we had to worry about i.e. Fraunhofer's issues with Joint Stereo (I did hang out at r3mix). What this option does is disabling one feature of all the features in Intensity Stereo. It seems it actually does less which is to not invert phase.

Have you listened to the audio files in the attached zip file in earlier post?

[2022-07-24 20:45] pljones commented on #2743
@38github

The problem with the files in the ZIP is you give no indication of how this relates to Jamulus and audio cycle, so they are of no use in making a judgement.

[2022-07-24 20:49] 38github commented on #2743
Audio cycle?

[2022-07-24 21:03] 38github commented on #2743
- Ten users use stereo in client. They get back a stereo mix and they hear no real difference. **Good**

- Ten users use stereo in client. Eleventh user use mono and recieves a downmixes to mono summed from all the ten users and it has a lot of artifacts. **Bad**

[2022-07-24 23:25] DavidSavinkoff commented on #2743
Instead of debating, someone should make a fork of Jamulus with --no-phase-inv and exhaustively test for unexpected stereo problems (delay pan, reverb etc). Does 'Jamulus' actually have a problem in real practice? Note that #2743 is the first time that anyone complained about stereo to mono mixing

[2022-07-25 06:14] pljones commented on #2743
"hear no real difference" - so do they hear a difference or not?  Is the stereo image degraded or improved?

"Eleventh user uses mono" - how many times does this happen?  Why would anyone choose to receive mono from the server?

[2022-07-25 08:52] 38github commented on #2743
I think any further discussion from my part will be in vain. I have provided sound samples, scenarios where it it will overall improve sound experience, etc. Now it is up to you to decide if you are interested or not. Regards.

[2022-07-25 16:14] pljones commented on #2743
But you haven't provided scenarios in terms of how Jamulus works.  If you're not prepared to do that, I don't think there's necessarily any evidence supporting a need for change.

[2022-07-25 21:06] ann0see opened #2755 "Document adding a new language"
The procedure for adding a new language to the App should be documented in TRANSLATING.md or similar.

We need someone:
1. To read the TRANSLATING.md file in the docs/ folder
2. Find spots where you add the following list items in the same style the guide was written
3. Open a PR with the proposed changes

Ideally you know the translation process and know about the documentation.

The following li

[2022-07-26 15:37] ann0see opened #2758 "Using Weblate for translations"
<div type='discussions-op-text'>

<sup>Originally posted by **ignotus666** July 26, 2022</sup>
@jamulussoftware/maindevelopers @jamulussoftware/translators

In #2675 the use of [Weblate](https://weblate.org/en-gb/) for translations was proposed. It basically means moving the translation process to an online tool where translators can login, do their work, and need not worry about using GitHub, PRs

[2022-07-26 15:53] ann0see commented on #2758
Not a fan of mixing App related stuff in the website repo. We could probably re use it, but probably it would be better to have them at a shared place. Other repo, …

[2022-07-26 15:54] ann0see commented on #2758
I‘d certainly be ok with that even though it might mean a change in the workflow and maybe the release process.

[2022-07-26 20:38] henkdegroot commented on #2749
@jujudusud why did you re-open this?

[2022-07-26 22:22] jujudusud commented on #2749
Oups. It is a mistake. Reclosing it... Apologies.

[2022-07-26 22:22] #2749 closed

[2022-07-27 11:57] pljones commented on #2603
***DRAFT***

We're excited to announce the availability of Jamulus 3.9.0!

Some highlights include:
- A new JSON-RPC interface to control client and server (see [docs/JSON-RPC.md](https://github.com/jamulussoftware/jamulus/blob/master/docs/JSON-RPC.md) for details).  This remains experimental at this stage.  Thanks to @dtinth for the heavy lifting and to @Rob-NY for additional input.
- A new, opti

[2022-07-27 12:12] gilgongo commented on #2603
@pljones I wouldn't include the stuff about universe in Linux because it affects so few people, or maybe just say:

Ubuntu Linux client users: note that this release requires you have the "universe" repository enabled. Instructions for this are [on the website](https://jamulus.io/wiki/Installation-for-Linux).

[2022-07-27 18:46] ann0see commented on #2603
@pljones I'd also include the ARM compatibility for macOS and Linux as highlight. Probably more end users would like to know that. Otherwise, I think it's good (also the new layout)

[2022-07-27 18:57] ann0see commented on #2754
@softins can you help out with some potentially network (server) related?

[2022-07-27 19:13] softins commented on #2754
Not until next week. I'm away on holiday until Saturday. You could send details through in the meantime if you want.

[2022-07-27 19:14] ann0see commented on #2754
Ok. Great no problem. You should also have received my E-Mail with the logs and a issue description. hoffie could not reproduce the problem, I could on multiple OS.

[2022-07-29 15:53] pljones commented on #2603
https://jamulus.io/contribute/Release-Process#steps-for-a-specific-release

The above should highlight the trailing `###` being _required_ for the script.

[2022-07-29 17:34] pljones commented on #2603
TODO: Android cache needs clearing, I think, to get the build to work.  I've not yet done that.  Once it's built, it needs copying to SourceForge, too, and tagging as Android default.  I've untagged 3.8.2 there.

[2022-07-29 17:36] ann0see commented on #2603
https://github.com/jamulussoftware/jamulus/commit/6c0f9641e6068d3409b7484d7f9bf065f01c9af8
Should be named similar to the previous releases (r3_9_0) or something short.
@pljones

[2022-07-29 17:37] pljones commented on #2603
You need to pull
[code]

[2022-07-29 17:55] ann0see commented on #2603
That’s how the last release has looked like (and what I‘d like to have seen. Maybe we can agree on a release commit message like: RELEASE: 3.9.0 - Update …

![592E648C-EAE0-4B9C-BCA0-7F63CB4E60E5](https://user-images.githubusercontent.com/20726856/181817138-3b90ee5f-5f91-4e9c-8d1f-69957d52b092.jpeg)

[2022-07-29 17:55] pljones commented on #2603
`config.yml` is actually `_config.yml` (with a leading underscore)...

[2022-07-29 17:57] pljones commented on #2603
Not really important.  So long as the message clearly states the change, that's all that's needed.

[2022-07-29 17:58] ann0see commented on #2603
It makes scanning the log a bit easier. But as long as the tag is set, I‘m ok with it.

[2022-07-29 18:08] ann0see commented on #2603
Since when don't we squash merge anymore?

[2022-07-29 18:09] ann0see commented on #2603
Edit to release checklist:

Remove branch protection on release under https://github.com/jamulussoftware/jamuluswebsite/settings/branches

[2022-07-29 18:12] ann0see commented on #2603
I think it would be good to have one. (Speed of release process, clarification of Website process, other problems)

[2022-07-29 18:19] pljones commented on #2603
It was actually a lot easier than I thought it would be -- apart from some bits of the website release process.

Ideally, _everything_ would be wrapped in Github Actions.  These could then be triggered when needed in the overall workflow - helping towards automating the release process.

[2022-07-29 18:21] ann0see commented on #2603
Yeah agree. But that should go to the post release discussion.

Another thing: I just uploaded the signed macOS build from @emlynmac 's repo.

[2022-07-29 18:34] pljones commented on #2603
Why?  I'd already done that and ticked it off.

[2022-07-29 18:42] ann0see commented on #2603
Since I saw his build seemed to be younger than the release, so I concluded that the release was unsigned. But I've just tested it and it seems to be ok. (I must have overlooked something on my side.)

[2022-07-30 07:08] gilgongo commented on #2603
Yah we usually squash-merge, but it's easy to forget to do.

BTW I'll see if I can do the Steinberg thing https://github.com/jamulussoftware/jamulus/issues/2687

[2022-07-30 07:37] pljones commented on #2603
Then the instructions should give clear guidance - it wouldn't get forgetten then.

[2022-07-30 08:40] gilgongo commented on #2687
Sent now that release is out.

[2022-07-30 08:40] #2687 closed

[2022-07-31 14:07] ann0see commented on #2603
I've just opened https://github.com/jamulussoftware/jamulus/discussions/2766 (post release discussion) and added some thoughts. I'd be happy on comments.

[2022-08-01 07:40] ignotus666 commented on #2758
Ok, so I've gone ahead and created a Jamulus project on Weblate [here](https://hosted.weblate.org/projects/jamulus/). The app files have not been added, only the website files are there for now. It will be in trial mode for two weeks; we have within that period to request libre hosting, but before I do so I'd like to get the thumbs-up from all the main devs if possible. These are the requirements

[2022-08-01 10:08] ann0see commented on #2758
@jamulussoftware/maindevelopers vould you please approve/comment on the use of weblate? They need our OK.

[2022-08-01 16:42] pljones opened #2767 "Android: Move off Java 8 onto the latest release that Github supports"
**What is the current behaviour and why should it be changed?**

The Jamulus for Android build process currently requires Java 8 to run.  As Java 8 is out of support (since [March 2022](https://www.oracle.com/java/technologies/java-se-support-roadmap.html)), the build should move onto the current GA LTS version (Java 17).

Unfortunately, whilst Android SDK has moved forwards, as of [March 2020](ht

[2022-08-01 19:04] pljones commented on #2758
Oooh, it'll make reviewing things easier if the [_reviewer_](https://docs.weblate.org/en/latest/admin/access.html#project-access-control) is allowed to mark things like the `{% include_relative Include-Shared-Commands.md %}` strings as not requiring translation.  Then the (real) untranslated bits will stand out.

Can the project be "Protected" whilst in "demo mode"?

I guess it'll take a little re

[2022-08-01 21:11] ignotus666 commented on #2758
I don't think strings can be marked as "non-translatable" in .po files other than via a comment that has to be added to the relevant string (it can be done to any language in Weblate and the comment is visible in all other languages). In any event, I don't think this has proven to be an issue up until now - translators have generally managed to identify strings that do not require translation.

Th

[2022-08-02 05:42] trebmuh commented on #2758
Nice to read. Can't wait for the repo to be unlocked for translation!

[2022-08-03 06:19] ann0see commented on #2754
@pljones Softins has a proposed fix (sent via mail). Could you please look over it too (if you’re ok with it?

[2022-08-03 17:03] pljones commented on #2754
Not received... and not marked as spam.

[2022-08-03 17:36] ann0see commented on #2754
Ok. Will forward it

[2022-08-07 19:56] hoffie commented on #2758
@ignotus666 Thanks for leading this effort! I'm OK with it, so **YES for Weblate** from me as well.

Personally, I hadn't heard about Weblate before. I'm always a bit skeptical about introducing more reliance on "free" services (we already rely heavily on Github, of course), but I guess it's fine in this case as other notable Open Source projects [do rely on Weblate as well](https://en.wikipedia.o

[2022-08-07 20:25] hoffie opened #2772 "UI: Reverb slider off-center in MacOS as of 3.9.0 / Qt6"
### Discussed in https://github.com/orgs/jamulussoftware/discussions/2768

<div type='discussions-op-text'>

<sup>Originally posted by **rdica** August  1, 2022</sup>
This was first reported to me from an associate using Jamulus 3.9.0 MacOS Monterey. I upgraded my client on MacOS Catalina and see the same thing, the reverb slider is off-center.

No issues on Ubuntu 18.04 with QT 5.9.5.

Jamulus 3.

[2022-08-07 20:31] hoffie commented on #2772
@rdica Thanks for the report. This sounds like this unresolved Qt bug: https://bugreports.qt.io/browse/QTBUG-98903 :(

I guess it might be possible to find workarounds by adjusting specific style options or [painting manually](https://stackoverflow.com/questions/69890284/qslider-in-qt-misbehaves-in-new-macos-monterey-v12-0-1-any-workaround/69890285#69890285), but I'm not sure if we want to do the

[2022-08-07 22:03] jujudusud commented on #2758
It is also ok for me to use weblate.
Just go ahead :-)

[2022-08-08 14:24] ann0see opened #2773 "Build: Update macOS runner (legacy) (macos-10.15)"
**Describe the bug**

GitHub is deprecating the use of macOS Catalina: https://github.com/actions/virtual-environments/issues/5583

We'll need to update soon to still support the legacy build.

**To Reproduce**

/

**Expected behavior**

/

**Screenshots**

/

**Operating system**
macOS

[2022-08-08 20:25] melcon commented on #2758
This seems to be my cue to start a pt_BR for website as well :) Looking forward for it

[2022-08-08 21:01] ignotus666 commented on #2758
There's just a couple of things that need doing first (didn't have time today...) and then we should be good to go.

@melcon that would be great! Also to test how adding a new language works out with weblate - make sure you open an issue first as explained [here](https://github.com/jamulussoftware/jamuluswebsite/blob/release/_translator-files/README.md#adding-a-new-language).

[2022-08-09 10:25] hoffie opened #2775 "CI: Improve Windows dependency caching"
**What is the current behaviour and why should it be changed?**

Some of the Windows dependency downloads (I'm suspecting SourceForge) increasingly fail.

[code]

https://github.com/jamulussoftware/jamulus/runs/7742832728?check_suite_focus=true#step:9:1

**Describe possible approaches**
~~More~~ Proper binary caching would reduce the impact.

**Has this feature been discussed and generally agreed?

[2022-08-09 15:36] ann0see commented on #2754
# Excerpt: [Privacy issue]: Newly connected empty clients don't show up on old clients

**pljones (DC/Matrix)**

My only concern is why this hasn't had a very noticeable effect. Why is it an edge case? I think we need to have a fully documented scenario saying how to reproduce the behaviour and why this change must (logically) be the fix. The code, as code, looks okay. The code, as code, before th

[2022-08-09 16:15] ann0see commented on #2754
Re-opened as there's still post discussion needed. @pljones ?

[2022-08-09 16:15] pljones commented on #2754
Also adding the following here as it's pertinent:
[code]

What this fix does is somehow avoid `emit channel list changed` when a previously unknown client appears (i.e. when its first audio frame is received and the channel has been created) by making that "create" appear to be an "update" to an existing channel.  This seems ... unclean and not addressing the root cause of the problem.

Based on "

[2022-08-09 16:16] pljones commented on #2754
I'm only unhappy because, whilst it might work, there are high level design issues...

[2022-08-09 23:01] softins commented on #2754
That may or may not be the case. The PR #2774 fixing the current issue is not intended to make any design changes; it is just making sure the existing design continues to work under one particular edge case.

To outline the current design as intended by Volker:

1. When a connected client makes a change to its profile info, it sends a Channel Info message to the server.
2. When the server receives

[2022-08-10 06:46] ann0see commented on #2754
Just to add: I've tagged a nightly. We should decide how to proceed (publish a new release, publish an announcement for recommended updating,...).

[2022-08-10 07:27] pljones commented on #2754
I'd recommend updating to anyone operating a post-3.5.5 server that's open to the public.  (Not that most registered servers will update - they've been on the same version since they were installed - but for the few that are maintained, it's worth the announcement.)

[2022-08-12 15:27] hoffie commented on #2743
While I find this idea interesting to evaluate (thanks!), I'm going to close this issue for now as noone has volunteered to perform the necessary steps to evaluate it in the context of Jamulus.
If someone is going to try it and finds benefits, I'm sure we would welcome such results / such a PR. Feel free to comment/re-open. :)

[2022-08-12 15:27] #2743 closed

[2022-08-12 22:27] hoffie commented on #2773
We currently use Xcode 12.1.1 for the legacy build. This version is no longer available on macos-11 images.
We either need to [downgrade to 11.7 or upgrade to 12.4](https://github.com/actions/runner-images/blob/main/images/macos/macos-11-Readme.md).

Based on the comments, we can't upgrade to [12.4 as it contains SDK 11.x](https://xcodereleases.com/) which is not supported by Qt5:
https://github.c

[2022-08-12 22:34] hoffie commented on #2773
Started a build here:
https://github.com/hoffie/jamulus/runs/7814643184?check_suite_focus=true

https://github.com/hoffie/jamulus/pull/new/autobuild-macos-11-legacy

[2022-08-12 22:51] hoffie commented on #2772
@rdica Could you please also check the other faders in the settings dialog, are they affected as well (network buffers, input balance; screenshots would help)?

[2022-08-12 23:15] hoffie commented on #2772
@rdica Two other things to try (not really expecting an improvement though...):
1. QSlider with empty stylesheet ([Assets](https://github.com/hoffie/jamulus/actions/runs/2849817981))
1. QSlider with dummy stylesheet ([Assets](https://github.com/hoffie/jamulus/actions/runs/2849826922))

[2022-08-14 06:15] ann0see commented on #2773
The question is if not supported = produces broken build or just untested.

[2022-08-15 20:16] BlindRyan opened #2785 "Jamulus 3.9 screen reader focus issue"
Problem: when arrowing through the list of servers,  it is no longer possible to press right arrow,  and move over in the table to hear other aspects of that server,  such as the delay time,  location,  etc.

In version 3.8 (accessible,  when we arrow to a user name,  and then ask Windows for the UIA object with focus,  we obtain the object that contains the server name as the .name field.
Pressin

[2022-08-16 06:05] ann0see commented on #2785
Thanks for your report. I think @chigkim should be able to help out with accessibility related problems.

[2022-08-16 18:32] chigkim commented on #2785
It looks like QT6 fixed so that VoiceOver on Mac now can at least navigate QTreeWidgetItems in QT6 (not each column though), but maybe it broke in windows...
I'm not sure what we can do until QT fixes QTreeWidgetItems?

As a futile attempt, I tried to set accessible name before the line "// update number of clients text" in connectdlg.cpp.
`lvwServers -> itemWidget ( pCurListViewItem, 1 ) -> setAc

[2022-08-16 18:47] BlindRyan commented on #2785
Hi, I am on Windows and wanted to say thanks for looking at it, as someone who is blind it’s great to have a program we can use to jam with others

From: chigkim ***@***.***>
Sent: August 16, 2022 11:33 AM
To: jamulussoftware/jamulus ***@***.***>
Cc: BlindRyan ***@***.***>; Author ***@***.***>
Subject: Re: [jamulussoftware/jamulus] Jamulus 3.9 screen reader focus issue (Issue #2785)

It looks like

[2022-08-16 19:39] hoffie commented on #2785
The official 3.9.0 build is still on Qt 5.15 though, so this should not be a cause for regression, unless the accessibility Windows build has moved to Qt6 already?

I haven't looked at it, but it sounds like this would not be something which could be integrated by default, but maybe it could be hidden under some general accessibility/screen-reader-friendlyness setting?

I'm still wondering where t

[2022-08-16 19:45] hoffie commented on #1791
As there is at least one positive report that this issue should be fixed as of 3.9.0, I'm closing this for now. If someone has different experiences, please comment or open a new issue. Thanks.

[2022-08-16 19:45] #1791 closed

[2022-08-16 19:49] hoffie opened #2786 "CI: Get rid of Ubuntu 18.04 build environments"
**What is the current behaviour and why should it be changed?**

Our Debian/Ubuntu builds currently use Ubuntu 18.04 in order to get the best compatibility with older Debian/Ubuntu releases.
18.04 will no longer be supported by the Github runners as of 2022-08-22 (first brown-out period which deliberately fails builds). It will be fully unsupported by 2022-12-01.
See: https://github.com/actions/ru

[2022-08-16 19:53] BlindRyan commented on #2785
Hi,  using Windows 11 with Jamulus  3.8.2 and my screen reader When I am on a server list I am able to use the right arrow to move to each of the items such as the milliseconds, the number of users and the country or region of the server

On my windows ten computer  with jamulus 3.9 I am using the same screen r3eader and when I bring up the exact same list of servers and try to use the right arrow

[2022-08-16 20:30] chigkim commented on #2785
@BlindRyan, just out of curiosity, have you tried with NVDA?

Hmm, maybe then I'm wrong. Since I started building my accessible build
with QT6, the server list became somewhat accessible on Mac without any
modification, so I assume it was QT6.

I stopped making a special accessible build for Windows, because all my
accessibility fixes were merged into the main except for the server list
on Mac sid

[2022-08-16 20:44] BlindRyan commented on #2785
Jamulus 3.8.2 says about qt

This program uses Qt version 5.15.2.

Using NVDA the right arrow key does read out the milliseconds, the number of user as well as the region

On Jamulus 3.9 and nvda nothing is spoken when the right arrow is used to move to those items

From: chigkim ***@***.***>
Sent: August 16, 2022 1:31 PM
To: jamulussoftware/jamulus ***@***.***>
Cc: BlindRyan ***@***.***>; Mention

[2022-08-16 20:49] hoffie commented on #2785
Ah, cool. How did you build your artifacts until 3.8.2? Was it using the same Github infrastructure as in our upstream project? If not, how? Maybe there is another difference.

Mac: 3.8: 5.15.2, 3.9: 6.3.1
Win: 3.8: 5.15.2, 3.9: 5.15.2

Doing a Windows Qt6 build should be simple though. We mainly didn't do it as support for "older" Windows versions is somewhat unclear, see #2300.

[2022-08-16 21:24] chigkim commented on #2785
Hmm, I wonder what changed from 3.8 and 3.9 for Windows though since QT
version stayed exactly the same.

I've built my accessible build using my local machine and uploaded
binary as attachment in Github release page.

[2022-08-16 21:29] BlindRyan commented on #2785
Is that something you want me to download and try to install ? if so can you provide a direct link?

From: chigkim ***@***.***>
Sent: August 16, 2022 2:24 PM
To: jamulussoftware/jamulus ***@***.***>
Cc: BlindRyan ***@***.***>; Mention ***@***.***>
Subject: Re: [jamulussoftware/jamulus] Jamulus 3.9 screen reader focus issue (Issue #2785)

Hmm, I wonder what changed from 3.8 and 3.9 for Windows thou

[2022-08-16 21:57] BlindRyan commented on #2785
This is the message I received from a Jaws Screen reader user who  might explain what is happening

Here is what he wrote to me

Problem: when arrowing through the list of servers,  it is no longer possible to press right arrow,  and move over in the table to hear other aspects of that server,  such as the delay time,  location,  etc.

In version 3.8 (accessible,  when we arrow to a user name,  an

[2022-08-16 22:07] chigkim commented on #2785
I tested 3.9 with NVDA and Jaws.
Here's what you can do.
Server list is a tree view, so when you press right arrow, it expands the selected server, and reveals users on them, and when you press left arrow, it collapses and hide the users.
Things like ping time, number of users, location are not supposed to be keyboard focusable. At least I don't think.
However, in NVDA, once you select a server wi

[2022-08-16 22:09] BlindRyan commented on #2785
Hi yep I’ve done that with Jaws but didn’t need to before I updated to 3.9 and then went I went back to 3.8.2 things broke so for now I’ll use the touch cursor in Jaws, I really do appreciate your time looking at this and if I can make a request would it be possible to have a button we can use to toggle the chat functionality? At times the chat can get noisy and disruptive

Thanks again

From: chi

[2022-08-16 22:44] rdica commented on #2772
@hoffie Apologies for the delayed response....I tried both builds, using all skins, same results; still off-center.

[2022-08-16 23:02] rdica commented on #2772
Screenshots of Settings dialog faders each of 3.9.0, and the two dev builds:

3.9.0
<img width="438" alt="3 9 0" src="https://user-images.githubusercontent.com/16609801/184999532-8e3fac7c-f937-455e-8cdb-09cdf078ef6d.png">

3.9.0dev-d95ebaa
<img width="438" alt="3 9 0-d95xxxx-build" src="https://user-images.githubusercontent.com/16609801/184999539-d6155b1e-6ad4-44c6-ad96-a35b38339a89.png">

3.9.0de

[2022-08-19 08:17] hoffie commented on #2772
Thanks for the feedback! So somehow the technically similar faders in the settings dialog are not affected. I'll try to dive into potential differences.

[2022-08-19 08:31] hoffie opened #2788 "Docs: Add guidance for CHANGELOG entries"
**What is the current behaviour and why should it be changed?**

We currently don't have clear guidance when to add changelog entries.

**Describe possible approaches**

- [ ] What's the goal for the CHANGELOG, who is the audience?
- [ ] Should internal changes (i.e. those which do not directly affect generated artifacts) be documented in the CHANGELOG?
- [ ] How should entries be written? (past t

[2022-08-19 08:37] hoffie commented on #2788
On a related note: If we want to be very consistent about which PRs to list, we should be even more consistent about using PRs in almost all cases. We've had several changes to .github/* as direct commits to master instead of PRs. I think it's even more common on the website repo.

My personal stance is:
- For the CHANGELOG I'm leaning towards option (2).
- Always use PRs except for documented exc

[2022-08-19 14:22] rdica commented on #2772
Sorry, did I miss something, the sliders in the above screenshots look off-center, same as the reverb slider...

[2022-08-19 14:41] hoffie commented on #2772
Hmm, sorry, I seem to have missed some details. I do see a slight mis-rendering of the knob (the ticks on the left are less overlapped by the knob compared to the right), is this what you mean?
Or do you mean the layout of the whole slider, which seems to be slightly off compared to the header text?

[2022-08-19 15:18] rdica commented on #2772
The former, same as it appears for the reverb slider, sorry.

[2022-08-20 08:29] hoffie commented on #2736
@dcorson-ticino-com Any luck tracking this down any further?

[2022-08-20 08:31] hoffie commented on #2403
There have been manifest changes via #2640. It should be re-checked, if this issue has been fixed as a side effect.

[2022-08-20 08:37] hoffie opened #2790 "Mac: Provide universal binaries for x86_64 & arm64e"
**What is the current behaviour and why should it be changed?**

#2357 introduced native M1 releases. It would be more user-friendly if we packaged both x86_64 and arm64e builds into a single universal binary. This is possible using `lipo`, but the details have to be figured out.

https://developer.apple.com/documentation/apple-silicon/building-a-universal-macos-binary

**Describe possible approac

[2022-08-20 08:37] dcorson-ticino-com commented on #2736
No, and the last install with 3.9.0 was OK.
It must have picked up some strange ini file here on this compi.
I think I need to clean out all the old test versions here.
Don

[2022-08-20 08:40] hoffie opened #2791 "Mac: Sign non-release builds with self-signed key"
**What is the current behaviour and why should it be changed?**

Currently, only release builds are signed via @emlynmac. Now that we provide M1 builds (#2357), it would be interesting to sign non-release builds as well, as M1 Macs refuse to run unsigned binaries by default.

**Describe possible approaches**

It should be sufficient to use a self-signed key for that.

- [x] ~Key generation~ (turne

[2022-08-20 08:40] hoffie commented on #2357
I've opened new issues for the two remaining items of this issue (universal binaries, signing). I'm therefore closing this issue.

[2022-08-20 08:40] #2357 closed

[2022-08-20 08:50] hoffie commented on #2736
Thanks for the feedback. I guess it's fine to close this issue then. Feel free to re-open if this issue re-appears somehow.

[2022-08-20 08:50] #2736 closed

[2022-08-20 10:05] hoffie commented on #2786
#2792 implements option 1.

[2022-08-22 17:30] pljones commented on #2786
18.04 LTS five-year maintenance period ends 23.04, so we need to have a plan in place _soon_ for moving off.

I don't see anything holding us back from that, either, really.  Any client or server user who chooses to run an unsupported OS also has the choice of building Jamulus from source.  We don't necessarily aim to _remove_ compatibility.

[2022-08-22 17:52] hoffie commented on #2786
Yep. It's just sad timing that Github ends 18.04 runner support now and not in 2023, but so be it.

Right. We have to reason to use 18.04 for building except for 18.04 compatibility by itself. Therefore, once 18.04 is EOL, we can safely up that to 20.04 (maybe after cross-checking with Debian oldstable).

[2022-08-22 17:53] #2775 closed

[2022-08-22 18:05] hoffie opened #2800 "Build: Debian -dev builds (non-release) show version as -dirty"
**Describe the bug**

`jamulus-headless -v` outputs `-dirty`

**To Reproduce**

**Expected behavior**

Should not be `-dirty`.
Likely reason: The moving around of debian control files during build. Maybe symlinks would be an alternative.

**Operating system**

Debian oldstable

**Version of Jamulus**

master

**Additional context**

[2022-08-22 19:00] #2786 closed

[2022-08-22 19:34] ann0see commented on #2788
I can think of two goals:
1. Tell the average user about new features and explain their relevance. For further information link documentation for further information
2. Tell the average or tech savvy user about the state change of the whole Project

I think we need a visible difference between the commit history and the ChangeLog, so:

* The changelog should link all (potentially) user relevant PR

[2022-08-22 19:36] ann0see commented on #2800
The release?

[2022-08-22 19:38] hoffie commented on #2800
No, I think it only affects intermediate, non-release versions.

[2022-08-22 19:53] ann0see commented on #2791
I can create a cert. However, should we share it internally?

[2022-08-22 20:31] ann0see commented on #2790
So is opus the problem? We should understand if it's a Qt bug or opus doesn't support the config option.

[2022-08-22 21:07] ann0see commented on #2603
@gilgongo could you please check if the linked PR documents all the mentioned changes to the checklist from here?

[2022-08-22 21:12] ann0see commented on #2758
@ignotus666 I think the only problem I see with the PR from Weblate is that our E-Mails are exposed now. I think that should change - we might want to open an issue on the weblate repo.

[2022-08-22 21:14] ann0see commented on #2758
Actually, there's an issue on the weblate Repo: https://github.com/WeblateOrg/weblate/issues/6508

[2022-08-22 21:24] ignotus666 commented on #2758
Yes. While that gets addressed by weblate, maybe we could have a script that deletes that line or replaces it leaving the email empty. It'll still be there in the commit history though...

[2022-08-22 21:32] ann0see commented on #2758
Unless we do nasty force-pushes...

[2022-08-22 22:52] hoffie commented on #2790
opus doesn't know about `QMAKE_*` variables. The issue is that we sneak in the bundled opus compilation via our `qmake` build system. Part of this is the decision to include platform-specific performance improvements for opus. The issue is that this detection works once and decides to include certain things (i.e. the x86_64 opus optimizations). This makes the compiler fail when doing the arm compi

[2022-08-23 07:22] pljones commented on #2788
We have long change intervals, though - that, in iteself, is an anti-pattern...

[2022-08-23 07:25] pljones commented on #2800
`-dirty` is _correct_ if a build process doesn't use the binary from an unchanged source tree.  If debian is doing something to change the source tree _before generating the binary_, that's a bug in the build process.

(That is, I don't know how the `-dirty` gets applied: but if it only happens when using the debian flow, it's the debian flow that's wrong.  It doesn't happen with `make distclean;

[2022-08-23 07:28] pljones commented on #2791
Should it go into jamulussoftware/assets or jamulussoftware/settings/secrets/actions?

[2022-08-23 09:35] ann0see commented on #2791
Since it's a cryptographic key, it needs to go to the secrets tab, not a repo.

[2022-08-23 19:12] hoffie commented on #2791
I think it should be ok to store it as a secret only. It will not be easily recoverable there though (but we shouldn't need it).
In addition to the key, we also need to adjust the build logic to avoid trying the online (apple.com) parts of the signing process. I guess it makes sense to do this via another boolean secret to make that decision (or derive it from the cert if possible?).

[2022-08-23 19:18] emlynmac commented on #2791
Maybe have a look at the existing signing system and add the relevant gitHub secrets to enable signing.
It may require some further changes to make sure the notarization path is not followed, but should be simpler to do that way.

[2022-08-23 20:04] ann0see commented on #2791
I think I followed https://www.simplified.guide/macos/keychain-cert-code-signing-create once.

[2022-08-23 20:27] ann0see commented on #2791
I think I've now added everything unrelated to notarization from my side on this repo. So we'd need to skip MACOS_CERTIFICATE_ID and NOTARIZATION_PASSWORD

[2022-08-23 20:49] ann0see commented on #2791
Ok. I've now added a fake password and for the MACOS_CERTIFICATE_ID the name of the certificate, but on a workflow_dispatch run nothing changes.

[2022-08-23 21:01] hoffie commented on #2791
I think we need several more changes (which could probably be done on a fork first):
- https://github.com/jamulussoftware/jamulus/blob/e14f3dd9af84271c22575cf4ce7b10dbac0c2bdd/.github/autobuild/mac.sh#L44 needs dropping, I think
- These `if`s need additional checks for the `NOTARIZATION_PASSWORD` secret: https://github.com/jamulussoftware/jamulus/blob/e14f3dd9af84271c22575cf4ce7b10dbac0c2bdd/.gith

[2022-08-23 21:11] ann0see commented on #2791
Yes, that could be done.

However, I think we still need something else: https://github.com/jamulussoftware/jamulus/runs/7982936025?check_suite_focus=true#step:10:7 should have imported the cert, but it didn't.

[2022-08-23 21:17] hoffie commented on #2791
I think PRs don't have access to the target repo secrets, not sure if this changes if the PR comes from the same repo as that one did.

[2022-08-23 21:22] ann0see commented on #2791
The secret tab says there's only no access for PRs from forks

[2022-08-23 21:58] hoffie opened #2806 "Mac M1: Possibly missing opus optimizations"
**Describe the bug**
It looks like none of the existing opus optimization rules match arm64:
https://github.com/jamulussoftware/jamulus/blob/e14f3dd9af84271c22575cf4ce7b10dbac0c2bdd/Jamulus.pro#L667

**To Reproduce**

To be investigated.

**Expected behavior**

M1 builds should use the opus ARM performance enhancements.

**Screenshots**

**Operating system**

Mac M1 / arm

**Version of Jamulus**

[2022-08-23 22:01] emlynmac commented on #2791
Each fork has its own secrets. For testing and developing, you'll need the values in your fork

[2022-08-23 22:31] hoffie commented on #2790
After having a closer look, I don't see a sane way of passing certain flags/defines for specific archs only (well, clang supports `-Xarch_foo`, but... we would have to sneak that in via `qmake`) or specific source or header files for specific archs only.

I suspect the better way forward would be running two standard builds. This could be done in a single CI job which would save all the resources

[2022-08-24 07:36] ann0see commented on #2791
@emlynmac I just did that, but they didn't show up as "env" in GitHub actions' log. I also don't see any place where one could enable them from being read. Did you have to enable anything?