[2022-08-24 07:43] ann0see commented on #2791
Ok. I think I now know what went wrong.

[2022-08-24 09:55] ann0see commented on #2791
Actually, I think our way is not the way to go: https://wiki.lazarus.freepascal.org/macOS_Big_Sur_changes_for_developers#Code_signing_-_Intel_vs_M1

Probably we need ad hoc signing

[2022-08-24 10:07] hoffie commented on #2791
So, might `codesign --force --deep -s - MyApp.app` be sufficient? :o

[2022-08-24 10:08] ann0see commented on #2791
Maybe?

[2022-08-24 11:11] hoffie commented on #2791
I'm currently running test builds with the `macdeployqt -codesign="-"` logic, which should be rather equivalent to the above call.
Logs: https://github.com/hoffie/jamulus/runs/7993202492?check_suite_focus=true#step:10:7814

[2022-08-24 11:41] hoffie commented on #2790
The following build is supposed to contain a universal binary which runs both on Intel and M1 Macs:
[jamulus_3.9.0dev-26b8fe3_mac.dmg](https://github.com/hoffie/jamulus/suites/7958218424/artifacts/340038046)

Could someone please test that build?

Pinging @ashstrahle @PeRAux @josephschito for M1
Pinging @ann0see for Intel

Please report back the following details:
- Architecture (M1 or Intel)
- ma

[2022-08-24 11:42] hoffie commented on #2791
I've linked the resulting test build and asked for testers here, as my branch was mainly about the universal builds and the codesigning would just be a positive side effect: https://github.com/jamulussoftware/jamulus/issues/2790#issuecomment-1225603029

[2022-08-24 11:56] ashstrahle commented on #2790
Hi Christian. I can confirm:
M1 native execution
macOS Monterey
Did require allowing both applications to execute via System Preferences | Security & Privacy
On initial no noticeable issues
Client tested briefly without issue

<img width="1025" alt="image" src="https://user-images.githubusercontent.com/54830016/186411813-82a2ad48-5ffd-44b5-a8f3-6d36b70d0f2e.png">

[2022-08-24 12:47] hoffie commented on #2790
@ashstrahle Thanks!

Do you remember if this is just as bad or better compared to previous M1 -dev releases?

[2022-08-24 12:52] ashstrahle commented on #2790
Much easier -  less hackery.

[2022-08-24 19:59] BlindRyan commented on #2785
Hi using Jamulus 3.9  on Windows 11 and Jaws 2022 or NVDA when I am on the server llist I am able to use the right arrow to hear the ping and if I right arrow again the number of users and the region

This doesn’t work on Windows ten

And the above works without having to use the Jaws touch cursor or nvda object navigation on windows 11

From: chigkim ***@***.***>
Sent: August 16, 2022 3:07 PM
To:

[2022-08-24 20:03] BlindRyan commented on #2785
Hi never min my previous message now the arrow keys won’t work, is it possible to get this functionality to work as it is more efficient than turning on and off the touch cursor, and it did used to work, also any ability to have a option to toggle the chat off during a session

From: chigkim ***@***.***>
Sent: August 16, 2022 3:07 PM
To: jamulussoftware/jamulus ***@***.***>
Cc: BlindRyan ***@***.*

[2022-08-25 01:28] chigkim commented on #2785
This never worked in main official build. It only worked in my
accessible build.

For main official build, there isn't really much we can do until QT does
something about it.

I'm also blind myself using screen readers, so I understand your issue.

I guess I can start releasing special build for Windows again, but for
official build, using object navigation or touch cursor is best solution
we have

[2022-08-25 15:13] BlindRyan commented on #2785
Hopefully they will add some functionality but in the meantime I hired a Jaws scripter to write some scripts that work really well for Jaws in Jamulus

Hee is what the scripts do currently

Once in a server you can do the following

Press control shift p to get your ping and delay

Press control shift u for a list of users, if you press enter on a user you are taken directly to their level slider

[2022-08-25 15:39] hoffie commented on #2785
@chigkim Maybe we can add your workaround (I think it changed the UI) to the main build when we put it behind a setting?

[2022-08-25 16:17] chigkim commented on #2785
@hoffie, we can technically do that, but it's not really an ideal solution either.
It'll break the ability to expand/collapse servers to reveal/hide users with arrows since right/left will navigate to name, ping time, number of users, location instead...
What's even better would be if there's an easy way to make pCurListViewItem as sub class of QWidget.
Then we can just make accessible name to inc

[2022-08-25 16:21] BlindRyan commented on #2785
We used to be able to use the right arrow to move all the way over to the region/country of the server and then left arrow back to the server name then press the tab key and get the list of users in that server so could we have one or the other? Either right arrow to expand the users in that server or a press of the tab key to drop us into the list of users?

From: chigkim ***@***.***>
Sent: Augus

[2022-08-25 19:51] #2800 closed

[2022-08-25 20:20] hoffie commented on #2791
Feedback was positive: https://github.com/jamulussoftware/jamulus/issues/2790#issuecomment-1225683743

[2022-08-25 22:32] acerix commented on #2362
After updating to 3.9.0 and Qt6, the country of my server changed without any changes to the config, apparently it is using Qt6 Country IDs now.  I fixed it by updating to the new code in this list: https://doc.qt.io/qt-6/qlocale.html#Country-enum

Agree it would be more user friendly to specify country names/codes.

[2022-08-26 01:20] chigkim commented on #2785
@BlindRyan, to my knowledge, the official build never behaved the way you described . You're talking about the behavior in my custom accessible build.

[2022-08-26 01:25] BlindRyan commented on #2785
OK I must’ve been confused I’ve been uninstalling and reinstalling multiple times I also noticed in the three. Nine version there is no sound alert now when somebody enters the server or the room you’re currently in like the accessible build dead I really miss that so I’d like to see that come back as well

Sent from my iPhone

[2022-08-26 01:38] chigkim commented on #2785
It's already in the official build, but the feature is disabled by
default. You have to check the sound alert in your user profile to
enable it.

[2022-08-26 07:37] hoffie opened #2809 "Server: Command-line-specified country ID interpretation changed after switch to 3.9.0/Qt6"
_Originally posted by @acerix in https://github.com/jamulussoftware/jamulus/issues/2362#issuecomment-1227823132_

If confirmed, this affects servers using our official releases on Mac and custom-built servers on other platforms (e.g. Linux with self-built binaries or distros which have switched to Qt6 such as Arch).

[2022-08-26 07:38] hoffie commented on #2362
Thanks for the report! This is unintended, but I can see what's missing. I've opened #2809 to fix this with rather high priority.

[2022-08-26 07:41] hoffie commented on #2809
src/main.cpp, src/server.cpp and src/serverlist.cpp don't do Qt5-to-Qt6 conversion, but it would probably be required to do so as Qt6 builds are supposed to work with Qt6 codes internally and convert from/to Qt5 codes when interacting with the outside world (network/protocol, CLI).

[2022-08-28 18:41] hoffie opened #2813 "Prepare Release 3.9.1"
**Target timeline**

| Phase | Target date | Original | Actual |
| :--- | ---: | ---: | ---: |
| Scheduled feature freeze / Start of translation process | **2022-09-24** | **2022-09-24** | **2022-09-21** (app translations) |
| Targeted translation completion date | **2022-10-08** | **2022-10-08** | **2022-10-09** (app translations, forced) |
| Approximate release date | **2022-10-15** | **2022-10-

[2022-08-28 18:44] hoffie commented on #2813
Note: I'm merely opening this now without any previous discussion to have a sane place to list reminders for the release announcement.

I think it makes sense to keep this release small. I haven't checked, but I think we haven't had anything translation-related, so we might be able to skip that and make it a real bugfix/very-small-feature release (as the versioning implies).

[2022-08-28 18:45] #2790 closed

[2022-08-28 18:45] #2791 closed

[2022-08-29 13:35] pljones opened #2817 "libs/opus: New warnings including some somewhat worrying"
**Describe the bug**

libs/opus produces some serious looking warnings on compile.

**To Reproduce**

Compiling on Linux.

**Expected behavior**

Compiles should be clean, without serious warnings.

**Screenshots**

[code]

**Operating system**

Ubuntu 22.04.1 LTS

**Version of Jamulus**

master

**Additional context**

Has the new dependency bot been and messed things up?

[2022-08-29 14:55] pljones opened #2818 "Some Servers are inaccessible from a Client on the LAN of the Directory"
(Raised so I've an issue to fix.)

**Describe the bug**

### Discussed in https://github.com/orgs/jamulussoftware/discussions/2811
See thread at https://github.com/orgs/jamulussoftware/discussions/2811#discussioncomment-3499166 onwards.

![image](https://user-images.githubusercontent.com/1549463/187063801-405247d1-ba61-4276-9ae4-d5a2f70a78e7.png)

* The image on the left is `mtr -f 2 93.42.88.44`

[2022-08-29 15:51] ann0see commented on #2603
Closing as 3.9.1 issue was opened

[2022-08-29 15:51] #2603 closed

[2022-08-29 16:16] pljones commented on #2634
Do we have any idea what's needed for this?  If not, should we close for now?

[2022-08-29 16:20] pljones commented on #2677
Is this still an issue?

[2022-08-29 16:28] pljones commented on #2546
Moving to 3.10.0 as it's notabug.

[2022-08-29 16:29] pljones commented on #2475
Moving to 3.10.0 as it's notabug.

[2022-08-29 16:31] pljones commented on #2041
Which won't happen in 3.9.1, so moved to 3.10.0.

[2022-08-29 16:32] pljones commented on #1973
Moving as notabug.

[2022-08-29 16:33] pljones commented on #2429
Is anything else going to get progressed on this?

[2022-08-29 16:33] ann0see commented on #2677
Yes, I think so.

[2022-08-29 16:38] pljones commented on #2404
Is anything going to be done on this?  It's getting moved to 3.10.0 as it's currently not labelled as _anything_.

[2022-08-29 16:40] pljones commented on #2528
Do we have a deadline for completing this?  As it's not labelled as such, I'm moving it as notabug.

[2022-08-29 16:42] pljones commented on #2466
Bumping as notabug.

[2022-08-29 16:52] ann0see commented on #2677
I've opened a PR

[2022-08-29 16:56] ann0see commented on #2429
I'll shortly open two PRs (app and docs)

[2022-08-29 17:26] pgScorpio commented on #2634
As mentioned in the other topic:
See [here](https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings#per-repository-settings) or [here](https://stackoverflow.com/questions/9976986/force-lf-eol-in-git-repo-and-working-copy).

[2022-08-29 17:47] pljones commented on #2634
Could you please write a useful post?  Those articles exist.  So this ticket isn't needed?  Or it is needed _because_ some change is required _somewhere_.  Say something that indicates where work is required _in context_.

[2022-08-29 18:22] pgScorpio commented on #2634
OK, (I thought it should already be clear from the mentioned related topics.)

As, by default, line endings are converted to the OS standard clang-format will sometimes have different results on Windows OS causing clang-format checks to fail on long line breakings for files edited and clang-formatted on Windows.
This default behaviour can be changed by the .gitconfig file, but a .gitconfig file ca

[2022-08-29 18:24] pljones commented on #2634
The point of having an issue in the project is to capture what applies to the project itself.  Having general articles doesn't provide that.  The issue should reference specific areas of change required, ideally referencing specific examples.

[2022-08-29 19:01] henkdegroot commented on #2723
What about the "Enable Small Network Buffers" option?

[2022-08-29 19:05] henkdegroot commented on #2680
@ann0see, looks like the code just concatenates the channelnumber to the name when the option is used.
Should the solution be changing the label into two individual labels for this or would it be okay just the "strip" the channelnumber from the saved data?

[2022-08-29 19:15] henkdegroot commented on #1281
I believe this issue should be closed or at least the title should be changed.
This is just how to combination of a GUI application and Console option work with the current implementation and believe it needs a lot of work to change that.

Also the command is terminated correctly, the only thing not happening is the (re)print of the prompt.
CTRL+C is not needed at all (which would terminate a runn

[2022-08-29 19:15] ann0see commented on #2680
Yes, that would be an option.

[2022-08-29 20:23] pljones commented on #2723
The solution to the issue should document the means used to identify _all_ the affected checkboxes.  Without that, it shouldn't be considered complete, as we need to have confidence we're finding and fixing all of them now.

We could also do with a coding style check for the issue to prevent it arising again.

[2022-08-29 20:27] hoffie commented on #1281
I agree. Multiple people have tried tackling this really minor cosmetic annoyance. It's not worth tracking it any longer. If someone comes up with a PR with no unwanted side effects, I'd be happy to take it.
Closing, also based on @henkdegroot's judgement and @pljones' +1.

[2022-08-29 20:27] #1281 closed

[2022-08-29 21:04] pljones commented on #2680
Ideally the channel number could be inside `CChannelInfo` (`src/util.h` line 916), populated when the client creates a new channel entry for a server channel - that should allow any consumer of the object access to the necessary data.  The UI could then display both number and name when the option is active.  Saving the channel name (for the faders) wouldn't care about the number.  Ooh look, line

[2022-08-29 21:25] hoffie commented on #2528
No deadline -- it's done when it's done. Fine to move.

[2022-08-29 21:50] gilgongo commented on #2723
Not sure how best to spec it, but checkboxes should have no other label other than the one that comes after the box. That label should also not contain words thqat clash with the function of the control like "enable..." "turn on..." etc. So they would need to change to:

![image](https://user-images.githubusercontent.com/4561747/187304961-38e89637-2565-47d6-ba53-6d2ffcbc93d3.png)

Not sure why Inp

[2022-08-29 21:51] hoffie commented on #2817
From a quick glance, updating opus to latest `master` seems to fix this. I had once prepared to add opus as a submodule, but never got around to submitting a PR. Would it be worth it?

[2022-08-29 21:53] gilgongo commented on #2723
Not sure I'm qualified to do that.

[2022-08-29 21:56] pljones commented on #2817
Am I right in thinking we've held back on updates to opus due to a belief there are local patches?  Do we know what those are -- that is, do we have them clearly documented?  If not, we need to get that done before making a decision at all.

[2022-08-29 22:00] hoffie commented on #2723
Huh, what version of Jamulus is this? Input boost is supposed to be a combo box (dropdown).

[2022-08-29 22:02] gilgongo commented on #2723
Yes, got that wrong. The machine I'm on can't run Jamulus so I didn't check.

[2022-08-29 22:06] hoffie commented on #2817
I thought we had updated opus once already, but I can't find a PR.
The reason for not updating opus is probably that there wasn't any newer official release and there was no reason to update to a development release. If there is one now, I don't see any reason to avoid that update.

The history looks pretty slim:
[code]

There's only two patches which need confirmation again (I'm pretty sure they

[2022-08-29 23:29] jbuecker opened #2826 "No input from Presonus Quantum ; with expansion interfaces .... Nothing Show on inputs ......Help , and TIA"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Operating system**

**Version of Jamulus**

**Additional context**

[2022-08-29 23:31] jbuecker commented on #2826
Im successful with the Ron liner Jamming Plats ; Can't get Jamulus to recognize inputs from  a HIGH Input count...Please check!

[2022-08-30 06:13] pljones commented on #2826
Moving to a discussion for the raiser to supply useful diagnostics.

[2022-08-30 17:39] hoffie commented on #2809
I've confirmed this issue -- a server with country id 82 (Germany) becomes Fiji on 3.9.0/Qt6.

[2022-08-30 21:47] hoffie commented on #2362
I've prepared a branch which adds support for two-letter ISO country codes here: [hoffie@serverinfo-two-letter-country-codes](https://github.com/hoffie/jamulus/pull/new/serverinfo-two-letter-country-codes)

Will submit after #2829 is merged as the branch is based on that PR.

[2022-08-30 21:50] hoffie commented on #2754
So I guess by now it's clear that this fix will be part of a shortly released 3.9.1. I've already added a reminder to the release tracker. I'm therefore closing this issue for now.

[2022-08-30 21:50] #2754 closed

[2022-08-31 10:58] comradekingu opened #2830 "Wrong translation license?"
Don't know if this is only for documentation, but
https://github.com/jamulussoftware/jamulus/search?q=any+later has lots of GPLv2+ notices
Consequently, https://github.com/jamulussoftware/jamulus/blob/master/COPYING is correct
whereas https://hosted.weblate.org/projects/jamulus/directories/#information is not, because it says LGPLv2-only

Can be changed to GPLv2-or-later in
https://hosted.weblate.

[2022-08-31 14:15] hoffie commented on #2830
Thanks for raising this!
Pinging @ignotus666 @ann0see @gilgongo here.

[2022-08-31 14:30] ignotus666 commented on #2830
Hmm, I used that license for the documentation based on [this](https://github.com/jamulussoftware/jamuluswebsite/blob/a0a643c223e6c80609cc90380e26bdf995895106/LICENSE), though I'm not sure if the "only" part is correct. Let's see what the others say.

[2022-08-31 14:47] ann0see commented on #2830
Jamulus is GPLv2+ and the site is LGPL code wise CC-BY-SA content wise

[2022-08-31 15:52] ignotus666 commented on #2830
Duh! Found it. I'll change it on weblate when I get a chance.

[2022-08-31 16:15] ann0see commented on #2830
@comradekingu I've added you.
Probably it's worth getting in touch with @henkdegroot if you plan to contribute with NL translation (discuss that in another issue).

[2022-08-31 17:53] henkdegroot commented on #2830
@ann0see, what inside information do you have? Not saying Allan won't be able to help with NL, however he is from Norway :)

[2022-08-31 19:18] pcar75 opened #2831 "Enhance Import/Export."
**What is the current behaviour and why should it be changed?**

Jamulus uses an  .ini file to save session and configuration information. However for one who wishes to use different context or computers, the same Jamulus.ini file cannot be re-used without manual editing, which is not recommended.

Currently Import /Export functionality only allows the transfer of `<stored...` statements (i.e. fad

[2022-08-31 20:11] hoffie commented on #2806
Confirmed, the arm64e builds indeed do not show signs of the flags which enable opus arm optimizations.

https://github.com/jamulussoftware/jamulus/runs/8088131207?check_suite_focus=true#step:10:1137
[code]

https://eclecticlight.co/2021/08/06/accelerating-the-m1-mac-an-introduction-to-simd/

Therefore, I'm trying to enable it now and will submit a PR for testing if successful.

[2022-09-01 06:36] ignotus666 commented on #2830
Licence updated. The appstore stuff doesn't apply yet because only the website content is on Weblate for now.

[2022-09-01 09:29] ann0see commented on #2830
Urgh. Then I misremembered. 😇. If he wants to add a new language, feel free to open an issue.

[2022-09-01 14:15] #2830 closed

[2022-09-01 14:15] ann0see commented on #2830
Closing as the license has been changed by @ignotus666

[2022-09-02 18:36] ann0see commented on #2346
I think we should list them in this issue.

I just found out that create-dmg is also missing. So macOS and Android probably need some further investigation.

[2022-09-02 18:43] ann0see commented on #1841
Re-opening as I can reproduce it with Qt 6.3.1 on Xcode 13.3.1

[2022-09-02 19:15] ann0see commented on #1841
Ok. git bisect gave this as bad commit: https://github.com/jamulussoftware/jamulus/commit/28a66e21e7d37c04f38786a9c7d59b55fadd7126

Tagging
@npostavs

[2022-09-02 19:36] ann0see commented on #2817
Shouldn't a diff be enough from the version we are at now?

Otherwise, we can ask Volker.

[2022-09-03 21:15] #2429 closed

[2022-09-04 10:10] pljones commented on #2788
And as nothing seems to be happening here for 3.9.1 (bug fix release), moving to 3.10.0.

[2022-09-04 10:11] pljones commented on #2634
Not clearly defined, no bug identified, moving out to 3.10.0.

[2022-09-04 10:13] pljones commented on #2772
Do we have anyone able to look into the cause on this?  I'd like to know where the bug was introduced.  @hoffie, as it's likely to be some change to the build dependencies, is this something you could pick up?

[2022-09-04 10:15] pljones commented on #2614
Moving to 3.10.0.

[2022-09-04 10:19] pljones commented on #2403
Waiting for an update here.

[2022-09-04 10:34] pljones commented on #2758
Does this "big" issue still need to be open or can it be closed as "done" and any problems with Weblate addresses separately / through discussions / other channels?

[2022-09-04 11:36] ann0see commented on #2758
I think it should probably stay open until we have set up weblate for the App too?

@ignotus666 would you say it’s feasible to set up weblate for the app repo too?

[2022-09-04 11:54] trebmuh commented on #2758
It'd be great !

[2022-09-04 14:45] ann0see commented on #2758
I've set something up, but it still needs some investigation

[2022-09-04 15:27] henkdegroot commented on #2758
Looks nice to me. Guess we need something for the windows installer as well.

[2022-09-04 15:34] ann0see commented on #2758
I've installed weblate.git.squash

[2022-09-04 16:18] ann0see commented on #2758
Ok. Windows installer is also set up partly. We might need to rename the .nsi files to fit to some standard.

[2022-09-04 20:04] #2677 closed

[2022-09-04 20:12] ann0see commented on #2758
@ignotus666 I think now I know why I'm still not 100% happy with the commit message on the website: It should follow imperative style: Update *language* web translation from Weblate

See https://www.theserverside.com/video/Follow-these-git-commit-message-guidelines

[2022-09-04 20:23] ann0see commented on #2758
How can I change the commit message for all components at once?

[2022-09-04 20:30] ann0see opened #2837 "Autobuild: Linux ARM build fails due to dependency issues"
**Describe the bug**

The CI check for armhf fails: https://github.com/jamulussoftware/jamulus/runs/8178983224?check_suite_focus=true and the log gives a dependency error message. Probably something changed on the ubuntu repo about qt5?

**To Reproduce**
Start a armhf .deb build on GitHub

**Expected behavior**

Build executes without errors

**Screenshots**

/

**Operating system**

Ubuntu, ARMHF

[2022-09-04 20:32] ignotus666 commented on #2758
Do it for 'Index-1' and I think it will apply to all of them as it's the "parent" component.

[2022-09-04 20:35] ann0see commented on #2758
Doesn't look like it...

[2022-09-04 20:39] ignotus666 commented on #2758
We also have to look at why it forked from my repo. We might need to merge what we have, delete the component and try again.

[2022-09-04 20:40] ann0see commented on #2758
I'm going to all components and change the commit message manually now.
For the other problem, yes, probably that's the easiest way.

[2022-09-04 20:46] ann0see commented on #2758
Ok. Done.

[2022-09-05 12:33] ignotus666 commented on #2758
@ann0see did you enable the webhook on the main jamulus repo?

[2022-09-05 12:39] ann0see commented on #2758
Yea

[2022-09-05 13:34] ignotus666 commented on #2758
Ok. Just wondering if it had to do with the mysterious fork. It was activated on my repo (from when I did the testing) though I don't know how it could be related.

[2022-09-05 16:38] #2818 closed

[2022-09-05 20:14] ann0see commented on #2758
@henkdegroot there's a NSIS to .po file script on the NSIS wiki: https://nsis.sourceforge.io/Creating_language_files_and_integrating_with_MUI#Another_solution:_Native_PO_File_support

[2022-09-05 21:44] pljones commented on #2680
OK, I've raised a pull request for the fix. The [autobuild artifacts](https://github.com/jamulussoftware/jamulus/actions/runs/2996155101) should be available soon.  It would be good to get some testing done -- particularly on sorting but also loading old Jamulus.ini or saved fader settings files: I'm _hoping_ this might clean them up if I've done it right.

[2022-09-06 16:43] ann0see commented on #2723
Any news here?

[2022-09-06 17:19] pljones commented on #2723
If my grep worked, the full list of checkboxes and whether they need changing looks like this:

src/clientdlgbase.ui
"chbLocalMute" OK
"chbSettings" OK
"chbChat" OK

src/clientsettingsdlgbase.ui
"chbAudioAlerts" Needs fix
"chbAutoJitBuf" OK
"chbEnableOPUS64" Needs fix
"chbDetectFeedback" Needs fix

src/connectdlgbase.ui
"chbExpandAll" OK

src/serverdlgbase.ui
"chbEnableRecorder" Needs fix
"chbEnab

[2022-09-06 20:28] henkdegroot commented on #2758
I came across that as well, thought it was a bit overkill for this....but from a translation point of view might be worth doing.

[2022-09-06 20:34] henkdegroot commented on #2758
Another thing I noticed for the app translation, the variables are not very clear in the GUI:

![image](https://user-images.githubusercontent.com/13550012/188732638-68358dc3-7267-4867-b2f3-a80bdac43c65.png)

How do I know what %1 will be and what will %2 be?

[2022-09-06 20:46] pljones opened #2840 "Maintenance: Move main branch to "main""
*Change*

Update github and any automation, plus documentation and Weblate to show the project main branch is named "main".

*Reason*

To remove sensitive references.

[2022-09-06 21:17] pljones commented on #2758
There _should_ be a comment in the translation source saying what each value is.  Does Weblate show that comment?  (Qt `tr` takes a second param, the comment; I don't know if the .ui files do the same but they generally don't have parameters.  I don't know how well covered the code is, though.)

[2022-09-07 03:05] BLumia commented on #2758
If it has a comment, it will show the comment.

![image](https://user-images.githubusercontent.com/10095765/188779269-272e2f4d-d815-40f2-9499-6655cd409909.png)

(Screenshot of Source string screen, should be also in the translating page as well)

https://github.com/jamulussoftware/jamulus/blob/73ba38ca7a296440c7ab84777d981c851caadc07/src/serverdlgbase.ui#L229-L235

[2022-09-07 04:58] henkdegroot commented on #2758
So I checked one string for which there is a comment provided, and indeed it shows:
![image](https://user-images.githubusercontent.com/13550012/188791608-5bbda113-0c8f-4e33-adae-e24678e414e5.png)

This means we need to update all instances which use the substitution like this and add an appropriate comment.

And comments can be added in the ui file as well, as you already show in the code and this

[2022-09-07 11:23] hoffie commented on #2837
I've tried reproducing the issue and failed: The most-recent Ubuntu 18.04 image works for me. Turns out, meanwhile it works on Github as well (manually run build): https://github.com/jamulussoftware/jamulus/runs/8226397369?check_suite_focus=true

I was able to confirm that the image version with the digest `sha256:3aa2ccb021969aadb28381fee1b247422e845b176e241cd1540c4b6831e000bb` did indeed fail in

[2022-09-07 11:23] #2837 closed

[2022-09-07 11:56] pljones commented on #2723
These changes are here, stacked up waiting on #2839:
https://github.com/pljones/jamulus/tree/bugfix/%232723-self-label-checkboxes

### src/clientsettingsdlgbase.ui
* "chbAudioAlerts" Needs fix - fixed
Also adjusted layout to use "Form Layout" for the two group boxes.  This layout makes it clearer which label is associated with which field in the editor.  The "User Interface" section also lost the

[2022-09-07 12:29] pljones commented on #2723
Also, I note that my builds, [the misaligned faders issue](https://github.com/jamulussoftware/jamulus/issues/2772#issuecomment-1222610777) isn't present:
Linux: ![image](https://user-images.githubusercontent.com/1549463/188877599-f8d43566-6659-43bd-82e2-129af1e2c6bf.png)
Windows: ![image](https://user-images.githubusercontent.com/1549463/188878194-8caefe18-3c2f-4720-a764-da5355cb0d95.png)

So mayb

[2022-09-07 12:32] pljones commented on #2772
It's worth a look at the screenshots [from the issue mentioned above](https://github.com/jamulussoftware/jamulus/issues/2723#issuecomment-1239293096).  It could be more evidence the issue isn't the Qt version itself but somewhere else in the build process.

[2022-09-08 20:12] ignotus666 commented on #2758
Now that the app translation files have been added to Weblate, the translation instructions on the main repo should be updated. The approach for the website translations has been to recommend Weblate but leave open the option of making PRs. We assume that someone preferring to submit a PR knows what they're doing so don't provide detailed instructions. @softins created a superb guide that should p

[2022-09-09 18:09] hoffie opened #2845 "Refactor: Improve country code conversion failure modes"
_Originally posted by @pljones in https://github.com/jamulussoftware/jamulus/pull/2829#discussion_r965319280_

[2022-09-11 20:23] ann0see opened #2848 "Refactoring: Mark text as not translatable in UI files"
Probably worth a separate issue for 3.10.0 but yes.

For now, this can be left as is, as it's not used.

_Originally posted by @pljones in https://github.com/jamulussoftware/jamulus/pull/2835#discussion_r964166516_

[2022-09-11 20:54] ann0see commented on #2755
We now also might add nb_NO so this gets more important.

[2022-09-12 20:38] #2809 closed

[2022-09-12 20:54] ann0see commented on #2758
Pasting a few notes for adding a new .ts file here:

**Adding a new language to Jamulus**

1. Open an issue on jamulussoftware/jamulus
2. Fork the jamulus repo
3. Create a branch on your fork
4. Add translation file to TRANSLATIONS array: src/translation/translation_xx_XX.ts in alphabetical order and .qm file to DISTFILES
5. Add translation to ressources.qrc
6. Run lupdate Jamulus.pro and lrelease

[2022-09-12 21:01] ann0see commented on #2758
Adding a new language to the installer:

1. Duplicate src/translation/wininstaller/en_UK.nsi to src/translation/wininstaller/xx_XX.nsi
2. Add language with [the correct language code](https://nsis.sourceforge.io/Examples/Modern%20UI/MultiLanguage.nsi) to src/translation/installerlng.nsi
3. Rename ${LANG_ENGLISH} to the respective value you set in installerlng.nsi

[2022-09-12 21:08] pljones commented on #2758
Typo.

[2022-09-12 21:41] pljones opened #2850 "Remove --cleanuplegacyfadersettings command line option"
#2839 created a temporary command line option that performed a clean up of corrupted saved fader settings.  This only needs to be done once per file and users are expected to recover their settings when taking the upgrade from 3.9.0 to 3.9.1.

As part of a later release - after 3.10.0 - this temporary option and the supporting code should be removed.

[2022-09-12 21:54] comradekingu commented on #2758
1. I don't know what the problem with having e-mail in Git commit logs are, and it is in https://hosted.weblate.org/legal/ so that is above board.

2. The process of adding files first, that go unpopulated and add to language selectors with no actual translation behind them isn't good. Not sure if that exists for a whole version before it gets fixed. Not a big problem though.

My big problem is ho

[2022-09-13 06:31] ignotus666 commented on #2758
I'll try to address some of your points.

2. Up until now, translation was done during a specific period prior to release, so this problem didn't generally arise (speaking mainly about the app itself, not the website), because when someone requested a new language the translation was usually completed by the release date. Weblate might change this slightly, but it shouldn't be too much of a proble

[2022-09-13 08:00] ann0see commented on #2758
That's only true for the time between the merge of the PR containing empty .ts files and The merge of the PR containing your translations from Weblate

[2022-09-13 08:04] ann0see commented on #2758
Privacy and spam.

[2022-09-16 22:01] hoffie commented on #2773
This issue is almost certainly going to affect us this year. We should somehow figure out how to continue with legacy builds.
1. Do we now which macOS versions require the legacy version at all?
2. Are those macOS versions still supported?
3. Do we know of any users who use such software?

I'd propose to ask at least the latter question in the Discussion section (maybe ping some known Mac users).

[2022-09-17 06:50] ann0see commented on #2773
@hoffie macOS legacy is being used: https://somsubhra.github.io/github-release-stats/?username=jamulussoftware&repository=jamulus&page=1&per_page=5

Ofc. Not that many people in comparison to the normal Mac version, but still a considerable amount.
I do know quite some (not so tech savvy) musicians who use outdated macs/PCs for music applications like my second choir leader.

[2022-09-17 07:12] ann0see commented on #2773
We could of course make a policy shift: provide legacy base version, but if we introduce features which don't work out of the box on old Qt versions, we don't provide workarounds (as for softins' language PR).

[2022-09-17 11:12] pljones commented on #2681
Bumping to 3.10.0 as not seen as urgent enough for 3.9.1.

[2022-09-17 11:12] pljones commented on #2817
Bumping to 3.10.0 as not seen as urgent enough for 3.9.1.

[2022-09-17 11:14] pljones commented on #2785
Converting to a discussion as the content seems to have wandered.  @chigkim could you please raise an issue making it clear what needs changing.  Thanks.

[2022-09-17 11:16] pljones commented on #2772
Moving to 3.10.0.  If there's no progress there, it'll get closed.

[2022-09-17 11:16] pljones commented on #2403
Moving to 3.10.0.  If there's no confirmation that it's still a problem there, it'll get closed.

[2022-09-17 12:47] ann0see commented on #2403
I doubt it's fixed. @sthenos can you please have a look at Android? Do we know anyone else who knows more about Android?

[2022-09-18 20:01] #2362 closed

[2022-09-19 10:21] #2680 closed

[2022-09-20 13:41] mansil opened #2864 "Portuguese language Wiki"
**PT language in the WIKI is Portuguese (Brazil)**

**It should be the Portuguese (Portugal) in there.**

**Operating system Win 11 x64**

**Version of Jamulus 3.9.0**

**Portuguese is represented by the Portuguse (Portugal) ONLY**

Thank you.

[2022-09-20 21:30] ann0see commented on #2864
Hi,

Thanks for mentioning this!
Definitely there's something wrong then, since the wiki for the next release has pt and pt_Br
@melcon could you please comment on this?

[2022-09-21 11:40] pljones opened #2865 "Update de_DE app translation for 3.9.1"
Hi @rolamos,
We are getting ready for the 3.9.1 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **de_DE** by **2022-10-08**.

Please
- Update your fork from `jamulussoftware/jamulus` `master` and create a working branch
- Update translations using Qt Linguist in your fork,
- Commit a

[2022-09-21 11:40] pljones opened #2866 "Update es_ES app translation for 3.9.1"
Hi @ignotus666,
We are getting ready for the 3.9.1 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **es_ES** by **2022-10-08**.

Please
- Update your fork from `jamulussoftware/jamulus` `master` and create a working branch
- Update translations using Qt Linguist in your fork,
- Commi

[2022-09-21 11:40] pljones opened #2867 "Update fr_FR app translation for 3.9.1"
Hi @jujudusud,
We are getting ready for the 3.9.1 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **fr_FR** by **2022-10-08**.

Please
- Update your fork from `jamulussoftware/jamulus` `master` and create a working branch
- Update translations using Qt Linguist in your fork,
- Commit

[2022-09-21 11:40] pljones opened #2868 "Update it_IT app translation for 3.9.1"
Hi @dzpex,
We are getting ready for the 3.9.1 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **it_IT** by **2022-10-08**.

Please
- Update your fork from `jamulussoftware/jamulus` `master` and create a working branch
- Update translations using Qt Linguist in your fork,
- Commit and

[2022-09-21 11:41] pljones opened #2869 "Update ko_KR app translation for 3.9.1"
Hi @bagjunggyu,
We are getting ready for the 3.9.1 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **ko_KR** by **2022-10-08**.

Please
- Update your fork from `jamulussoftware/jamulus` `master` and create a working branch
- Update translations using Qt Linguist in your fork,
- Commi

[2022-09-21 11:41] pljones opened #2870 "Update nl_NL app translation for 3.9.1"
Hi @henkdegroot, @jerogee,
We are getting ready for the 3.9.1 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **nl_NL** by **2022-10-08**.

Please
- Update your fork from `jamulussoftware/jamulus` `master` and create a working branch
- Update translations using Qt Linguist in your fo

[2022-09-21 11:41] pljones opened #2871 "Update pl_PL app translation for 3.9.1"
Hi @SeeLook,
We are getting ready for the 3.9.1 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **pl_PL** by **2022-10-08**.

Please
- Update your fork from `jamulussoftware/jamulus` `master` and create a working branch
- Update translations using Qt Linguist in your fork,
- Commit a

[2022-09-21 11:41] pljones opened #2872 "Update pt_BR app translation for 3.9.1"
Hi @melcon,
We are getting ready for the 3.9.1 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **pt_BR** by **2022-10-08**.

Please
- Update your fork from `jamulussoftware/jamulus` `master` and create a working branch
- Update translations using Qt Linguist in your fork,
- Commit an

[2022-09-21 11:41] pljones opened #2873 "Update pt_PT app translation for 3.9.1"
Hi @Snayler,
We are getting ready for the 3.9.1 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **pt_PT** by **2022-10-08**.

Please
- Update your fork from `jamulussoftware/jamulus` `master` and create a working branch
- Update translations using Qt Linguist in your fork,
- Commit a

[2022-09-21 11:42] pljones opened #2874 "Update sk_SK app translation for 3.9.1"
Hi @jose1711,
We are getting ready for the 3.9.1 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **sk_SK** by **2022-10-08**.

Please
- Update your fork from `jamulussoftware/jamulus` `master` and create a working branch
- Update translations using Qt Linguist in your fork,
- Commit

[2022-09-21 11:42] pljones opened #2875 "Update sv_SE app translation for 3.9.1"
Hi @genesisproject2020,
We are getting ready for the 3.9.1 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **sv_SE** by **2022-10-08**.

Please
- Update your fork from `jamulussoftware/jamulus` `master` and create a working branch
- Update translations using Qt Linguist in your fork,

[2022-09-21 11:42] pljones opened #2876 "Update zh_CN app translation for 3.9.1"
Hi @BLumia,
We are getting ready for the 3.9.1 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **zh_CN** by **2022-10-08**.

Please
- Update your fork from `jamulussoftware/jamulus` `master` and create a working branch
- Update translations using Qt Linguist in your fork,
- Commit an

[2022-09-21 11:43] pljones commented on #2813
[code]
Oops, I forgot about the new nb_NO app translations.  Is there any way to use the script for a single language?

[2022-09-21 11:46] pljones opened #2877 "Update nb_NO app translation for 3.9.1"
Hi @comradekingu,
We are getting ready for the 3.9.1 release. No further changes to translatable strings are currently planned for this release.

We would be happy if you updated the Jamulus software translations for **nb_NO** by **2022-10-08**.

Please
- Update your fork from `jamulussoftware/jamulus` `master` and create a working branch
- Update translations using Qt Linguist in your fork,
- Com

[2022-09-21 12:00] ann0see commented on #2876
@BLumia As you might not use Weblate yet, please keep an eye on https://github.com/jamulussoftware/jamulus/pull/2856
If you start translating without using Weblate, you might get conflicts.

[2022-09-21 12:00] ann0see commented on #2875
@genesisproject2020  As you might not use Weblate yet, please keep an eye on https://github.com/jamulussoftware/jamulus/pull/2856
If you start translating without using Weblate, you might get conflicts.

[2022-09-21 12:01] ann0see commented on #2874
@jose1711

As you might not use Weblate yet, please keep an eye on https://github.com/jamulussoftware/jamulus/pull/2856
If you start translating without using Weblate, you might get conflicts.

[2022-09-21 12:01] ann0see commented on #2873
@Snayler

As you might not use Weblate yet, please keep an eye on https://github.com/jamulussoftware/jamulus/pull/2856
If you start translating without using Weblate, you might get conflicts.

[2022-09-21 12:01] ann0see commented on #2872
@melcon

As you might not use Weblate yet, please keep an eye on https://github.com/jamulussoftware/jamulus/pull/2856
If you start translating without using Weblate, you might get conflicts.

[2022-09-21 12:02] ann0see commented on #2871
@SeeLook

As you might not use Weblate yet, please keep an eye on https://github.com/jamulussoftware/jamulus/pull/2856
If you start translating without using Weblate, you might get conflicts.

[2022-09-21 12:02] ann0see commented on #2870
@jerogee

As you might not use Weblate yet, please keep an eye on https://github.com/jamulussoftware/jamulus/pull/2856
If you start translating without using Weblate, you might get conflicts.

[2022-09-21 12:02] ann0see commented on #2869
@bagjunggyu

As you might not use Weblate yet, please keep an eye on https://github.com/jamulussoftware/jamulus/pull/2856
If you start translating without using Weblate, you might get conflicts.

[2022-09-21 12:02] ann0see commented on #2868
@dzpex

As you might not use Weblate yet, please keep an eye on https://github.com/jamulussoftware/jamulus/pull/2856
If you start translating without using Weblate, you might get conflicts.

[2022-09-21 12:02] ann0see commented on #2865
@rolamos

As you might not use Weblate yet, please keep an eye on https://github.com/jamulussoftware/jamulus/pull/2856
If you start translating without using Weblate, you might get conflicts.

[2022-09-21 12:03] ann0see commented on #2877
Todo:
Add him to utils.h, the org and Discord/Element

[2022-09-21 12:08] BLumia commented on #2876
Is that okay if I use Weblate directly? btw it seems all strings are translated but wait for review now.

[2022-09-21 13:27] ann0see commented on #2876
Yea, you can ofc also use Weblate

[2022-09-21 14:50] comradekingu commented on #2813
@pljones I can help fix issues in more languages if need be :)

[2022-09-21 15:03] pljones commented on #2813
If you want to liaise with the people assigned to the other languages, please do.

If you want to change the source text, please raise an appropriate pull request.

Thanks.

[2022-09-21 17:05] jerogee commented on #2870
Great progress! Bad timing for me though: I am currently hiking in Scotland and will only be back home on Sunday Oct 2nd. Until then I may be able to do a review from my phone at most and hope that @henkdegroot has us covered for updating the translation!

[2022-09-21 17:20] henkdegroot commented on #2870
@jerogee no problem. I will most likely use Weblate for this round of translation as I believe the changes are minimal in this release.

Here is a link to weblate: https://hosted.weblate.org/browse/jamulus/jamulus-app/nl/

Happy hiking.

[2022-09-22 04:47] henkdegroot commented on #2870
Translation of 1 string completed using Weblate.

[2022-09-23 19:06] ann0see commented on #2877
@comradekingu I've just invited you to the organisation as new translator such that you get some more access. A link to discord should follow by E-Mail from someone of the team.

[2022-09-23 21:21] SeeLook commented on #2871
Hi all there!
I was watching your discussion about utilize Wablate for the app translation and I was veeeeeerrrrry glad to see this is happening.
I started using it for my app some time back and it works really good.
So I was more happy to use it for Jamulus translation.without struggling with git.

[2022-09-25 11:48] henkdegroot commented on #2758
I believe the Weblate process should be a bit further integrated in the release process.

Here some thoughts (hoping most of them can be automated) :

- Include an announcement on Weblate to inform translators that we are getting ready for release
- Make the generation of the PR automated (translators can then use the artifacts from the PR to test the results, this needs some further work for the

[2022-09-26 20:49] fwiep opened #2883 "Small ping, small JACK latency, very large delay using Pipewire on Fedora 36"
**Describe the bug**

When using Jamulus with Pipewire on Fedora 36, JACK's latency is small (<10ms), the ping is very small (<10ms), but Jamulus' delay is between 80 and 100 ms (indicator turns red).

**To Reproduce**

1. install a clean Fedora 36, Pipewire comes preinstalled
2. edit or create `~/.config/pipewire/jack.conf` and set `node.latency = 512/48000` in `jack.properties`
3. restart Pipewi

[2022-09-26 22:10] jujudusud commented on #2883
Hi,
You said you are using PipeWire with a fast track ultra maudio.
You are using a config file with 'node.latency = 512/48000'.
In order to use Jamulus, you have to use '128/48000' instead.

[2022-09-27 05:31] fwiep commented on #2883
Just now, I did. The delay becomes about 50ms with a ping of 7ms. The indicator turns yellow.

This is probably enough to be jammable, but would there be any way to get the indicator to go green using PipeWire?
Is the `node.latency` setting the only thing determining the delay?

Thanks!
FWieP

[2022-09-27 06:20] pljones commented on #2883
Looks like there's around 20ms extra latency coming from somewhere.  With a ping like that my Windows box, running ASIO4ALL, gets under 30ms reported.
![image](https://user-images.githubusercontent.com/1549463/192447466-ea5a9b25-c07c-464a-91f3-34ef83a6fd98.png)
(Although I don't know how accurate that is with ASIO4ALL...)  That's running buffer size 64 samples, enabled small network buffers and fo

[2022-09-27 07:03] fwiep commented on #2883
Thank you @jujudusud and @pljones for answering so quickly. With your help, I have set up my Jamulus with ~40ms delay with a ~5ms ping. This has some audible artifacts, but at least there is no noticeable delay. And the indicator turns **green**! :D

![2022-09-27_small-delay-on-pipewire1](https://user-images.githubusercontent.com/25373881/192456322-787c41c0-4b5b-4472-8eca-fc0b353a1a84.png)
![2022-

[2022-09-27 07:03] #2883 closed

[2022-09-27 20:27] ann0see opened #2886 "Change windows installer language code to en_GB"
`en_UK`  is not the correct language code for English as used in Great Britain, by the way.  See [Wiki](https://en.wikipedia.org/wiki/IETF_language_tag#ISO_3166-1_and_UN_M.49), [language-territory for en](https://unicode-org.github.io/cldr-staging/charts/37/supplemental/language_territory_information.html#en), [territory-language for GB](https://unicode-org.github.io/cldr-staging/charts/37/supplem

[2022-09-28 00:03] 38github opened #2887 "Request: aarch64 deb build"
Is there a possibility that you can add an aarch64 target in the linux_deb autobuild, please?

[2022-09-28 08:00] hoffie commented on #2887
Thanks for the reminder. I had once prepared that, but forgot to follow up after the main-build-only logic was implemented and merged. I've rebased the branch and I'll submit a PR once the build is successful:

https://github.com/hoffie/jamulus/tree/autobuild-aarch64
https://github.com/hoffie/jamulus/actions/runs/3141790394

[2022-09-28 10:50] hoffie commented on #2887
@38github Can you try the artifacts from here? https://github.com/hoffie/jamulus/actions/runs/3142313102

[2022-09-28 21:37] 38github commented on #2887
It worked great as a server using -F -T. Thank you very much!

When using another build (-O3 -flto) on a SoC with four Cortex-A53 @ 1.2GHz cores and 512MB RAM I had six clients whom all connected using 64 samples and low network buffers. The ping was stable (only 1ms of fluctuation every now and then). The audio had no sudden drop outs or artifacts and the average CPU usage was 60-66% and evenly s

[2022-10-01 20:35] ann0see commented on #2869
@MarongHappy @pljones I think we should update the translators in the app, as bagjunggyu no longer has a GitHub account.

[2022-10-01 20:59] ann0see commented on #2813
@jamulussoftware/maindevelopers I think we should open the website translation issues as soon as possible (once we've confirmed the docs are up to date)

[2022-10-02 07:48] pljones commented on #2869
You mean
[code]

[2022-10-02 07:49] pljones commented on #2813
This is why they've not been opened.

[2022-10-02 08:11] ann0see commented on #2869
Yes

[2022-10-05 09:25] pljones commented on #1585
Closing, as I seem to have fixed it.

[2022-10-05 09:25] #1585 closed

[2022-10-05 13:15] pljones commented on #2688
Closing.  We've decided not to spend further effort on this annoying Windows-specific behaviour.

[2022-10-05 13:17] #2688 closed

[2022-10-05 18:18] pljones commented on #1430
Hi,

There are three builds here
https://github.com/jamulussoftware/jamulus/pull/2847#issuecomment-1251376746
Do any of them help?

Thanks,

-- Peter

[2022-10-07 19:07] ann0see commented on #2773
I think 3.9.1 will be the last version we can build on the old runner.

[2022-10-07 20:27] #2887 closed

[2022-10-09 17:04] #2865 closed

[2022-10-09 17:04] #2866 closed

[2022-10-09 17:04] #2867 closed

[2022-10-09 17:04] #2869 closed

[2022-10-09 17:04] #2870 closed

[2022-10-09 17:04] #2871 closed

[2022-10-09 17:04] #2872 closed

[2022-10-09 17:04] #2873 closed

[2022-10-09 17:04] #2875 closed

[2022-10-09 17:04] #2876 closed

[2022-10-09 17:06] pljones commented on #2874
Closing for 3.9.1rc1 - any updates will be picked up in a future release.

[2022-10-09 17:06] #2874 closed

[2022-10-09 17:06] pljones commented on #2868
Closing for 3.9.1rc1 - any updates will be picked up in a future release.

[2022-10-09 17:06] #2868 closed

[2022-10-09 17:06] pljones commented on #2877
Closing for 3.9.1rc1 - any updates will be picked up in a future release.

[2022-10-09 17:06] #2877 closed

[2022-10-09 20:24] ann0see opened #2902 "Ensure correct quoting in translations"
As above, English and translations should use "&lsquo;" `&lsquo;` and "&rsquo;" `&rsquo;`.  (This means you get language and font-specific rendering of the opening and closing quote marks.  "&ldquo;" `&ldquo;` and "&rdquo;" `&rdquo;` might be preferable.)

_Originally posted by @pljones in https://github.com/jamulussoftware/jamulus/pull/2856#discussion_r985194422_

[2022-10-09 20:26] ann0see opened #2903 "Use © symbol in Copyright screen"
Maybe true, but it should be a "©" and an en-dash "–⁠" https://www.thepunctuationguide.com/en-dash.html
I don't really know if RTL languages run the name on the right or not, but it is possible.
In languages that never use latin script it needs to be translatable.

_Originally posted by @comradekingu in https://github.com/jamulussoftware/jamulus/pull/2856#discussion_r974370335_

[2022-10-09 21:25] ann0see commented on #2813
@emlynmac could you please build the RC?

[2022-10-09 21:42] pljones commented on #2902
Note that this is best scripted if someone can do it reliably.  Doing it manually is going to be error-prone.

[2022-10-10 18:45] hoffie commented on #2877
@ann0see I think that part is still missing, right?

[2022-10-10 19:36] DavidSavinkoff opened #2904 "Weblate takes too much credit"
**Describe the bug**

Weblate takes too much credit in the code commits and Changelog. Weblate is a service, not an author and cannot make claims as a person such as copyright etc. Is Weblate GPL and Copyright compatible?

**To Reproduce**

**Expected behavior**

**Screenshots**

**Operating system**

**Version of Jamulus**

**Additional context**

[2022-10-10 20:32] pljones commented on #2904
No credit has so far been given to Weblate - the ChangeLog for rc1 hasn't been released yet, partly because I want to get the proper list of translators rather than just mentioning Weblate.

[2022-10-11 17:53] mcfnord commented on #2902
This is another reason why we should specify UI text in **bold** within documentation, rather than quoting it.

[2022-10-12 11:32] hoffie commented on #2711
See https://github.com/jamulussoftware/jamulus/pull/2625#issuecomment-1275690542:

Thanks to @danryu.

[2022-10-12 13:13] hoffie opened #2907 "iOS/Android: Drop aqt desktop sdk workarounds"
After merge of #2891, we should be able to drop the iOS/Android workarounds which install the desktop SDKs. According to the release notes this should work out of the box now.

[2022-10-12 19:59] hoffie commented on #2904
So, there are multiple parts, as I understand it:
1. Code: It seems like the Weblate options are rather limited right now. I agree that it would be best to have commits with real authorship information, but currently this doesn't seem possible (@ignotus666, correct me, if I'm wrong...). That part would be **can't fix** then.
2. Changelog: This can be worked on on the Jamulus side. That part should

[2022-10-12 20:02] hoffie commented on #2904
@ignotus666, @ann0see: Are we squashing by author yet (I assume we currently squash by language)? It seems like Weblate can do it and might better preserve authorship information then? https://docs.weblate.org/en/weblate-4.3.2/admin/addons.html#squash-git-commits

[2022-10-12 21:40] pljones commented on #2902
I'm sorry, I don't know what you're referring to. Could you provide an example?

[2022-10-16 21:18] ann0see commented on #2904
We have squash by language, I think.

[2022-10-16 21:18] ann0see commented on #2904
I‘ve just updated the ChangeLog with the contributors from Weblate

[2022-10-16 21:22] ann0see commented on #2813
The accelerator keys should be rechecked as we had a translation update

[2022-10-17 19:38] ann0see commented on #2758
I did that. Feel free to open a PR on the website with a suggestion to the release process (If it's not added yet)

This should be part of another separate issue, I think.

#2880

Not sure if I understand this correctly. Could you please elaborate? We have jamulussoftware/translators?

[2022-10-17 19:40] ann0see commented on #2813
@henkdegroot suggested to integrate Weblate into the release process a bit more: https://github.com/jamulussoftware/jamulus/issues/2758#issuecomment-1257176540
This might need updates.

[2022-10-17 19:40] ann0see commented on #2758
Closing for now, as we should open separate actionable issues.

[2022-10-17 19:40] #2758 closed

[2022-10-17 20:27] ann0see commented on #2813
3.9.1 GUI version works fine on my debian 10 machine. Sound is good.

[2022-10-17 21:13] ann0see commented on #2813
Windows ASIO and JACK also seem to work fine.

[2022-10-17 21:18] ann0see commented on #2813
macOS Legacy also seems ok

[2022-10-18 21:04] ann0see commented on #2813
macOS non legacy seems also ok.

[2022-10-18 21:47] ann0see commented on #2813
After that we used to delete next-release or force push to it...

[2022-10-18 22:59] chrisrimple commented on #2813
Can someone please clarify: 3.9.1 released in October and is the default download on http://jamulus.io, but we're nearing release of an update that will have the same version number (rather than be 3.9.2)?  I need to install a new server but may wait for the update if it's likely to get out in the next week or so.  Thanks.

[2022-10-19 06:02] ann0see commented on #2813
3.9.1 is the version which just got released. 3.9.2 or 3.10.0 isn't even planned yet.

[2022-10-19 07:06] hoffie commented on #2813
As written in the chat, I think we shouldn't have changed the order of steps from the release check list regarding finalizing all builds (signed Mac build) and updating the download links on the website. The website currently provides an unsigned build for Mac users, which is a regression and might show unexpected warnings to users (we've already got one enquiry at team@).

To rectify that, I've n

[2022-10-19 09:39] dzpex commented on #2868
Sorry for my delay, for the next release i hope to be in time...

[2022-10-19 18:23] ann0see commented on #2868
@dzpex no problem. You can also use Weblate (not at the moment though).

[2022-10-19 21:26] hoffie opened #2924 "Mac: Align non-signed Mac build logic with signed builds"
**What is the current behaviour and why should it be changed?**
Currently, intermediate Mac releases (CI on master, nightlies) use a simplified build logic without real signing. We do ad-hoc signing via `macdeployqt` now (I think), but that doesn't go through the real signing code path in our CI logic.

It's been the second time that we were caught by a build-related issue right at release time an

[2022-10-19 21:32] hoffie opened #2925 "Mac: Signed release build process gets stuck during signing"
**Describe the bug**

The 3.9.1 Mac builds could not be completed as all attempts to run the job in @emlynmac's repo with the appropriate signing environment in place failed. The builds got stuck. Further debugging showed that the builds got stuck during signing. Replacing `macdeployqt`'s signing part with `codesign` directly showed the same issue.
It is suspected that cccb21934c9162c0da28c0776d21

[2022-10-19 21:33] hoffie opened #2926 "Mac: Try re-enabling CodeQL on non-legacy build again"
**What is the current behaviour and why should it be changed?**
In #2564 we've moved the CodeQL logic to the legacy build target. The reason was that enabling CodeQL got the build stuck during release signing. The legacy build is not signed, therefore, the problem didn't appear there.
I'm suspecting that it might be the same cause as #2925. In other words: It might just be that CodeQL builds are s

[2022-10-19 21:36] hoffie commented on #2813
I might have found the underlying issue. I'm documenting it here: #2925. A 3.9.1 build with a fix included is currently running here: https://github.com/emlynmac/jamulus/actions/runs/3285054847/jobs/5411736285#step:10:1887

[2022-10-19 21:54] hoffie commented on #2813
The fix works and makes the build complete. @emlynmac did a successful test. I've therefore taken the build from @emlynmac's repo and replaced the unsigned one in our 3.9.1 release.

@pljones @ann0see: Should I modify the r3_9_1 tag to include #2927? I think we had a similar case with debian a few releases ago and I think we hadn't modified the tag there.

[2022-10-20 00:55] mcfnord commented on #2902
We use quotations to specify text found in the UI. I think this text is doing this:

 &quot;%1&quot; und gebe in der Registerkarte &quot;Optionen&quot;

I'd rather verbatim strings that appear in UI be presented in **bold**, but I guess the escaped code for that is even worse.

[2022-10-20 05:43] ann0see commented on #2924
Last time I tried self generated code signing certificates crashed the build as the certificate isn't an Apple one.

[2022-10-20 06:21] pljones commented on #2813
As we've not moved `latest`, I think moving `r3_9_1` is justified.

[2022-10-20 06:32] pljones commented on #2902
I'm not sure bold would mean "this is literally what you're going to see".  I take it more as a form of emphasis.

[2022-10-20 08:06] hoffie commented on #2813
We are talking about two kind of "latest" tags here though:
- The Github "latest" release badge on the release (I think it is added automatically when CI completes, although we can manually mark older releases as latest).
- The git tag "latest", which we update for historical reasons (I still find this process strange and have no feeling who uses it for what reasons; if anything, a branch would ma

[2022-10-20 15:37] #2925 closed

[2022-10-20 17:30] pljones commented on #2813
Yes, as we've got further than I thought.

[2022-10-20 18:52] pljones commented on #2813
"latest" was what was being pulled by "Simon's Script" when it built from source, IIRC, before it installed the .deb.  I think it's also something was quite common: "latest" referencing the latest stable build...  Such usage is generally now deprecated, in favour of taking control of dependencies and knowing what your versions are.  Whether that makes life simpler for more people or not, I don't k

[2022-10-20 21:28] #2886 closed

[2022-10-20 21:36] hoffie commented on #2813
Yep.

Regarding 3.9.1 again:
@pljones Could you do the SourceForge upload (I don't have access), post the announcement (you had already prepared it, I think) and update update02.jamulus.io? I can have a look at the remaining items tomorrow.

[2022-10-20 21:39] #2755 closed

[2022-10-21 16:30] pljones commented on #2813
On its way.

https://github.com/jamulussoftware/jamulus/discussions/2906

Still waiting for someone to confirm the website translators - I've not been able to mange to find out how.  It's worth double-checking the contributors.

Best after the annoucement, as it's more for those who don't read the announcement anyway.

[2022-10-21 18:43] ann0see commented on #2813
@pljones just for reference: https://hosted.weblate.org/projects/jamulus/#reports shows the translators

[2022-10-21 19:02] pljones commented on #2813
I don't see where you got that on the site.  Plain text would be easier for editing the announcement.

[2022-10-21 19:07] ann0see commented on #2813
I think you need to be logged in.

* Italian

    * ignotus  (1)
    * Giuseppe <dzpex> (57)

* Korean

    * ignotus  (26)
    * 이정희  (586)

* French

    * Olivier Humbert <trebmuh> (237)
    * Julien Taverna <jujudusud> (322)

* Spanish

    * ignotus  (136)

* Dutch

    * Maarten (1)
    * Henk De Groot  (850)

* German
    * ann0see  (22)

* Portuguese (Brazil)

    * ignotus  (20)
    * gbo

[2022-10-21 19:08] comradekingu commented on #2813
You need to be an admin to get those details too.

[2022-10-21 19:09] ann0see commented on #2813
Ok. Good to know. Thanks!

[2022-10-21 20:39] pljones commented on #2813
OK, for this release announcement we'll bundle app and website.

[2022-10-21 21:46] pljones commented on #2813
Are all the website issues for 3.9.1 getting closed?

[2022-10-22 05:34] ann0see commented on #2813
Not yet. I think the translation period is not yet over?

[2022-10-22 14:16] pljones commented on #2813
Well, for 3.9.1 it is.  Anything now is "after release".

[2022-10-22 16:14] Rob-NY opened #2933 "Two letter country codes need to be in lower case to work in 3.9.1"
Upper or mixed-case ISO country codes are not recognized per #2932 but lower case works.  Comparison statement in util.h:1463 needs to be slightly refactored.

[2022-10-22 16:33] ann0see commented on #2813
The website translation still has some time since it started a lot later than expected. So there will be a post release Update.

[2022-10-22 19:42] DavidSavinkoff commented on #2904
Be free to close this issue once enough has been done.

[2022-10-23 18:46] #2933 closed

[2022-10-25 18:36] hoffie opened #2937 "Build: Use Github environment files instead of deprecated set-output before 2023-05-31"
Many build steps show this warning during autobuild jobs. Need to check other jobs as well. Some warnings might be related to third-party repos. #2936 fixes one such instance.

[code]

Adding to 3.10.0 milestone for now, but feel free to drop it if it is not done at release done.

[2022-10-25 21:59] hoffie opened #2939 "Build: Update iOS build environment (macos-10.15)"
I realized just now that iOS is also still built on 10.15. This is going to fail and we must get rid of this dependency for 3.10.0.
I guess once #2711 is fixed, we should try to align the iOS environment with the Mac non-legacy one?

Related: #2773

[2022-10-30 19:20] hoffie commented on #2528
Lot's of relevant changes can be taken from #2909 (contributed by @danryu).

[2022-10-30 22:38] hoffie commented on #2926
Well, no, it doesn't seem like #2925 is sufficient to avoid this issue, see https://github.com/emlynmac/jamulus/actions/runs/3357222609/jobs/5562884622#step:10:1838

[2022-10-30 23:31] hoffie opened #2947 "Logging: Don't complain about serverinfo if no --serverinfo is given"
**Describe the bug**

`Jamulus -s -n` logs `Ignoring invalid serverinfo, please verify the parameter syntax.`.

**To Reproduce**

**Expected behavior**
No error should be logged if no `--serverinfo` is given.

**Screenshots**

**Operating system**
Linux

**Version of Jamulus**
master

**Additional context**
Issue got introduced in 5b2c2de6d0d2ee2363957b87a5ee984b2cce3e9f.

[2022-10-31 06:38] mcfnord commented on #2902
[Microsoft](https://learn.microsoft.com/en-us/style-guide/procedures-instructions/formatting-text-in-instructions) and [Google](https://developers.google.com/style/ui-elements#formatting) recommend bold for verbatim UI elements.

[2022-10-31 22:14] hoffie commented on #2939
I made a quick attempt at updating just the build environment (without Qt) for now, but it seems like a dead end.
Even the lowest Xcode version (13.1) has incompatible changes which would require workarounds:
https://github.com/hoffie/jamulus/actions/runs/3365069827/jobs/5580150018#step:10:46
https://gitlab.kitware.com/cmake/cmake/-/issues/22459

So it seems like the best course of action will be

[2022-10-31 22:27] hoffie commented on #2773
Meh, problems here as well: something (brew?) doesn't support xcode 11.7. :(
https://github.com/hoffie/jamulus/actions/runs/3365069827/jobs/5580149907#step:10:1427

Maybe we can try an older brew or switch xcode right before the create-dmg step.

The legacy build is a collection of hacks and workarounds. :(

[2022-11-01 13:14] hoffie commented on #2773
That's probably the problematic check: https://github.com/Homebrew/brew/blob/master/Library/Homebrew/os/mac/xcode.rb#L363

We could workaround that by switching to a more recent xcode for brew/create-dmg stage. I've tried that here:
https://github.com/hoffie/jamulus/actions/runs/3369510835

Can someone test if the resulting build is usable as a "legacy" build? If so, I'll try to come up with a way

[2022-11-01 19:30] ann0see commented on #2813
Website is now updated

[2022-11-01 20:17] ann0see commented on #1737
Note: Since the CI didn't start when I specifically allowed an action `user/repo@*`, I've now allowed actions based on users `user/**`. syntax. This should be a good tradeoff.

[2022-11-04 17:36] #2937 closed

[2022-11-06 07:11] ann0see commented on #2926
Maybe it's still something related. I remember @danryu changing some timeout to 6h.

[2022-11-06 07:58] danryu commented on #2926
I think you're probably referring to the keychain settings timeout in this PR: https://github.com/jamulussoftware/jamulus/pull/2624
Which is still not merged ;)
That timeout was taken from example Github docs on XCode: https://docs.github.com/en/actions/deployment/deploying-xcode-applications/installing-an-apple-certificate-on-macos-runners-for-xcode-development
It simply keeps the keychain unlock

[2022-11-07 20:55] ann0see commented on #2939
I tested your commit, and the GUI seems to be broken (more than it used to with Qt5). Buttons are outside of my screen etc.

[2022-11-07 21:40] hoffie commented on #2939
Thanks for testing. I guess we'll need someone with iOS access to try further fixes. Therefore, I'm removing my assignment.

[2022-11-07 22:44] #2681 closed

[2022-11-15 21:26] #2904 closed

[2022-11-15 21:26] ann0see commented on #2904
Done.

[2022-11-17 21:23] hoffie commented on #2773
Previous artifacts expired, I've kicked off a new run here: https://github.com/hoffie/jamulus/actions/runs/3492108643